Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, prettier, openapi-bundle, openapi-gen, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.11.0
    hooks:
      - id: helm-docs-built
        name: 'Helm Docs for Turing Chart'
        files: '^infra/charts/turing/'
        args:
          - --chart-search-root=infra/charts/turing
          - --template-files=./README.md.gotmpl
      - id: helm-docs-built
        name: 'Helm Docs for Turing Init Chart'
        files: '^infra/charts/turing-init/'
        args:
          - --chart-search-root=infra/charts/turing-init
          - --template-files=./README.md.gotmpl
  - repo: local
    hooks:
      - id: golangci-lint
        name: 'Linter for API'
        alias: golangci-lint-api
        files: '^api/'
        types: [go]
        language: system
        entry: bash -c 'cd api make lint'
      - id: golangci-lint
        name: 'Linter for the Router Engine'
        alias: golangci-lint-router
        files: '^engines/router/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/router make lint'
      - id: golangci-lint
        name: 'Linter for the Experiment Engine'
        alias: golangci-lint-experiment
        files: '^engines/experiment/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/experiment make lint'
  - repo: local
    hooks:
      - id: prettier
        name: 'Prettier for UI'
        files: '^ui/'
        types_or: [javascript, css]
        language: system
        entry: bash -c 'cd ui && yarn lint'
  - repo: local
    hooks:
      - id: openapi-bundle
        name: 'OpenAPI Swagger Dist'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd api/api && make all'
  - repo: local
    hooks:
      - id: openapi-gen
        name: 'OpenAPI Python client'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd sdk && make gen-client'
  - repo: local
    hooks:
      - id: black
        name: 'Black formatter for the SDK'
        alias: black-sdk
        files: '^sdk/'
        types: [python]
        language: system
        entry: bash -c 'cd sdk && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Job Engine'
        alias: black-ensembler-job
        files: '^engines/pyfunc-ensembler-job/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-job && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Service Engine'
        alias: black-ensembler-service
        files: '^engines/pyfunc-ensembler-service/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Resolve conflicts
  ui/src/components/config_multi_section_panel/ConfigMultiSectionPanel.js
  ui/src/components/config_section/ConfigSectionPanel.js
  ui/src/components/config_section/ConfigSectionPanelTitleWithToggle.js
  ui/src/components/config_section/index.js
  ui/src/router/components/configuration/components/RouterConfigSection.js
  ui/src/router/components/configuration/components/router_config_section/RoutesConfigTable.js
  ui/src/router/components/configuration/components/router_config_section/RoutesTableExpandedRow.js
  ui/src/router/components/configuration/components/router_config_section/RulesConfigTable.js
Due: prettier

Address PR comments
  ui/src/components/config_multi_section_panel/ConfigMultiSectionPanel.js
  ui/src/components/config_section/ConfigSectionPanel.js
  ui/src/components/config_section/ConfigSectionPanelTitle.js
  ui/src/components/config_section/ConfigSectionPanelTitleWithToggle.js
  ui/src/components/config_section/index.js
  ui/src/router/components/configuration/components/RouterConfigSection.js
  ui/src/router/components/configuration/components/router_config_section/RoutesTableExpandedRow.js
Due: prettier

Router Details Routes View Redesign (#239)
  ui/src/components/config_multi_section_panel/ConfigMultiSectionPanel.js
  ui/src/components/config_section/ConfigSectionPanel.js
  ui/src/components/config_section/ConfigSectionPanelTitle.js
  ui/src/router/components/configuration/components/RouterConfigSection.js
  ui/src/router/components/configuration/components/router_config_section/RoutesConfigTable.js
  ui/src/router/components/configuration/components/router_config_section/RoutesTableExpandedRow.js
  ui/src/router/components/configuration/components/router_config_section/RulesConfigTable.js
Due: prettier

Add validation for dangling routes
  api/turing/validation/validator.go
  api/turing/validation/validator_test.go
  ui/src/router/components/form/components/ensembler_config/RouteSelectionPanel.js
  ui/src/router/components/form/validation/schema.js
Due: golangci-lint, prettier

Standardize usage of declared variables
  api/turing/validation/validator_test.go
Due: golangci-lint

Address PR comments
  api/turing/validation/validator.go
  api/turing/validation/validator_test.go
  ui/src/router/components/form/components/ensembler_config/RouteSelectionPanel.js
  ui/src/router/components/form/components/ensembler_config/standard_ensembler/StandardEnsemblerFormGroup.js
  ui/src/router/components/form/components/nop_config/NopConfigFormGroup.js
  ui/src/router/components/form/steps/EnsemblerStep.js
  ui/src/router/components/form/validation/schema.js
Due: golangci-lint, prettier

Refactor default route id validation
  api/turing/validation/validator.go
  api/turing/validation/validator_test.go
Due: golangci-lint

Disallow Dangling routes with Traffic rules (#240)
  api/turing/validation/validator.go
  api/turing/validation/validator_test.go
  ui/src/router/components/form/components/ensembler_config/RouteSelectionPanel.js
  ui/src/router/components/form/components/ensembler_config/standard_ensembler/StandardEnsemblerFormGroup.js
  ui/src/router/components/form/components/nop_config/NopConfigFormGroup.js
  ui/src/router/components/form/steps/EnsemblerStep.js
  ui/src/router/components/form/validation/schema.js
Due: golangci-lint, prettier

use latest implementation of fiber who reduce marshalling and usage of dynamicpb
  engines/router/go.mod
  engines/router/go.sum
  engines/router/missionctl/fiberapi/fan_in.go
  engines/router/missionctl/fiberapi/fan_in_test.go
  engines/router/missionctl/fiberapi/interceptors.go
  engines/router/missionctl/fiberapi/routing_strategy.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy.go
  engines/router/missionctl/mission_control.go
  engines/router/missionctl/mission_control_upi.go
  engines/router/missionctl/mission_control_upi_test.go
  engines/router/missionctl/server/upi/logutils.go
  engines/router/missionctl/server/upi/server.go
  engines/router/missionctl/server/upi/server_test.go
Due: golangci-lint

update go fiber in api server and fix lintint
  api/go.mod
  api/go.sum
  engines/router/missionctl/mission_control_upi_test.go
  engines/router/missionctl/server/upi/server.go
Due: golangci-lint

[Infra] Expose user-configurable autoscaling parameters (#241)
  .github/workflows/cluster-init.yaml
  api/e2e/test/testdata/create_router_version.json.tmpl
  api/turing/config/config.go
  api/turing/config/example.yaml
  api/turing/config/testdata/config-1.yaml
  api/turing/models/autoscaling_policy.go
  infra/cluster-init/init.sh
  infra/docker-compose/dev/docker-compose.yml
  sdk/e2e/03_create_router_version_test.py
  ui/src/router/components/form/components/autoscaling_policy/AutoscalingPolicyPanel.js
  ui/src/router/components/form/components/autoscaling_policy/AutoscalingPolicyPanelFlyout.js
  ui/src/router/components/form/components/autoscaling_policy/typeOptions.js
Due: golangci-lint, prettier, black

using fiber fork. introducing cmux for prom http on grpc
  engines/router/README.md
  engines/router/go.mod
  engines/router/go.sum
  engines/router/missionctl/server/application.go
  engines/router/missionctl/server/upi/server.go
  engines/router/missionctl/server/upi/server_test.go
Due: golangci-lint

Add overlapping rules validation
  api/go.mod
  api/go.sum
  api/turing/validation/validator.go
  api/turing/validation/validator_test.go
Due: golangci-lint

Address PR comments
  api/turing/validation/validator.go
  api/turing/validation/validator_test.go
Due: golangci-lint

Add validation for overlapping rules (#242)
  api/go.mod
  api/go.sum
  api/turing/validation/validator.go
  api/turing/validation/validator_test.go
Due: golangci-lint

Replace deprecated ioutil functions with corresponding io or os ones
  api/e2e/test/04_undeploy_router_test.go
  api/e2e/test/06_deploy_valid_config_test.go
  api/e2e/test/helpers_api_test.go
  api/e2e/test/helpers_test.go
  api/turing/internal/testutils/utils.go
  api/turing/middleware/openapi_validation_test.go
  api/turing/service/alert_service_test.go
  api/turing/service/mlp_service_test.go
  api/turing/service/pod_log_service_test.go
  api/turing/utils/merge.go
Due: golangci-lint

Make standard ensembler only parse non nil configs to fiber config
  api/turing/cluster/servicebuilder/router.go
Due: golangci-lint

Remove redundant regex route path name check
  api/turing/api/request/request.go
  api/turing/api/request/request_test.go
Due: golangci-lint

Fix lint comments on indenting conditional statements
  api/e2e/test/helpers_api_test.go
Due: golangci-lint

Remove required tag from EnsemblerStandardConfig.RouteNamePath
  api/turing/models/ensembler.go
Due: golangci-lint

Add positive test to verify valid router config creation
  api/turing/api/request/request_test.go
Due: golangci-lint

Fix e2e tests after changes from rebasing
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/testdata/cluster/servicebuilder/router_version_success_std_ensembler_with_route_name_path.json
Due: golangci-lint

Add e2e tests for std ensemblers with route_name_path
  api/e2e/test/00_all_e2e_test.go
  api/e2e/test/09_deploy_router_with_route_name_path_std_ensembler_test.go
  api/e2e/test/testdata/create_router_std_ensembler_route_name_path.json.tmpl
  engines/experiment/examples/plugins/hardcoded/configs/plugin_config_example.yaml
Due: golangci-lint

Fix e2e test data
  api/e2e/test/09_deploy_router_with_route_name_path_std_ensembler_test.go
  api/e2e/test/testdata/create_router_std_ensembler_route_name_path.json.tmpl
Due: golangci-lint

Fix bug in e2e test for std ensembler with route name path
  api/e2e/test/01_create_router_test.go
  api/e2e/test/02_update_router_invalid_test.go
  api/e2e/test/03_create_router_version_test.go
  api/e2e/test/09_deploy_router_with_route_name_path_std_ensembler_test.go
  engines/experiment/examples/plugins/hardcoded/configs/plugin_config_example.yaml
  infra/e2e/turing.values.yaml
Due: golangci-lint

Add additional validation tests to ensure that experiment mappings and route name path are not both set
  api/turing/api/request/request.go
  api/turing/api/request/request_test.go
Due: golangci-lint

Fix router api test data
  api/turing/testdata/cluster/servicebuilder/router_configmap_traffic_splitting.yml
Due: none

Add additional unit tests for router service creation with std ensemblers with route name path
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/testdata/cluster/servicebuilder/router_configmap_std_ensembler_with_exp_mappings.yml
  api/turing/testdata/cluster/servicebuilder/router_configmap_std_ensembler_with_route_name_path.yml
  api/turing/testdata/cluster/servicebuilder/router_version_success_std_ensembler_with_exp_mappings.json
  api/turing/testdata/cluster/servicebuilder/router_version_success_std_ensembler_with_route_name_path.json
Due: golangci-lint

Remove unnecessary route name path field in json request
  api/turing/testdata/cluster/servicebuilder/router_version_success_std_ensembler_with_route_name_path.json
Due: none

Update ensembler struct in test data to reflect latest schema
  api/turing/testdata/cluster/servicebuilder/router_version_missing_bigquery.json
Due: none

Add custom validator for standard ensembler config
  api/turing/validation/validator.go
  api/turing/validation/validator_test.go
Due: golangci-lint

Update regex expression to allow empty route_name_path string
  api/api/openapi.bundle.yaml
  api/api/specs/routers.yaml
Due: openapi-bundle, openapi-gen

Refactor request parsing test
  api/turing/api/request/request_test.go
Due: golangci-lint

Add additional test case to verify the route name path is valid
  api/turing/api/request/request.go
  api/turing/api/request/request_test.go
Due: golangci-lint

Remove experiment mappings as a required field and update regex for route name path
  api/api/openapi.bundle.yaml
  api/api/specs/routers.yaml
  api/turing/models/ensembler.go
  api/turing/testdata/cluster/servicebuilder/router_configmap_std_ensembler_with_exp_mappings.yml
  api/turing/testdata/cluster/servicebuilder/router_configmap_std_ensembler_with_route_name_path.yml
  api/turing/testdata/cluster/servicebuilder/router_configmap_traffic_splitting.yml
Due: golangci-lint, openapi-bundle, openapi-gen

Add route_name_path to standard ensembler config
  api/api/openapi.bundle.yaml
  api/api/specs/routers.yaml
  api/turing/cluster/servicebuilder/router.go
  api/turing/models/ensembler.go
  api/turing/testdata/cluster/servicebuilder/router_configmap_standard_ensembler.yml
  api/turing/testdata/cluster/servicebuilder/router_configmap_traffic_splitting.yml
Due: golangci-lint, openapi-bundle, openapi-gen

Add additional conditional to e2e tests to check for ensembler pods only when docker/pyfunc types are used
  api/e2e/test/helpers_api_test.go
Due: golangci-lint

Remove standard ensembler config schema checks from request verification layer
  api/turing/api/request/request.go
  api/turing/api/request/request_test.go
Due: golangci-lint

Fix sdk e2e tests
  sdk/e2e/01_create_router_test.py
  sdk/e2e/02_update_router_invalid_test.py
  sdk/e2e/03_create_router_version_test.py
Due: black

Remove duplicated error messages from EnsemblerStandardConfig custom validation checks
  api/turing/validation/validator.go
  api/turing/validation/validator_test.go
Due: golangci-lint
