Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

golangci-lint:
  name: Linter for the Experiment Engine
  alias: golangci-lint-experiment
  language: system
  entry: bash -c 'cd engines/experiment make lint'

goimports:
  name: Run goimports
  alias: goimports
  language: system
  entry: goimports -w -local github.com/caraml-dev/turing

prettier:
  name: Prettier for UI
  language: system
  entry: bash -c 'cd ui && yarn lint'

openapi-bundle:
  name: OpenAPI Swagger Dist
  language: system
  entry: bash -c 'cd api/api && make all'

openapi-gen:
  name: OpenAPI Python client
  language: system
  entry: bash -c 'cd sdk && make gen-client'

black:
  name: Black formatter for Pyfunc Ensembler Service Engine
  alias: black-ensembler-service
  language: system
  entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Fix lint comments
  api/turing/api/request/request.go
Due: golangci-lint, goimports

Update update router endpoints to no longer expect name and env name
  api/e2e/test/testdata/update_router_high_cpu.json.tmpl
  api/e2e/test/testdata/update_router_nop_logger_proprietary_exp.json.tmpl
  api/turing/api/request/request.go
  api/turing/api/request/request_test.go
  api/turing/api/routers_api.go
  api/turing/api/routers_api_test.go
  api/turing/middleware/openapi_validation_test.go
Due: golangci-lint, goimports

Add ui components to allow default autoscaling policy payload size as input
  ui/src/router/components/form/components/DefaultAutoscalingPolicyPanel.js
  ui/src/router/components/form/components/ResourcesAndAutoscalingPolicyPanel.js
  ui/src/router/components/form/steps/RouterStep.js
  ui/src/services/ensembler/DockerEnsembler.js
  ui/src/services/ensembler/PyFuncEnsembler.js
  ui/src/services/router/TuringRouter.js
Due: prettier

Add SDK changes to enable the new payload_size field in autoscaling policy
  api/api/openapi.bundle.yaml
  api/api/specs/routers.yaml
  sdk/tests/conftest.py
  sdk/tests/testdata/api_responses/create_router_0000.json
  sdk/turing/generated/api/router_api.py
  sdk/turing/generated/model/autoscaling_policy.py
  sdk/turing/generated/model/enricher.py
  sdk/turing/generated/model/ensembler_docker_config.py
  sdk/turing/generated/model/ensembler_pyfunc_config.py
  sdk/turing/generated/model/router_version_config.py
  sdk/turing/router/config/autoscaling_policy.py
  sdk/turing/router/router.py
  sdk/turing/session.py
Due: openapi-bundle, openapi-gen, black

Add config and edit/create components for default autoscaling policy
  ui/src/router/components/configuration/components/ResourcesConfigTable.js
  ui/src/router/components/form/components/DefaultAutoscalingPolicyPanel.js
  ui/src/router/components/form/components/ResourcesAndAutoscalingPolicyPanel.js
  ui/src/router/components/form/components/ResourcesRequirementsPanel.js
  ui/src/router/components/form/components/docker_config/DockerConfigFormGroup.js
  ui/src/router/components/form/components/pyfunc_config/PyFuncConfigFormGroup.js
  ui/src/router/components/form/steps/EnricherStep.js
  ui/src/router/components/form/steps/RouterStep.js
  ui/src/router/components/form/validation/schema.js
  ui/src/router/edit/EditRouterView.js
  ui/src/services/ensembler/DockerEnsembler.js
  ui/src/services/ensembler/PyFuncEnsembler.js
  ui/src/services/router/TuringRouter.js
Due: prettier

Regenerate autogen code and dep files
  api/turing/cluster/servicebuilder/service_builder.go
  sdk/e2e/11_deploy_router_upi_traffic_split_test.py
  sdk/e2e/12_deploy_router_upi_std_ensembler_test.py
  sdk/tests/conftest.py
  sdk/turing/generated/model/router_version_config.py
  sdk/turing/router/config/autoscaling_policy.py
  sdk/turing/session.py
Due: golangci-lint, goimports, black

Fix unit tests and db migration files
  api/db-migrations/000016_make_resource_requests_not_null.down.sql
  api/db-migrations/000016_make_resource_requests_not_null.up.sql
  api/turing/validation/validator_test.go
Due: golangci-lint, goimports

Fix broken rebasing changes
  api/turing/validation/validator.go
Due: golangci-lint, goimports

Refactor validation methods
  api/turing/service/router_deployment_service.go
  api/turing/validation/validator.go
Due: golangci-lint, goimports

Update upi e2e testdata
  api/e2e/test/testdata/create_router_upi_simple.json.tmpl
  api/e2e/test/testdata/create_router_upi_with_std_ensembler.json.tmpl
  api/e2e/test/testdata/create_router_upi_with_traffic_rules.json.tmpl
Due: none

Remove redundant import
  api/turing/validation/validator.go
Due: golangci-lint, goimports

Manually improve indentation in OpenAPI specs
  api/api/openapi.bundle.yaml
Due: none

Fix typo in autoscaling policy description
  ui/src/router/components/form/components/DefaultAutoscalingPolicyPanel.js
Due: prettier

Fix db migration scripts
  api/db-migrations/000016_make_resource_requests_not_null.down.sql
  api/db-migrations/000016_make_resource_requests_not_null.up.sql
Due: none

Refactor cluster builder
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/cluster/servicebuilder/service_builder_test.go
  api/turing/config/config.go
  api/turing/service/router_deployment_service.go
Due: golangci-lint, goimports

Activate workflow for vpa_autoscaling branch
  .github/workflows/turing.yaml
Due: none

Remove Enabled field in DefaultAutoScalingPolicyConfig
  api/turing/config/config.go
  api/turing/config/config_test.go
Due: golangci-lint, goimports

Restore validation tags for AutoscalingPolicy
  api/turing/models/autoscaling_policy.go
Due: golangci-lint, goimports

Remove DEFAULT_AUTOSCALING_POLICY from SDK
  sdk/tests/conftest.py
  sdk/tests/fixtures/mlflow.py
  sdk/tests/router/config/autoscaling_policy_test.py
  sdk/tests/router/config/enricher_test.py
  sdk/tests/router/config/route_test.py
  sdk/tests/router/config/router_config_test.py
  sdk/tests/router/config/router_ensembler_config_test.py
  sdk/turing/router/config/autoscaling_policy.py
  sdk/turing/router/config/enricher.py
  sdk/turing/router/config/router_config.py
  sdk/turing/router/config/router_ensembler_config.py
Due: black

Fix lint comments
  api/turing/cluster/servicebuilder/service_builder.go
Due: golangci-lint, goimports

Fix SDK e2e tests
  sdk/e2e/01_create_router_test.py
  sdk/e2e/02_update_router_invalid_test.py
  sdk/e2e/08_deploy_router_with_traffic_rules_test.py
  sdk/e2e/09_deploy_router_with_std_ensembler_test.py
  sdk/e2e/10_deploy_router_upi_test.py
  sdk/e2e/11_deploy_router_upi_traffic_split_test.py
  sdk/e2e/12_deploy_router_upi_std_ensembler_test.py
Due: black

Update github workflow to activate e2e for branches
  .github/workflows/turing.yaml
Due: none

Update yaml syntax in github workflow file
  .github/workflows/turing.yaml
Due: none

remove logging for testing
  engines/router/missionctl/server/upi/logutils.go
  engines/router/missionctl/server/upi/server.go
Due: golangci-lint, goimports

revert back logging and pprof
  engines/router/missionctl/server/application.go
  engines/router/missionctl/server/upi/logutils.go
  engines/router/missionctl/server/upi/server.go
Due: golangci-lint, goimports

revert back logging and pprof
  engines/router/missionctl/server/application.go
  engines/router/missionctl/server/upi/logutils.go
Due: golangci-lint, goimports

revert back logging and pprof
  engines/router/missionctl/server/application.go
Due: golangci-lint, goimports

remove startnewspan config and start all span by default
  engines/router/.env.development
  engines/router/README.md
  engines/router/compose/app.yaml
  engines/router/missionctl/config/config.go
  engines/router/missionctl/config/config_test.go
  engines/router/missionctl/fiberapi/interceptors_test.go
  engines/router/missionctl/instrumentation/tracing/jaeger.go
  engines/router/missionctl/instrumentation/tracing/jaeger_test.go
  engines/router/missionctl/instrumentation/tracing/nop.go
  engines/router/missionctl/instrumentation/tracing/nop_test.go
  engines/router/missionctl/instrumentation/tracing/tracing.go
  engines/router/missionctl/instrumentation/tracing/tracing_test.go
Due: golangci-lint, goimports

UPI jaeger tracing bugfix and remove start_new_span config (#301)
  engines/router/.env.development
  engines/router/README.md
  engines/router/compose/app.yaml
  engines/router/missionctl/config/config.go
  engines/router/missionctl/config/config_test.go
  engines/router/missionctl/fiberapi/interceptors_test.go
  engines/router/missionctl/instrumentation/tracing/jaeger.go
  engines/router/missionctl/instrumentation/tracing/jaeger_test.go
  engines/router/missionctl/instrumentation/tracing/nop.go
  engines/router/missionctl/instrumentation/tracing/nop_test.go
  engines/router/missionctl/instrumentation/tracing/tracing.go
  engines/router/missionctl/instrumentation/tracing/tracing_test.go
  engines/router/missionctl/server/application.go
  engines/router/missionctl/server/upi/logutils.go
  engines/router/missionctl/server/upi/server.go
Due: golangci-lint, goimports

Add MetricsRegistrationHelper as argument to RegisterMetrics
  engines/experiment/examples/plugins/hardcoded/go.mod
  engines/experiment/examples/plugins/hardcoded/go.sum
  engines/experiment/examples/plugins/hardcoded/runner.go
  engines/experiment/examples/plugins/nop/runner.go
  engines/experiment/go.mod
  engines/experiment/go.sum
  engines/experiment/plugin/inproc/runner/runner_test.go
  engines/experiment/plugin/rpc/mocks/experiment_runner.go
  engines/experiment/plugin/rpc/runner/plugin.go
  engines/experiment/plugin/rpc/runner/rpc.go
  engines/experiment/plugin/rpc/runner/runner.go
  engines/experiment/runner/mocks/experiment_runner.go
  engines/experiment/runner/nop/experiment_runner.go
  engines/experiment/runner/runner.go
Due: golangci-lint, goimports

Add RegisterCollector to experiment engine
  engines/experiment/examples/plugins/hardcoded/go.mod
  engines/experiment/examples/plugins/hardcoded/go.sum
  engines/experiment/examples/plugins/hardcoded/runner.go
  engines/experiment/examples/plugins/nop/runner.go
  engines/experiment/go.mod
  engines/experiment/go.sum
  engines/experiment/plugin/inproc/runner/runner_test.go
  engines/experiment/plugin/rpc/mocks/experiment_runner.go
  engines/experiment/plugin/rpc/runner/plugin.go
  engines/experiment/plugin/rpc/runner/rpc.go
  engines/experiment/plugin/rpc/runner/rpc_test.go
  engines/experiment/plugin/rpc/runner/runner.go
  engines/experiment/runner/mocks/experiment_runner.go
  engines/experiment/runner/nop/experiment_runner.go
  engines/experiment/runner/runner.go
Due: golangci-lint, goimports

Refactor router to use gojek/mlp metrics package
  engines/router/go.mod
  engines/router/go.sum
  engines/router/missionctl/experiment/experiment.go
  engines/router/missionctl/instrumentation/metrics/metrics.go
  engines/router/missionctl/instrumentation/metrics/nop.go
  engines/router/missionctl/instrumentation/metrics/nop_test.go
  engines/router/missionctl/instrumentation/metrics/prometheus.go
Due: golangci-lint, goimports

Refactor Turing router to remove overlapping metrics methods
  engines/router/missionctl/experiment/experiment.go
  engines/router/missionctl/experiment/metrics_interceptor.go
  engines/router/missionctl/experiment/metrics_interceptor_test.go
  engines/router/missionctl/fiberapi/fan_in.go
  engines/router/missionctl/fiberapi/interceptors.go
  engines/router/missionctl/fiberapi/interceptors_test.go
  engines/router/missionctl/fiberapi/internal/testutils/mocks.go
  engines/router/missionctl/instrumentation/metrics/metrics.go
  engines/router/missionctl/instrumentation/metrics/metrics_test.go
  engines/router/missionctl/instrumentation/metrics/prometheus_test.go
  engines/router/missionctl/instrumentation/prometheus.go
  engines/router/missionctl/log/resultlog/fluentd.go
  engines/router/missionctl/log/resultlog/kafka.go
  engines/router/missionctl/mission_control.go
  engines/router/missionctl/mission_control_upi.go
  engines/router/missionctl/server/http/handlers/batch_http_handler.go
  engines/router/missionctl/server/http/handlers/http_handler.go
  engines/router/missionctl/server/upi/server.go
Due: golangci-lint, goimports

Update Turing API go mod deps
  api/go.mod
  api/go.sum
Due: none

Refactor experiment engine to use refactored router data types
  engines/experiment/go.mod
  engines/experiment/go.sum
  engines/experiment/plugin/rpc/runner/rpc.go
  engines/experiment/runner/runner.go
Due: golangci-lint, goimports

Update deps in apps dependent on refactoring in Turing router and experiment engine
  api/go.mod
  api/go.sum
  engines/experiment/go.mod
  engines/experiment/go.sum
Due: none

Break excessively long line to fix lint comment
  engines/experiment/plugin/rpc/runner/rpc.go
Due: golangci-lint, goimports

Fix changes related to vault package after mlp upgrade
  api/e2e/test/cluster/cluster.go
  api/turing/api/appcontext.go
  api/turing/api/appcontext_test.go
  api/turing/cluster/controller.go
  api/turing/middleware/authorization.go
  api/turing/vault/vault.go
Due: golangci-lint, goimports

Fix exp engine lint comments
  engines/experiment/plugin/rpc/runner/rpc.go
Due: golangci-lint, goimports

Path conditions:
  golangci-lint: ((any of: ^api/ and \.go$) or (any of: ^engines/router/ and \.go$)) or (any of: ^engines/experiment/ and \.go$)
  goimports: any of: ^[api/|engines/router/|engines/experiment/] and \.go$ and not (pb.go)
  prettier: any of: ^ui/ and \.(js|mjs|cjs)$, \.css$
  openapi-bundle: any of: ^api/api/specs/
  openapi-gen: any of: ^api/api/specs/
  black: ((any of: ^sdk/ and \.py$) or (any of: ^engines/pyfunc-ensembler-job/ and \.py$)) or (any of: ^engines/pyfunc-ensembler-service/ and \.py$)
