Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.11.0
    hooks:
      - id: helm-docs-built
        name: 'Helm Docs for Turing Chart'
        files: '^infra/charts/turing/'
        args:
          - --chart-search-root=infra/charts/turing
          - --template-files=./README.md.gotmpl
      - id: helm-docs-built
        name: 'Helm Docs for Turing Init Chart'
        files: '^infra/charts/turing-init/'
        args:
          - --chart-search-root=infra/charts/turing-init
          - --template-files=./README.md.gotmpl
  - repo: local
    hooks:
      - id: golangci-lint
        name: 'Linter for API'
        alias: golangci-lint-api
        files: '^api/'
        types: [go]
        language: system
        entry: bash -c 'cd api make lint'
      - id: golangci-lint
        name: 'Linter for the Router Engine'
        alias: golangci-lint-router
        files: '^engines/router/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/router make lint'
      - id: golangci-lint
        name: 'Linter for the Experiment Engine'
        alias: golangci-lint-experiment
        files: '^engines/experiment/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/experiment make lint'
  - repo: local
    hooks:
      - id: goimports
        name: 'Run goimports'
        alias: goimports
        files: '^[api/|engines/router/|engines/experiment/]'
        exclude: "pb.go"
        types: [go]
        language: system
        entry: goimports -w -local github.com/caraml-dev/turing
  - repo: local
    hooks:
      - id: prettier
        name: 'Prettier for UI'
        files: '^ui/'
        types_or: [javascript, css]
        language: system
        entry: bash -c 'cd ui && yarn lint'
  - repo: local
    hooks:
      - id: openapi-bundle
        name: 'OpenAPI Swagger Dist'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd api/api && make all'
  - repo: local
    hooks:
      - id: openapi-gen
        name: 'OpenAPI Python client'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd sdk && make gen-client'
  - repo: local
    hooks:
      - id: black
        name: 'Black formatter for the SDK'
        alias: black-sdk
        files: '^sdk/'
        types: [python]
        language: system
        entry: bash -c 'cd sdk && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Job Engine'
        alias: black-ensembler-job
        files: '^engines/pyfunc-ensembler-job/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-job && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Service Engine'
        alias: black-ensembler-service
        files: '^engines/pyfunc-ensembler-service/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Fix bug in error handling
  api/turing/api/deployment_controller.go
Due: golangci-lint, goimports

Refactor exp engine secret source to be a mounted volume
  api/turing/api/deployment_controller.go
  api/turing/api/request/request.go
  api/turing/cluster/controller.go
  api/turing/cluster/controller_test.go
  api/turing/cluster/mocks/controller.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/testdata/config-2.yaml
  api/turing/models/experiment_engine.go
  api/turing/service/mocks/router_deployment_service.go
  api/turing/service/router_deployment_service.go
  infra/charts/turing/templates/_helpers.tpl
Due: golangci-lint, goimports

Add unit tests to router service builder
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/testdata/cluster/servicebuilder/router_version_success_experiment_engine.json
Due: golangci-lint, goimports

Update go mod versions
  api/go.mod
Due: none

Fix indentation in helm template
  infra/charts/turing/templates/_helpers.tpl
Due: none

Regenerate mocked cluster and services
  api/turing/cluster/mocks/controller.go
  api/turing/service/mocks/router_deployment_service.go
Due: golangci-lint, goimports

Refactor secret retrieval methods
  api/turing/api/deployment_controller.go
  api/turing/cluster/controller.go
  api/turing/service/router_deployment_service.go
Due: golangci-lint, goimports

Fix lint comments
  api/turing/api/deployment_controller.go
  api/turing/cluster/servicebuilder/service_builder_test.go
Due: golangci-lint, goimports

Update chart helpers
  infra/charts/turing/templates/_helpers.tpl
Due: none

Add changes to locate secret locally
  api/turing/api/deployment_controller.go
  api/turing/cluster/controller.go
  api/turing/service/router_deployment_service.go
Due: golangci-lint, goimports

Remove unused unit test
  api/turing/cluster/controller_test.go
Due: golangci-lint, goimports

Remove unused cluster controller
  api/turing/cluster/controller.go
Due: golangci-lint, goimports

Update mount path for exp engine secret in router to prevent path clash
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
Due: golangci-lint, goimports

Separate volume mount path for router auth token
  api/turing/cluster/servicebuilder/fluentd.go
  api/turing/cluster/servicebuilder/fluentd_test.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
Due: golangci-lint, goimports

Update volume mount paths for fluentd volumes
  api/turing/cluster/servicebuilder/fluentd.go
  api/turing/cluster/servicebuilder/fluentd_test.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/cluster/servicebuilder/service_builder.go
Due: golangci-lint, goimports

Remove serviceAccountKeyFilePath from being parsed into json
  api/turing/models/experiment_engine.go
Due: golangci-lint, goimports

Revert fluentd mount path changes
  api/turing/cluster/servicebuilder/fluentd.go
  api/turing/cluster/servicebuilder/fluentd_test.go
Due: golangci-lint, goimports

Update openapi configs while reverting change to serviceaccountkeyfilepath
  api/api/openapi.bundle.yaml
  api/api/specs/experiment-engines.yaml
  api/turing/models/experiment_engine.go
  sdk/turing/generated/model/experiment_config.py
Due: golangci-lint, goimports, openapi-bundle, openapi-gen, black

Change match writers for grpc using so every grpc client can use this server
  engines/router/missionctl/server/application.go
Due: golangci-lint, goimports

Fix lint errors
  engines/pyfunc-ensembler-job/ensembler/__init__.py
  engines/pyfunc-ensembler-job/ensembler/sink.py
Due: black

Modify error rate's alert query that use UPI protocol (#278)
  api/turing/models/alert.go
  api/turing/models/alert_test.go
Due: golangci-lint, goimports

Deploy experiment engine secrets with router deployment (#274)
  api/api/openapi.bundle.yaml
  api/api/specs/experiment-engines.yaml
  api/turing/api/deployment_controller.go
  api/turing/api/deployment_controller_test.go
  api/turing/api/request/request.go
  api/turing/cluster/controller.go
  api/turing/cluster/mocks/controller.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/cluster/servicebuilder/service_builder_test.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/testdata/config-2.yaml
  api/turing/models/experiment_engine.go
  api/turing/service/mocks/router_deployment_service.go
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
  api/turing/testdata/cluster/servicebuilder/router_version_success_experiment_engine.json
  engines/pyfunc-ensembler-job/ensembler/__init__.py
  engines/pyfunc-ensembler-job/ensembler/sink.py
  infra/charts/turing/templates/_helpers.tpl
  sdk/turing/generated/model/experiment_config.py
Due: golangci-lint, goimports, openapi-bundle, openapi-gen, black

Add view panel for lazy routing
  engines/experiment/examples/plugins/hardcoded/go.sum
  ui/src/providers/experiments/ExperimentEngineContextProvider.js
  ui/src/router/components/configuration/components/standard_config_section/RoutingOrderConfigSection.js
  ui/src/router/components/configuration/components/standard_config_section/StandardConfigViewGroup.js
  ui/src/router/components/form/components/ensembler_config/EnsemblerTypePanel.js
  ui/src/router/components/form/components/ensembler_config/standard_ensembler/StandardEnsemblerFormGroup.js
  ui/src/router/components/form/components/ensembler_config/standard_ensembler/StandardEnsemblerRoutingOrderPanel.js
  ui/src/router/components/form/steps/EnsemblerStep.js
  ui/src/router/components/form/validation/schema.js
  ui/src/services/ensembler/StandardEnsembler.js
Due: prettier

Update API unit tests
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/testdata/cluster/servicebuilder/router_configmap_std_ensembler_lazy_routing.yml
  api/turing/testdata/cluster/servicebuilder/router_version_success_std_ensembler_lazy_routing.json
  api/turing/testdata/cluster/servicebuilder/router_version_success_std_ensembler_with_route_name_path.json
Due: golangci-lint, goimports

Add .eslintignore
  ui/.eslintignore
  ui/craco.config.js
  ui/package.json
Due: prettier

Update user docs
  docs/.gitbook/assets/standard_ensembler_lazy_routing.png
  docs/how-to/create-a-router/configure-ensembler.md
Due: none

Update eslint config
  ui/package.json
Due: none

Update eslint config to only lint src
  ui/.eslintignore
  ui/package.json
Due: none

Fix SDK tests
  sdk/e2e/10_deploy_router_upi_test.py
  sdk/e2e/11_deploy_router_upi_traffic_split_test.py
  sdk/e2e/12_deploy_router_upi_std_ensembler_test.py
  sdk/tests/conftest.py
  sdk/tests/router/config/route_test.py
  sdk/tests/router/config/router_ensembler_config_test.py
  sdk/turing/generated/model/ensembler_standard_config.py
  sdk/turing/router/config/route.py
  sdk/turing/router/config/router_config.py
  sdk/turing/router/config/router_ensembler_config.py
  sdk/turing/router/config/router_version.py
Due: black

Update API test case
  api/turing/cluster/servicebuilder/router_test.go
Due: golangci-lint, goimports

Increase default fluentd resources
  api/turing/cluster/servicebuilder/fluentd.go
Due: golangci-lint, goimports

Update router Errorw logs to Warnw
  engines/router/missionctl/server/http/handlers/logutils.go
  engines/router/missionctl/server/upi/logutils.go
Due: golangci-lint, goimports

Revert "Update router Errorw logs to Warnw"
  engines/router/missionctl/server/http/handlers/logutils.go
  engines/router/missionctl/server/upi/logutils.go
Due: golangci-lint, goimports

Change match writers for grpc using so every grpc client can use this server (#283)
  engines/router/missionctl/server/application.go
Due: golangci-lint, goimports

Increase Fluentd resources (#285)
  api/turing/cluster/servicebuilder/fluentd.go
Due: golangci-lint, goimports

add v1 predict to json unmarshaling
  api/turing/models/router.go
  api/turing/models/router_test.go
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint, goimports

bugfix router endpoint saving in db (#286)
  api/turing/models/router.go
  api/turing/models/router_test.go
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint, goimports

Make fluentd worker count configurable
  scripts/fluentd-bigquery/.env.template
  scripts/fluentd-bigquery/Dockerfile
  scripts/fluentd-bigquery/fluent.conf
Due: none

Increase fluentd workers
  scripts/fluentd-bigquery/fluent.conf
Due: none

Remove root_dir and @id
  scripts/fluentd-bigquery/Dockerfile
  scripts/fluentd-bigquery/fluent.conf
Due: none
