Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, prettier, openapi-bundle, openapi-gen, black

golangci-lint:
  name: Linter for the Experiment Engine
  alias: golangci-lint-experiment
  language: system
  entry: bash -c 'cd engines/experiment make lint'

prettier:
  name: Prettier for UI
  language: system
  entry: bash -c 'cd ui && yarn lint'

openapi-bundle:
  name: OpenAPI Swagger Dist
  language: system
  entry: bash -c 'cd api/api && make all'

openapi-gen:
  name: OpenAPI Python client
  language: system
  entry: bash -c 'cd sdk && make gen-client'

black:
  name: Black formatter for Pyfunc Ensembler Service Engine
  alias: black-ensembler-service
  language: system
  entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Fix unit tests
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
Due: golangci-lint

Revet knative serving version update
  api/go.mod
  api/go.sum
Due: none

Fix unit tests
  api/turing/cluster/knative_service.go
  api/turing/cluster/models.go
Due: golangci-lint

Make api add plugin binary to router config
  api/turing/cluster/servicebuilder/router.go
  api/turing/testdata/cluster/servicebuilder/router_configmap_exp_engine.yml
Due: golangci-lint

Remove redundant util file
  engines/experiment/pkg/utils/file_download.go
Due: golangci-lint

Update knative version for e2e cluster
  .github/workflows/turing.yaml
Due: none

Add custom config-features feature flag configmap to cluster-init
  infra/cluster-init/config-features.yaml
  infra/cluster-init/init.sh
Due: none

Remove plugins server file
  api/turing/cluster/servicebuilder/plugins_server.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
Due: golangci-lint

Add protocol to router and routers in api server. Refactor and combine service+method of grpc config in fiber
  api/api/openapi.bundle.yaml
  api/api/specs/routers.yaml
  api/db-migrations/000015_add_router_protocol.down.sql
  api/db-migrations/000015_add_router_protocol.up.sql
  api/go.mod
  api/go.sum
  api/turing/api/request/request.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/middleware/openapi_validation_test.go
  api/turing/models/router_version.go
  api/turing/models/routes.go
  api/turing/models/routes_test.go
  api/turing/testdata/cluster/servicebuilder/router_configmap_default.yml
  api/turing/testdata/cluster/servicebuilder/router_configmap_ensembling.yml
  api/turing/testdata/cluster/servicebuilder/router_configmap_exp_engine.yml
  api/turing/testdata/cluster/servicebuilder/router_configmap_no_default_route.yml
  api/turing/testdata/cluster/servicebuilder/router_configmap_std_ensembler_with_exp_mappings.yml
  api/turing/testdata/cluster/servicebuilder/router_configmap_std_ensembler_with_route_name_path.yml
  api/turing/testdata/cluster/servicebuilder/router_configmap_traffic_splitting.yml
  api/turing/testdata/cluster/servicebuilder/router_version_basic.json
  api/turing/testdata/cluster/servicebuilder/router_version_missing_bigquery.json
  api/turing/testdata/cluster/servicebuilder/router_version_no_default_route.json
  api/turing/testdata/cluster/servicebuilder/router_version_success.json
  api/turing/testdata/cluster/servicebuilder/router_version_success_experiment_engine.json
  api/turing/testdata/cluster/servicebuilder/router_version_success_std_ensembler_with_exp_mappings.json
  api/turing/testdata/cluster/servicebuilder/router_version_success_std_ensembler_with_route_name_path.json
  api/turing/testdata/cluster/servicebuilder/router_version_success_traffic_splitting.json
  api/turing/validation/validator_test.go
  engines/router/go.mod
  engines/router/go.sum
  engines/router/missionctl/server/application.go
  engines/router/missionctl/testdata/benchmark/single_route_upi_grpc.yaml
  engines/router/missionctl/testdata/grpc/grpc_router_faulty_port.yaml
  engines/router/missionctl/testdata/grpc/grpc_router_minimal.yaml
  engines/router/missionctl/testdata/grpc/grpc_router_minimal_two_route.yaml
Due: golangci-lint, openapi-bundle, openapi-gen

fix integration e2e test
  api/turing/service/router_version_service_test.go
Due: golangci-lint

fix migration script
  api/db-migrations/000015_add_router_protocol.down.sql
  api/db-migrations/000015_add_router_protocol.up.sql
Due: none

add sdk changes for protocol
  api/api/openapi.bundle.yaml
  api/api/specs/routers.yaml
  sdk/tests/conftest.py
  sdk/tests/router/config/route_test.py
  sdk/tests/router/config/router_config_test.py
  sdk/turing/generated/model/route.py
  sdk/turing/generated/model/route_protocol.py
  sdk/turing/generated/model/router_protocol.py
  sdk/turing/generated/model/router_version.py
  sdk/turing/generated/models/__init__.py
  sdk/turing/router/config/route.py
  sdk/turing/router/config/router_config.py
  sdk/turing/router/config/router_version.py
Due: openapi-bundle, openapi-gen, black

fix typo in e2e file
  api/e2e/test/testdata/create_router_with_std_ensembler.json.tmpl
Due: none

fix integration and rename router protocol
  api/api/openapi.bundle.yaml
  api/api/specs/routers.yaml
  api/turing/service/router_service_test.go
  api/turing/service/router_version_service_test.go
Due: golangci-lint, openapi-bundle, openapi-gen

update e2e test files
  api/e2e/test/testdata/create_router_nop_logger_proprietary_exp.json.tmpl
  api/e2e/test/testdata/create_router_version.json.tmpl
  api/e2e/test/testdata/create_router_with_std_ensembler.json.tmpl
  api/e2e/test/testdata/create_router_with_traffic_rules.json.tmpl
  api/e2e/test/testdata/update_router_high_cpu.json.tmpl
Due: none

changing endpoint for grpc, remove json unmarshalling for http
  api/turing/models/router.go
  api/turing/models/router_test.go
  api/turing/models/router_version.go
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint

add h2c container for upi router and remove httpmatches
  api/turing/cluster/knative_service.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/cluster/servicebuilder/service_builder_test.go
  api/turing/testdata/cluster/servicebuilder/router_configmap_default_upi.yml
  api/turing/testdata/cluster/servicebuilder/router_version_basic_upi.json
Due: golangci-lint

fix integration e2e test
  api/db-migrations/000015_add_router_protocol.up.sql
Due: none

add assertion for e2e test for http protocol
  sdk/e2e/01_create_router_test.py
Due: black

remove liveness probe for upi due to knative
  api/turing/cluster/knative_service.go
Due: golangci-lint

make protocol default to http and add test
  api/config-dev.yaml
  api/turing/api/request/request.go
  api/turing/api/request/request_test.go
  api/turing/api/router_versions_api_test.go
  api/turing/api/routers_api_test.go
  api/turing/cluster/knative_service_test.go
  api/turing/service/router_deployment_service_test.go
  api/turing/validation/validator_test.go
  sdk/turing/router/config/router_config.py
Due: golangci-lint, black

patch router probe implementation
  api/config-dev.yaml
  engines/router/missionctl/server/application.go
Due: golangci-lint

Mupdate fiber version and test e2e
  api/e2e/test/00_all_e2e_test.go
  api/e2e/test/helpers_api_test.go
  api/go.mod
  api/go.sum
  engines/router/go.mod
  engines/router/go.sum
  infra/e2e/turing.mockserver.yaml
Due: golangci-lint

test api and python e2e
  api/e2e/test/10_deploy_upi_router_test.go
  api/e2e/test/helpers_api_test.go
  api/e2e/test/testdata/create_router_upi_simple.json.tmpl
  infra/e2e/turing.mockserver.yaml
  sdk/e2e/10_deploy_router_upi_test.py
Due: golangci-lint, black

test e2e and add python e2e
  sdk/e2e/10_deploy_router_upi_test.py
  sdk/requirements.dev.txt
Due: black

test e2e
  .github/workflows/turing.yaml
  api/e2e/test/10_deploy_upi_router_test.go
  api/e2e/test/helpers_api_test.go
  api/go.mod
Due: golangci-lint

test e2e
  api/e2e/test/helpers_api_test.go
  api/e2e/test/testdata/create_router_upi_simple.json.tmpl
Due: golangci-lint

test api and python e2e - patch json
  api/e2e/test/testdata/create_router_upi_simple.json.tmpl
Due: none

test e2e
  sdk/e2e/09_deploy_router_with_std_ensembler_test.py
Due: black

update fiber version and test e2e
  api/e2e/test/10_deploy_upi_router_test.go
  api/e2e/test/testdata/create_router_upi_simple.json.tmpl
Due: golangci-lint

test e2e
  api/e2e/test/testdata/create_router_upi_simple.json.tmpl
  api/go.mod
  sdk/e2e/09_deploy_router_with_std_ensembler_test.py
Due: black

update go mod
  api/go.mod
  api/go.sum
Due: none

test api and python e2e
  .github/workflows/turing.yaml
  api/e2e/test/10_deploy_upi_router_test.go
  api/e2e/test/testdata/create_router_upi_simple.json.tmpl
  sdk/e2e/10_deploy_router_upi_test.py
Due: golangci-lint, black

test api and python e2e - update e2e endpoint
  sdk/e2e/10_deploy_router_upi_test.py
Due: black

test api and python e2e - refactor and add debug to sdk
  api/e2e/test/00_all_e2e_test.go
  api/e2e/test/01_create_router_test.go
  api/e2e/test/08_deploy_router_with_traffic_rules_test.go
  api/e2e/test/09_deploy_router_with_std_ensembler_test.go
  api/e2e/test/10_deploy_upi_router_test.go
  api/e2e/test/helpers_api_test.go
  sdk/e2e/conftest.py
Due: golangci-lint, black

test api and python e2e - refactor and add debug to sdk
  api/e2e/test/10_deploy_upi_router_test.go
  sdk/Makefile
  sdk/e2e/10_deploy_router_upi_test.py
Due: golangci-lint, black

test api and python e2e - refactor and add debug to sdk
  api/e2e/test/10_deploy_upi_router_test.go
  sdk/e2e/10_deploy_router_upi_test.py
Due: golangci-lint, black

Path conditions:
  golangci-lint: ((any of: ^api/ and \.go$) or (any of: ^engines/router/ and \.go$)) or (any of: ^engines/experiment/ and \.go$)
  prettier: any of: ^ui/ and \.(js|mjs|cjs)$, \.css$
  openapi-bundle: any of: ^api/api/specs/
  openapi-gen: any of: ^api/api/specs/
  black: ((any of: ^sdk/ and \.py$) or (any of: ^engines/pyfunc-ensembler-job/ and \.py$)) or (any of: ^engines/pyfunc-ensembler-service/ and \.py$)
