Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.11.0
    hooks:
      - id: helm-docs-built
        name: 'Helm Docs for Turing Chart'
        files: '^infra/charts/turing/'
        args:
          - --chart-search-root=infra/charts/turing
          - --template-files=./README.md.gotmpl
      - id: helm-docs-built
        name: 'Helm Docs for Turing Init Chart'
        files: '^infra/charts/turing-init/'
        args:
          - --chart-search-root=infra/charts/turing-init
          - --template-files=./README.md.gotmpl
  - repo: local
    hooks:
      - id: golangci-lint
        name: 'Linter for API'
        alias: golangci-lint-api
        files: '^api/'
        types: [go]
        language: system
        entry: bash -c 'cd api make lint'
      - id: golangci-lint
        name: 'Linter for the Router Engine'
        alias: golangci-lint-router
        files: '^engines/router/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/router make lint'
      - id: golangci-lint
        name: 'Linter for the Experiment Engine'
        alias: golangci-lint-experiment
        files: '^engines/experiment/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/experiment make lint'
  - repo: local
    hooks:
      - id: goimports
        name: 'Run goimports'
        alias: goimports
        files: '^[api/|engines/router/|engines/experiment/]'
        exclude: "pb.go"
        types: [go]
        language: system
        entry: goimports -w -local github.com/caraml-dev/turing
  - repo: local
    hooks:
      - id: prettier
        name: 'Prettier for UI'
        files: '^ui/'
        types_or: [javascript, css]
        language: system
        entry: bash -c 'cd ui && yarn lint'
  - repo: local
    hooks:
      - id: openapi-bundle
        name: 'OpenAPI Swagger Dist'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd api/api && make all'
  - repo: local
    hooks:
      - id: openapi-gen
        name: 'OpenAPI Python client'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd sdk && make gen-client'
  - repo: local
    hooks:
      - id: black
        name: 'Black formatter for the SDK'
        alias: black-sdk
        files: '^sdk/'
        types: [python]
        language: system
        entry: bash -c 'cd sdk && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Job Engine'
        alias: black-ensembler-job
        files: '^engines/pyfunc-ensembler-job/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-job && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Service Engine'
        alias: black-ensembler-service
        files: '^engines/pyfunc-ensembler-service/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Update requirements file to point to original repo
  sdk/requirements.txt
Due: none

Update audience name
  sdk/turing/session.py
Due: black

Change authentication method to use OIDC identity tokens (#322)
  sdk/requirements.txt
  sdk/turing/session.py
Due: black

patch e2e upi logger init
  engines/router/missionctl/internal/benchmark/benchmark_e2e_test.go
Due: golangci-lint, goimports

fix lint
  engines/router/missionctl/fiberapi/traffic_splitting_strategy.go
  engines/router/missionctl/log/resultlog/resultlog.go
  engines/router/missionctl/log/resultlog/resultlog_test.go
Due: golangci-lint, goimports

patch kafka test
  engines/router/missionctl/log/resultlog/kafka_test.go
Due: golangci-lint, goimports

remove validation against other logger type
  api/turing/validation/validator.go
  api/turing/validation/validator_test.go
Due: golangci-lint, goimports

refactor resultlog package and enable turingresultlog on upi router
  engines/router/missionctl/internal/benchmark/benchmark_e2e_test.go
  engines/router/missionctl/log/resultlog/bigquery.go
  engines/router/missionctl/log/resultlog/bigquery_test.go
  engines/router/missionctl/log/resultlog/console.go
  engines/router/missionctl/log/resultlog/console_test.go
  engines/router/missionctl/log/resultlog/fluentd.go
  engines/router/missionctl/log/resultlog/fluentd_test.go
  engines/router/missionctl/log/resultlog/kafka.go
  engines/router/missionctl/log/resultlog/kafka_test.go
  engines/router/missionctl/log/resultlog/nop.go
  engines/router/missionctl/log/resultlog/nop_test.go
  engines/router/missionctl/log/resultlog/resultlog.go
  engines/router/missionctl/log/resultlog/resultlog_test.go
  engines/router/missionctl/log/resultlog/upi_kafka.go
  engines/router/missionctl/log/resultlog/upi_nop.go
  engines/router/missionctl/log/resultlog/upi_result_log.go
  engines/router/missionctl/log/resultlog/upi_result_log_test.go
  engines/router/missionctl/server/application.go
  engines/router/missionctl/server/http/handlers/batch_http_handler.go
  engines/router/missionctl/server/http/handlers/batch_http_handler_test.go
  engines/router/missionctl/server/http/handlers/http_handler.go
  engines/router/missionctl/server/http/handlers/http_handler_test.go
  engines/router/missionctl/server/http/handlers/logutils.go
  engines/router/missionctl/server/http/handlers/logutils_test.go
  engines/router/missionctl/server/upi/server_test.go
Due: golangci-lint, goimports

inject nop to benchmark
  engines/router/missionctl/internal/benchmark/benchmark_e2e_test.go
Due: golangci-lint, goimports

add kafka config for upi logger to router version
  api/turing/api/request/request.go
  api/turing/api/request/request_test.go
  api/turing/api/router_versions_api.go
  api/turing/api/routers_api.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
Due: golangci-lint, goimports

remove experiment and treatment name from response
  engines/router/missionctl/experiment/experiment.go
  engines/router/missionctl/fiberapi/fan_in_test.go
Due: golangci-lint, goimports

update experiment response in e2e
  api/e2e/test/testdata/responses/router_proprietary_exp_batch_predict.json
  api/e2e/test/testdata/responses/router_proprietary_exp_predict.json
Due: none

patch sdk e2e
  sdk/e2e/01_create_router_test.py
  sdk/e2e/02_update_router_invalid_test.py
  sdk/e2e/03_create_router_version_test.py
Due: black

Update caraml-auth-google version
  sdk/requirements.txt
Due: none

Remove redundant google-auth dependency
  sdk/requirements.txt
Due: none

Update caraml-auth-google version (#324)
  sdk/requirements.txt
Due: none

update fiber version and clean up comments
  api/go.mod
  api/go.sum
  engines/router/go.mod
  engines/router/go.sum
  engines/router/missionctl/log/resultlog/resultlog.go
Due: golangci-lint, goimports

Remove redundant oauth scope
  sdk/turing/session.py
Due: black

Remove oauth scope warning and redundant oauth scope (#325)
  sdk/requirements.txt
  sdk/turing/session.py
Due: black

relax cmux fliter for headers
  engines/router/missionctl/server/application.go
Due: golangci-lint, goimports

minor refactor on kafka test
  engines/router/missionctl/log/resultlog/kafka_test.go
Due: golangci-lint, goimports

log RouterLog when it fail to write to kafka
  engines/router/missionctl/log/resultlog/upi_result_log.go
Due: golangci-lint, goimports

remove checks and add comments
  engines/router/missionctl/log/resultlog/resultlog.go
  engines/router/missionctl/log/resultlog/upi_result_log.go
Due: golangci-lint, goimports

remove redundant sync
  engines/router/missionctl/log/resultlog/console.go
  engines/router/missionctl/log/resultlog/resultlog.go
  engines/router/missionctl/log/resultlog/upi_result_log.go
Due: golangci-lint, goimports

add/patch comments
  engines/router/missionctl/log/resultlog/fluentd_test.go
  engines/router/missionctl/log/resultlog/resultlog.go
  engines/router/missionctl/server/application.go
Due: golangci-lint, goimports

Update google client init to use mlp helper method
  api/go.mod
  api/go.sum
  api/turing/service/mlp_service.go
Due: golangci-lint, goimports

Fix typo errors
  api/turing/service/crypto_service.go
Due: golangci-lint, goimports

Update unit tests to use the google client generated from the mlp helper method
  api/turing/service/mlp_service_test.go
Due: golangci-lint, goimports

Update dummy service account with a dummy user account
  api/turing/service/mlp_service_test.go
Due: golangci-lint, goimports

Fix typo error
  api/turing/service/mlp_service_test.go
Due: golangci-lint, goimports

Update MLP version
  api/go.mod
  api/go.sum
Due: none

Update Google client initialisation to use MLP helper method (#328)
  api/go.mod
  api/go.sum
  api/turing/service/crypto_service.go
  api/turing/service/mlp_service.go
  api/turing/service/mlp_service_test.go
Due: golangci-lint, goimports

Update merlin dependency
  README.md
  api/go.mod
  api/go.sum
  api/turing/api/alerts_api_test.go
  api/turing/api/appcontext_test.go
  api/turing/api/deployment_controller.go
  api/turing/api/deployment_controller_test.go
  api/turing/api/ensembling_job_api_it_test.go
  api/turing/api/ensembling_job_api_test.go
  api/turing/api/router_versions_api_test.go
  api/turing/api/routers_api_test.go
  api/turing/config/config.go
  api/turing/service/alert_service.go
  api/turing/service/alert_service_test.go
  api/turing/service/mlp_service.go
  api/turing/service/mlp_service_test.go
  api/turing/service/mocks/alert_service.go
  api/turing/service/mocks/mlp_service.go
  api/turing/service/mocks/router_deployment_service.go
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
  api/turing/service/router_monitoring_service_test.go
  api/turing/service/router_service_test.go
  api/turing/service/router_version_service_test.go
  docs/README.md
  docs/how-to/create-a-router/configure-general-settings.md
  infra/charts/turing/subcharts/merlin/README.md
  infra/charts/turing/subcharts/merlin/values.yaml
  infra/charts/turing/subcharts/mlp/README.md
  infra/charts/turing/subcharts/mlp/values.yaml
  infra/docker-compose/dev/docker-compose.yml
  infra/docker-compose/dev/merlin/dev.env
Due: golangci-lint, goimports

Bump go version and fix linting
  .github/actions/setup-test-cluster/action.yaml
  .github/workflows/cluster-init.yaml
  .github/workflows/fluentd-plugin.yaml
  .github/workflows/helm-chart.yaml
  .github/workflows/pyfunc-ensembler-job.yaml
  .github/workflows/pyfunc-ensembler-service.yaml
  .github/workflows/sdk.yaml
  .github/workflows/turing-publish.yaml
  .github/workflows/turing.yaml
  README.md
  api/Dockerfile
  api/Makefile
  api/README.md
  api/go.mod
  api/turing/api/appcontext_test.go
  api/turing/cluster/controller_test.go
  api/turing/config/config.go
  api/turing/service/mlp_service_test.go
  engines/experiment/docs/developer_guide.md
  engines/experiment/docs/rpc_plugins.md
  engines/experiment/examples/plugins/hardcoded/Dockerfile
  engines/experiment/examples/plugins/hardcoded/go.mod
  engines/experiment/go.mod
  engines/router/Dockerfile
  engines/router/README.md
  engines/router/go.mod
  engines/router/missionctl/fiberapi/fan_in_test.go
  engines/router/missionctl/fiberapi/internal/testutils/helpers.go
  engines/router/missionctl/log/resultlog/fluentd_test.go
  engines/router/missionctl/mission_control_upi_test.go
  engines/router/traffic_rule_condition_test.go
Due: golangci-lint, goimports

Attempt to fix dependency issue
  api/go.mod
  api/go.sum
Due: none

Pin k8s dependencies
  api/go.mod
  api/go.sum
Due: none

Use correct dep
  api/go.mod
  api/go.sum
Due: none
