Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, prettier, openapi-bundle, openapi-gen, black

golangci-lint:
  name: Linter for the Experiment Engine
  alias: golangci-lint-experiment
  language: system
  entry: bash -c 'cd engines/experiment make lint'

prettier:
  name: Prettier for UI
  language: system
  entry: bash -c 'cd ui && yarn lint'

openapi-bundle:
  name: OpenAPI Swagger Dist
  language: system
  entry: bash -c 'cd api/api && make all'

openapi-gen:
  name: OpenAPI Python client
  language: system
  entry: bash -c 'cd sdk && make gen-client'

black:
  name: Black formatter for Pyfunc Ensembler Service Engine
  alias: black-ensembler-service
  language: system
  entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Bugfix: Navigation with react-router-dom (#272)
  ui/src/Home.js
  ui/src/PrivateLayout.js
Due: prettier

Fix and simplify Make commands
  api/Makefile
  api/README.md
  engines/experiment/examples/plugins/hardcoded/Makefile
  engines/router/Makefile
Due: none

Fix and rename Make commands
  api/Makefile
  api/README.md
  engines/router/Makefile
Due: none

Port UPI End to End test to ginkgo
  api/e2e/test/10_deploy_upi_router_test.go
  api/e2e/test/11_deploy_upi_router_with_traffic_rules_test.go
  api/e2e/test/12_deploy_upi_router_with_std_ensembler_test.go
  api/e2e/test/config-local.yaml
  api/e2e/test/config.yaml
  api/e2e/test/config/config.go
  api/e2e/test/matcher/proto.go
  api/e2e/test/router_e2e_test.go
  api/e2e/test/router_test.go
  api/e2e/test/routers_suite_test.go
  api/e2e/test/testdata/create_router_upi_simple.json.tmpl
  api/e2e/test/testdata/create_router_upi_with_std_ensembler.json.tmpl
  api/e2e/test/testdata/create_router_upi_with_traffic_rules.json.tmpl
  engines/experiment/examples/plugins/hardcoded/Makefile
  engines/experiment/examples/plugins/hardcoded/go.mod
  engines/experiment/examples/plugins/hardcoded/go.sum
  engines/router/Makefile
Due: golangci-lint

Address PR comments
  engines/experiment/examples/plugins/hardcoded/Makefile
  engines/router/Makefile
Due: none

Update UPI version
  engines/router/go.mod
  engines/router/go.sum
Due: none

Update UPI version
  engines/experiment/go.mod
  engines/experiment/go.sum
Due: none

Undo change in CI
  .github/workflows/turing.yaml
Due: none

Fix and rename make commands for local E2E (#273)
  api/Makefile
  api/README.md
  engines/experiment/examples/plugins/hardcoded/Makefile
  engines/router/Makefile
Due: none

Cleanup go mod and go sum
  api/go.mod
  api/go.sum
  engines/experiment/go.sum
  engines/router/go.sum
Due: none

Rename field
  engines/router/missionctl/mission_control_upi_test.go
Due: golangci-lint

format file and remove redudancy mention in PR comment
  ui/src/components/validation.js
  ui/src/router/components/form/CreateRouterForm.js
  ui/src/router/components/form/UpdateRouterForm.js
  ui/src/router/components/form/components/enricher_config/typeOptions.js
  ui/src/router/components/form/components/ensembler_config/typeOptions.js
  ui/src/router/components/form/components/experiment_config/EngineTypePanel.js
  ui/src/router/components/form/components/router_config/GeneralSettingsPanel.js
  ui/src/router/components/form/components/router_config/RoutesPanel.js
  ui/src/router/components/form/components/router_config/RulesPanel.js
  ui/src/router/components/form/components/router_config/route_card/RouteCard.js
  ui/src/router/components/form/components/router_config/rule_card/RuleCard.js
  ui/src/router/components/form/components/router_config/typeOptions.js
  ui/src/router/components/form/steps/EnricherStep.js
  ui/src/router/components/form/steps/EnsemblerStep.js
  ui/src/router/components/form/steps/ExperimentStep.js
  ui/src/router/components/form/steps/RouterStep.js
  ui/src/router/components/form/validation/schema.js
  ui/src/router/components/request_field_source/FieldSourceFormLabel.js
  ui/src/router/components/traffic_rule_condition/TrafficRuleCondition.js
  ui/src/router/details/components/router_details_header/RouterDetailsPageHeader.js
  ui/src/services/router/TuringRouter.js
  ui/src/services/version/RouterVersion.js
  ui/src/utils/validation.js
Due: prettier

remove service_method section in routes
  ui/src/router/components/form/components/router_config/GeneralSettingsPanel.js
  ui/src/router/components/form/components/router_config/RoutesPanel.js
  ui/src/router/components/form/components/router_config/route_card/RouteCard.js
  ui/src/router/components/form/validation/schema.js
  ui/src/services/router/TuringRouter.js
Due: prettier

update rule when protocol changes
  ui/src/router/components/form/components/router_config/GeneralSettingsPanel.js
Due: prettier

add filter for experiment engine for custom engine only
  ui/src/router/components/form/components/router_config/route_card/RouteCard.js
  ui/src/router/components/form/steps/ExperimentStep.js
Due: prettier

Replace proto comparison with proto.Equal
  engines/router/missionctl/internal/testutils/utils.go
  engines/router/missionctl/mission_control_upi_test.go
Due: golangci-lint

Minor refactoring
  engines/router/missionctl/internal/testutils/upi_server.go
Due: golangci-lint

Log upi proto as json
  engines/router/missionctl/server/upi/logutils.go
  engines/router/missionctl/server/upi/server.go
Due: golangci-lint

Revert changes to CI condition
  .github/workflows/turing.yaml
Due: none

Translate BadResponse to status code internal
  engines/router/missionctl/errors/errors.go
Due: golangci-lint

Fix test
  engines/router/missionctl/server/upi/server_test.go
Due: golangci-lint

Update ginkgo version
  api/go.mod
  api/go.sum
Due: none

Remove log.SetGlobalLogger in test to avoid data race
  engines/router/missionctl/server/upi/server_test.go
Due: golangci-lint

Fix test
  engines/router/missionctl/mission_control_upi_test.go
Due: golangci-lint

Update ginkgo version in Makefile
  api/Makefile
Due: none

Fix lint
  engines/router/missionctl/server/upi/logutils.go
Due: golangci-lint

Pin ginkgo and gomega version
  api/Makefile
  api/go.mod
  api/go.sum
Due: none

remove helptext for exp engine and pass protcol to remote ui
  ui/src/router/components/form/components/experiment_config/EngineTypePanel.js
  ui/src/router/components/form/components/experiment_config/ExperimentConfigPanel.js
  ui/src/router/components/form/steps/ExperimentStep.js
Due: prettier

add filtering of merlin endpoint
  ui/src/router/components/form/components/router_config/RoutesPanel.js
Due: prettier

update docs
  docs/how-to/create-a-router/configure-general-settings.md
  docs/how-to/create-a-router/configure-routes.md
  docs/how-to/create-a-router/configure-traffic-rules.md
Due: none

update docs image
  docs/.gitbook/assets/general_router_settings.png
Due: none

Update comment in SelectRoute
  engines/router/missionctl/fiberapi/routing_strategy.go
Due: golangci-lint

Remove CreateFiberRequestHandler
  engines/router/missionctl/fiberapi/utils.go
  engines/router/missionctl/fiberapi/utils_test.go
  engines/router/missionctl/mission_control.go
Due: golangci-lint

Add logging in test
  engines/router/missionctl/server/upi/server_test.go
Due: golangci-lint

Update e2e test description
  api/e2e/test/router_test.go
Due: golangci-lint

Move import
  api/e2e/test/routers_suite_test.go
Due: golangci-lint

Update TODO
  api/turing/cluster/knative_service.go
Due: golangci-lint

Add precommit hook to fix goimports
  .pre-commit-config.yaml
Due: none

Path conditions:
  golangci-lint: ((any of: ^api/ and \.go$) or (any of: ^engines/router/ and \.go$)) or (any of: ^engines/experiment/ and \.go$)
  prettier: any of: ^ui/ and \.(js|mjs|cjs)$, \.css$
  openapi-bundle: any of: ^api/api/specs/
  openapi-gen: any of: ^api/api/specs/
  black: ((any of: ^sdk/ and \.py$) or (any of: ^engines/pyfunc-ensembler-job/ and \.py$)) or (any of: ^engines/pyfunc-ensembler-service/ and \.py$)
