Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, prettier, openapi-bundle, openapi-gen, black

golangci-lint:
  name: Linter for the Experiment Engine
  alias: golangci-lint-experiment
  language: system
  entry: bash -c 'cd engines/experiment make lint'

prettier:
  name: Prettier for UI
  language: system
  entry: bash -c 'cd ui && yarn lint'

openapi-bundle:
  name: OpenAPI Swagger Dist
  language: system
  entry: bash -c 'cd api/api && make all'

openapi-gen:
  name: OpenAPI Python client
  language: system
  entry: bash -c 'cd sdk && make gen-client'

black:
  name: Black formatter for Pyfunc Ensembler Service Engine
  alias: black-ensembler-service
  language: system
  entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Remove regex expression for route_name_path
  api/api/openapi.bundle.yaml
  api/api/specs/routers.yaml
Due: openapi-bundle, openapi-gen

Apply new Standard Ensembler routing policy with Custom Experiment Engines (#237)
  api/api/openapi.bundle.yaml
  api/api/specs/routers.yaml
  api/e2e/test/00_all_e2e_test.go
  api/e2e/test/01_create_router_test.go
  api/e2e/test/02_update_router_invalid_test.go
  api/e2e/test/03_create_router_version_test.go
  api/e2e/test/04_undeploy_router_test.go
  api/e2e/test/06_deploy_valid_config_test.go
  api/e2e/test/09_deploy_router_with_route_name_path_std_ensembler_test.go
  api/e2e/test/helpers_api_test.go
  api/e2e/test/helpers_test.go
  api/e2e/test/testdata/create_router_std_ensembler_route_name_path.json.tmpl
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/internal/testutils/utils.go
  api/turing/middleware/openapi_validation_test.go
  api/turing/models/ensembler.go
  api/turing/service/alert_service_test.go
  api/turing/service/mlp_service_test.go
  api/turing/service/pod_log_service_test.go
  api/turing/testdata/cluster/servicebuilder/router_configmap_std_ensembler_with_exp_mappings.yml
  api/turing/testdata/cluster/servicebuilder/router_configmap_std_ensembler_with_route_name_path.yml
  api/turing/testdata/cluster/servicebuilder/router_version_missing_bigquery.json
  api/turing/testdata/cluster/servicebuilder/router_version_success_std_ensembler_with_exp_mappings.json
  api/turing/testdata/cluster/servicebuilder/router_version_success_std_ensembler_with_route_name_path.json
  api/turing/utils/merge.go
  api/turing/validation/validator.go
  api/turing/validation/validator_test.go
  infra/e2e/turing.values.yaml
  sdk/e2e/01_create_router_test.py
  sdk/e2e/02_update_router_invalid_test.py
  sdk/e2e/03_create_router_version_test.py
Due: golangci-lint, openapi-bundle, openapi-gen, black

update fiber version
  api/go.mod
  engines/router/go.mod
  engines/router/go.sum
Due: none

update api server config test file
  api/turing/testdata/cluster/servicebuilder/router_configmap_std_ensembler_with_route_name_path.yml
  api/turing/testdata/cluster/servicebuilder/router_configmap_traffic_splitting.yml
Due: none

Bugfix: Pyfunc ensemblers - copy autoscaling config to docker config
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint

Fix lint error
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint

Bugfix: Pyfunc ensemblers - copy autoscaling config to docker config (#243)
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint

Skip accessing Default Traffic Rule without Traffic Rules
  ui/src/router/components/configuration/components/router_config_section/RulesConfigTable.js
Due: prettier

Bump mlp-ui version
  ui/package.json
  ui/yarn.lock
Due: none

Handle non-string dependencies in conda_env
  sdk/tests/ensembler_test.py
  sdk/turing/ensembler.py
Due: black

Handle non-string dependencies in conda_env (#245)
  sdk/tests/ensembler_test.py
  sdk/turing/ensembler.py
Due: black

rework benchmarking for http and grpc
  engines/router/missionctl/internal/benchmark/benchmark_e2e_test.go
  engines/router/missionctl/internal/testutils/upi_server.go
  engines/router/missionctl/mission_control_upi_test.go
  engines/router/missionctl/testdata/benchmark/single_route_upi_grpc.yaml
  engines/router/missionctl/testdata/benchmark/single_route_upi_http.yaml
Due: golangci-lint

Fix routes table view
  ui/src/router/components/configuration/components/router_config_section/RoutesConfigTable.js
Due: prettier

Bugfix: Migration for autoscaling configs when using pyfunc ensemblers
  api/db-migrations/000014_autoscaling_policy.down.sql
  api/db-migrations/000014_autoscaling_policy.up.sql
Due: none

refactor benchmarking
  engines/router/missionctl/internal/benchmark/benchmark_e2e_test.go
  engines/router/missionctl/testdata/benchmark/single_route_upi_grpc.yaml
Due: golangci-lint

Bugfix: Migration for autoscaling configs when using pyfunc ensemblers (#246)
  api/db-migrations/000014_autoscaling_policy.down.sql
  api/db-migrations/000014_autoscaling_policy.up.sql
Due: none

add benchmem to benchmark
  engines/router/Makefile
Due: none

refactor test upi server
  engines/router/missionctl/internal/benchmark/benchmark_e2e_test.go
  engines/router/missionctl/internal/testutils/upi_server.go
  engines/router/missionctl/mission_control_upi_test.go
Due: golangci-lint

Accept HPA memory target as %
  api/turing/cluster/controller.go
  api/turing/cluster/controller_test.go
  api/turing/cluster/knative_service.go
  api/turing/cluster/knative_service_test.go
  api/turing/cluster/models.go
  api/turing/models/autoscaling_policy.go
  ui/src/router/components/form/components/autoscaling_policy/AutoscalingPolicyPanelFlyout.js
  ui/src/router/components/form/components/autoscaling_policy/typeOptions.js
Due: golangci-lint, prettier

minor refactoring on fiber package improts
  engines/router/missionctl/errors/errors.go
  engines/router/missionctl/errors/errors_test.go
  engines/router/missionctl/fiberapi/fan_in.go
  engines/router/missionctl/fiberapi/fan_in_test.go
  engines/router/missionctl/fiberapi/interceptors_test.go
  engines/router/missionctl/fiberapi/internal/testutils/helpers.go
  engines/router/missionctl/fiberapi/routing_strategy.go
  engines/router/missionctl/fiberapi/routing_strategy_test.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy_test.go
  engines/router/missionctl/fiberapi/utils.go
  engines/router/missionctl/fiberapi/utils_test.go
  engines/router/missionctl/mission_control.go
  engines/router/missionctl/mission_control_upi.go
  engines/router/missionctl/mission_control_upi_test.go
  engines/router/missionctl/server/http/handlers/batch_http_handler.go
  engines/router/missionctl/server/http/handlers/http_handler.go
  engines/router/missionctl/server/http/handlers/http_handler_test.go
  engines/router/missionctl/server/http/handlers/logutils_test.go
  engines/router/missionctl/server/upi/logutils_test.go
Due: golangci-lint

fix config test indent
  engines/router/missionctl/config/config_test.go
Due: golangci-lint

UI bug fix and mlp-ui dependency upgrade (#244)
  ui/package.json
  ui/src/router/components/configuration/components/router_config_section/RoutesConfigTable.js
  ui/src/router/components/configuration/components/router_config_section/RulesConfigTable.js
  ui/yarn.lock
Due: prettier

Accept HPA memory target as % (#247)
  api/turing/cluster/controller.go
  api/turing/cluster/controller_test.go
  api/turing/cluster/knative_service.go
  api/turing/cluster/knative_service_test.go
  api/turing/cluster/models.go
  api/turing/models/autoscaling_policy.go
  ui/src/router/components/form/components/autoscaling_policy/AutoscalingPolicyPanelFlyout.js
  ui/src/router/components/form/components/autoscaling_policy/typeOptions.js
Due: golangci-lint, prettier

Add route name path to standard ensembler config struct
  ui/src/services/ensembler/StandardEnsembler.js
Due: prettier

Clean up props to be passed to remote ensembler component
  ui/src/router/components/form/components/ensembler_config/standard_ensembler/StandardEnsemblerFormGroup.js
Due: prettier

Update typeOptions to return correct variant of standard ensembler
  ui/src/router/components/form/components/ensembler_config/typeOptions.js
Due: prettier

Update type ensembler options to allow std ensemblers for custom exp engines
  ui/src/router/components/form/components/ensembler_config/typeOptions.js
Due: prettier

Make create and edit router consume standard ensembler component from exp engine ui
  ui/src/components/ensembler/StandardEnsemblerLoaderComponent.js
  ui/src/router/components/form/components/ensembler_config/standard_ensembler/StandardEnsemblerFormGroup.js
  ui/src/router/components/form/steps/EnsemblerStep.js
Due: prettier

Add standard ensembler config view
  ui/src/router/components/configuration/components/EnsemblerConfigSection.js
  ui/src/router/components/configuration/components/standard_config_section/StandardConfigViewGroup.js
  ui/src/router/components/form/components/ensembler_config/standard_ensembler/StandardEnsemblerFormGroup.js
Due: prettier

Add routes prop to pass to the remote standard ensembler
  ui/src/router/components/form/components/ensembler_config/standard_ensembler/StandardEnsemblerFormGroup.js
Due: prettier

Make status colours use default EUI palette as much as possible
  ui/src/services/job/JobStatus.js
  ui/src/services/status/Status.js
Due: prettier

Remove redundant empty tags
  ui/src/router/components/configuration/components/standard_config_section/StandardConfigViewGroup.js
Due: prettier

Refactor components to use common RemoteLoaderComponent
  ui/src/components/experiments/ExperimentEngineLoaderComponent.js
  ui/src/components/remote_component/RemoteLoaderComponent.js
  ui/src/experiment/ExperimentsRouter.js
  ui/src/router/components/configuration/components/ExperimentConfigSection.js
  ui/src/router/components/configuration/components/standard_config_section/StandardConfigViewGroup.js
  ui/src/router/components/form/components/ensembler_config/standard_ensembler/StandardEnsemblerFormGroup.js
  ui/src/router/components/form/components/experiment_config/ExperimentConfigPanel.js
Due: prettier

Replace colour hexes corresponding to subdued to default
  ui/src/services/job/JobStatus.js
  ui/src/services/status/Status.js
Due: prettier

Rename prop for StandardEnsemblerLoaderComponent
  ui/src/components/ensembler/StandardEnsemblerLoaderComponent.js
  ui/src/router/components/configuration/components/standard_config_section/StandardConfigViewGroup.js
  ui/src/router/components/form/components/ensembler_config/standard_ensembler/StandardEnsemblerFormGroup.js
Due: prettier

Add Traffic Rules documentation
  docs/.gitbook/assets/create_router_rules_priority.png
  docs/.gitbook/assets/view_router_groupby_routes.png
  docs/.gitbook/assets/view_router_groupby_rules.png
  docs/.gitbook/assets/view_router_with_traffic_rules.png
  docs/how-to/create-a-router/configure-traffic-rules.md
  docs/how-to/viewing-routers/configuration.md
Due: none

Add docs for standard ensembler
  docs/how-to/create-a-router/configure-ensembler.md
  engines/experiment/docs/developer_guide.md
Due: none

Remove redundant description for std ensembler and custom exp engines
  ui/src/router/components/form/components/ensembler_config/typeOptions.js
Due: prettier

Rename generic component loader as ExperimentEngineComponentLoader
  ui/src/components/remote_component/ExperimentEngineComponentLoader.js
  ui/src/experiment/ExperimentsRouter.js
  ui/src/router/components/configuration/components/ExperimentConfigSection.js
  ui/src/router/components/configuration/components/standard_config_section/StandardConfigViewGroup.js
  ui/src/router/components/form/components/ensembler_config/standard_ensembler/StandardEnsemblerFormGroup.js
  ui/src/router/components/form/components/experiment_config/ExperimentConfigPanel.js
Due: prettier

Address PR comments on docs
  docs/how-to/create-a-router/configure-traffic-rules.md
  docs/how-to/viewing-routers/configuration.md
Due: none

Path conditions:
  golangci-lint: ((any of: ^api/ and \.go$) or (any of: ^engines/router/ and \.go$)) or (any of: ^engines/experiment/ and \.go$)
  prettier: any of: ^ui/ and \.(js|mjs|cjs)$, \.css$
  openapi-bundle: any of: ^api/api/specs/
  openapi-gen: any of: ^api/api/specs/
  black: ((any of: ^sdk/ and \.py$) or (any of: ^engines/pyfunc-ensembler-job/ and \.py$)) or (any of: ^engines/pyfunc-ensembler-service/ and \.py$)
