Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

golangci-lint:
  name: Linter for the Experiment Engine
  alias: golangci-lint-experiment
  language: system
  entry: bash -c 'cd engines/experiment make lint'

goimports:
  name: Run goimports
  alias: goimports
  language: system
  entry: goimports -w -local github.com/caraml-dev/turing

prettier:
  name: Prettier for UI
  language: system
  entry: bash -c 'cd ui && yarn lint'

openapi-bundle:
  name: OpenAPI Swagger Dist
  language: system
  entry: bash -c 'cd api/api && make all'

openapi-gen:
  name: OpenAPI Python client
  language: system
  entry: bash -c 'cd sdk && make gen-client'

black:
  name: Black formatter for Pyfunc Ensembler Service Engine
  alias: black-ensembler-service
  language: system
  entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Fix crash due to mismatch number of columns and values in a row (#349)
  api/go.mod
  api/go.sum
  engines/experiment/examples/plugins/hardcoded/go.mod
  engines/experiment/examples/plugins/hardcoded/go.sum
  engines/experiment/go.mod
  engines/experiment/go.sum
  engines/router/go.mod
  engines/router/go.sum
  engines/router/missionctl/log/resultlog/upi_result_log_test.go
  engines/router/missionctl/server/upi/interceptors/recoverer.go
  engines/router/missionctl/server/upi/interceptors/recoverer_test.go
  engines/router/missionctl/server/upi/server.go
Due: golangci-lint, goimports

Add make setup step
  .github/workflows/turing.yaml
Due: none

Fix lint-api
  api/turing/cluster/controller.go
  api/turing/config/config.go
Due: golangci-lint, goimports

Refactor to use Apply for pdb; Address reviews
  api/turing/cluster/controller.go
  api/turing/cluster/mocks/controller.go
  api/turing/cluster/pdb.go
  api/turing/cluster/pdb_test.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/testdata/config-1.yaml
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint, goimports

Use fmt.Errorf
  api/turing/cluster/controller.go
Due: golangci-lint, goimports

Add policy group to turing cluster role
  infra/charts/turing/templates/cluster-role.yaml
Due: none

Lint code
  api/turing/cluster/controller.go
  api/turing/cluster/servicebuilder/fluentd.go
  api/turing/cluster/servicebuilder/plugins_server.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint, goimports

Address review; Improve tests
  api/Makefile
  api/turing/batch/ensembling/runner.go
  api/turing/cluster/controller.go
  api/turing/cluster/labeller/labeller.go
  api/turing/cluster/labeller/labeller_test.go
  api/turing/cluster/mocks/controller.go
  api/turing/cluster/pdb.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint, goimports

Add missing working directory
  .github/workflows/turing.yaml
Due: none

Log error when deleting pdb
  api/Makefile
  api/turing/cluster/controller.go
Due: golangci-lint, goimports

Update CI
  .github/workflows/turing.yaml
  engines/router/Makefile
Due: none

First commit on adding PDB to router components: - Add PDB config - Add component label - Modify updateFunc to use generic
  api/Makefile
  api/turing/batch/ensembling/runner.go
  api/turing/cluster/controller.go
  api/turing/cluster/labeller/labeller.go
  api/turing/cluster/labeller/labeller_test.go
  api/turing/cluster/pdb.go
  api/turing/cluster/pdb_test.go
  api/turing/cluster/servicebuilder/fluentd.go
  api/turing/cluster/servicebuilder/plugins_server.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/config/config.go
  api/turing/config/testdata/config-1.yaml
  api/turing/service/router_deployment_service.go
Due: golangci-lint, goimports

Add PodDisruptionBudget to router components (#346)
  .github/workflows/turing.yaml
  api/Makefile
  api/turing/batch/ensembling/runner.go
  api/turing/cluster/controller.go
  api/turing/cluster/labeller/labeller.go
  api/turing/cluster/labeller/labeller_test.go
  api/turing/cluster/mocks/controller.go
  api/turing/cluster/pdb.go
  api/turing/cluster/pdb_test.go
  api/turing/cluster/servicebuilder/plugins_server.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/testdata/config-1.yaml
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
  engines/router/Makefile
  infra/charts/turing/templates/cluster-role.yaml
Due: golangci-lint, goimports

Fix missing experiment mappings in standard ensembler config
  sdk/tests/router/config/router_ensembler_config_test.py
  sdk/turing/router/config/router_ensembler_config.py
Due: black

Add additional check in the standard ensembler config conversion
  sdk/turing/router/config/router_ensembler_config.py
Due: black

fix: Missing experiment mappings in standard ensembler config (#351)
  sdk/tests/router/config/router_ensembler_config_test.py
  sdk/turing/router/config/router_ensembler_config.py
Due: black

Update ensembling job table gutterSize
  ui/src/jobs/list/ListEnsemblingJobsTable.js
Due: prettier

Address code review comments
  api/turing/cluster/controller.go
  api/turing/cluster/knative_service.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/cluster/servicebuilder/service_builder_test.go
  api/turing/service/router_deployment_service.go
Due: golangci-lint, goimports

Set initial scale during update of a router deployment (#350)
  .github/workflows/turing.yaml
  api/turing/api/deployment_controller.go
  api/turing/api/deployment_controller_test.go
  api/turing/cluster/controller.go
  api/turing/cluster/controller_test.go
  api/turing/cluster/knative_service.go
  api/turing/cluster/mocks/controller.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/cluster/servicebuilder/service_builder_test.go
  api/turing/service/mocks/router_deployment_service.go
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint, goimports

fix some styling on the deletion feature (#348)
  ui/src/ensembler/list/ListEnsemblersTable.js
  ui/src/jobs/list/ListEnsemblingJobsTable.js
Due: prettier

Add modalClosed to onConfirm function
  ui/src/ensembler/components/modal/DeleteEnsemblerModal.js
Due: prettier

Reset delete confirmation in delete job modal
  ui/src/jobs/components/modal/DeleteJobModal.js
Due: prettier

Make modalClosed unset all ensembler status
  ui/src/ensembler/components/modal/DeleteEnsemblerModal.js
Due: prettier

Add additional conditional handling to display ensembler deletion messages
  ui/src/ensembler/components/modal/DeleteEnsemblerModal.js
Due: prettier

Refactor deletion messages for ensembling jobs to reflect singularity/plurality
  ui/src/ensembler/components/table/ListEnsemblingJobsForEnsemblerTable.js
Due: prettier

Fix inconsistent pop up message
  ui/src/ensembler/components/table/ListEnsemblingJobsForEnsemblerTable.js
Due: prettier

Refactor messages to make them reflect how router versions are displayed
  ui/src/ensembler/components/modal/DeleteEnsemblerModal.js
Due: prettier

Make modal display tables for both active and current router versions
  ui/src/ensembler/components/table/ListRouterVersionsForEnsemblerTable.js
Due: prettier

Add additional condition to ensure active router versions are displayed before current ones
  ui/src/ensembler/components/table/ListRouterVersionsForEnsemblerTable.js
Due: prettier

Reinstate terminate/delete button but disable it when ensembling job is terminating
  ui/src/jobs/list/ListEnsemblingJobsTable.js
Due: prettier

Fix ensembler deletion UI bugs (#352)
  ui/src/ensembler/components/modal/DeleteEnsemblerModal.js
  ui/src/ensembler/components/table/ListEnsemblingJobsForEnsemblerTable.js
  ui/src/ensembler/components/table/ListRouterVersionsForEnsemblerTable.js
  ui/src/jobs/components/modal/DeleteJobModal.js
  ui/src/jobs/list/ListEnsemblingJobsTable.js
Due: prettier

Add precautionary logic for PDB
  api/turing/service/router_deployment_service.go
Due: golangci-lint, goimports

Add unit test for PDB creation
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint, goimports

Update integration tests
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint, goimports

Fix lint error
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint, goimports

fix: Add precautionary logic for PDB (#353)
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint, goimports

Invert logic of isActiveJobStatus helper function
  ui/src/jobs/list/ListEnsemblingJobsTable.js
Due: prettier

Refactor delete job modal to use shared helper function
  ui/src/jobs/components/modal/DeleteJobModal.js
  ui/src/jobs/list/ListEnsemblingJobsTable.js
  ui/src/services/job/JobStatus.js
Due: prettier

fix: Invert logic of isActiveJobStatus helper function (#354)
  ui/src/jobs/components/modal/DeleteJobModal.js
  ui/src/jobs/list/ListEnsemblingJobsTable.js
  ui/src/services/job/JobStatus.js
Due: prettier

Path conditions:
  golangci-lint: ((any of: ^api/ and \.go$) or (any of: ^engines/router/ and \.go$)) or (any of: ^engines/experiment/ and \.go$)
  goimports: any of: ^[api/|engines/router/|engines/experiment/] and \.go$ and not (pb.go)
  prettier: any of: ^ui/ and \.(js|mjs|cjs)$, \.css$
  openapi-bundle: any of: ^api/api/specs/
  openapi-gen: any of: ^api/api/specs/
  black: ((any of: ^sdk/ and \.py$) or (any of: ^engines/pyfunc-ensembler-job/ and \.py$)) or (any of: ^engines/pyfunc-ensembler-service/ and \.py$)
