Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, prettier, openapi-bundle, openapi-gen, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.11.0
    hooks:
      - id: helm-docs-built
        name: 'Helm Docs for Turing Chart'
        files: '^infra/charts/turing/'
        args:
          - --chart-search-root=infra/charts/turing
          - --template-files=./README.md.gotmpl
      - id: helm-docs-built
        name: 'Helm Docs for Turing Init Chart'
        files: '^infra/charts/turing-init/'
        args:
          - --chart-search-root=infra/charts/turing-init
          - --template-files=./README.md.gotmpl
  - repo: local
    hooks:
      - id: golangci-lint
        name: 'Linter for API'
        alias: golangci-lint-api
        files: '^api/'
        types: [go]
        language: system
        entry: bash -c 'cd api make lint'
      - id: golangci-lint
        name: 'Linter for the Router Engine'
        alias: golangci-lint-router
        files: '^engines/router/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/router make lint'
      - id: golangci-lint
        name: 'Linter for the Experiment Engine'
        alias: golangci-lint-experiment
        files: '^engines/experiment/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/experiment make lint'
  - repo: local
    hooks:
      - id: prettier
        name: 'Prettier for UI'
        files: '^ui/'
        types_or: [javascript, css]
        language: system
        entry: bash -c 'cd ui && yarn lint'
  - repo: local
    hooks:
      - id: openapi-bundle
        name: 'OpenAPI Swagger Dist'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd api/api && make all'
  - repo: local
    hooks:
      - id: openapi-gen
        name: 'OpenAPI Python client'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd sdk && make gen-client'
  - repo: local
    hooks:
      - id: black
        name: 'Black formatter for the SDK'
        alias: black-sdk
        files: '^sdk/'
        types: [python]
        language: system
        entry: bash -c 'cd sdk && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Job Engine'
        alias: black-ensembler-job
        files: '^engines/pyfunc-ensembler-job/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-job && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Service Engine'
        alias: black-ensembler-service
        files: '^engines/pyfunc-ensembler-service/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Update SDK to handle autoscaling policy
  sdk/tests/conftest.py
  sdk/tests/router/config/router_ensembler_config_test.py
  sdk/turing/router/config/autoscaling_policy.py
  sdk/turing/router/config/enricher.py
  sdk/turing/router/config/router_config.py
  sdk/turing/router/config/router_ensembler_config.py
Due: black

Update SDK tests
  sdk/tests/conftest.py
  sdk/tests/router/config/enricher_test.py
  sdk/tests/router/config/router_config_test.py
  sdk/tests/router/config/router_ensembler_config_test.py
Due: black

Update e2e tests
  api/e2e/test/testdata/create_router_version.json.tmpl
  sdk/e2e/03_create_router_version_test.py
Due: black

Add TODO note
  api/turing/api/request/request.go
Due: golangci-lint

Fix migration script
  api/db-migrations/000013_autoscaling_policy.down.sql
  api/db-migrations/000013_autoscaling_policy.up.sql
Due: none

Fix e2e test failure
  api/turing/models/ensembler.go
  api/turing/validation/validator_test.go
  sdk/e2e/03_create_router_version_test.py
Due: golangci-lint, black

Update UI dependencies (#229)
  .github/workflows/turing.yaml
  ui/package.json
  ui/src/App.js
  ui/src/Home.js
  ui/src/PrivateLayout.js
  ui/src/assets/style.scss
  ui/src/components/config_section/ConfigSectionTitle.js
  ui/src/components/config_section/index.scss
  ui/src/components/form/docker_image_combo_box/SelectDockerImageComboBox.scss
  ui/src/components/page_navigation/PageNavigation.scss
  ui/src/config.js
  ui/src/ensembler/list/ListEnsemblersTable.js
  ui/src/ensembler/list/ListEnsemblersView.js
  ui/src/experiment/ExperimentsRouter.js
  ui/src/jobs/details/EnsemblingJobDetailsView.js
  ui/src/jobs/details/config/configuration_section/resource_request_table/ResourceRequestConfigTable.js
  ui/src/jobs/details/config/prediction_config_section/PredictionsConfigSection.scss
  ui/src/jobs/details/config/sink_config_section/bq_config_section/BigQuerySinkConfigTable.js
  ui/src/jobs/details/config/source_config_section/bq_config_section/BigQueryDatasetSection.js
  ui/src/jobs/list/ListEnsemblingJobsLandingView.js
  ui/src/jobs/list/ListEnsemblingJobsTable.js
  ui/src/jobs/list/ListEnsemblingJobsView.js
  ui/src/router/activity_log/RouterActivityLogView.scss
  ui/src/router/activity_log/events_list/EventsList.js
  ui/src/router/components/configuration/components/experiment_config_section/credentials/CredentialsConfigSection.js
  ui/src/router/components/configuration/components/experiment_config_section/experiments/ExperimentsConfigTable.js
  ui/src/router/components/configuration/components/experiment_config_section/variables/VariablesConfigTable.js
  ui/src/router/components/configuration/components/standard_config_section/TreatmentMappingConfigSection.js
  ui/src/router/components/form/components/ensembler_config/standard_ensembler/TreatmentMappingCard.scss
  ui/src/router/components/form/components/pyfunc_config/PyFuncDeploymentPanel.js
  ui/src/router/components/page_header/PageSecondaryHeader.scss
  ui/src/router/create/CreateRouterView.js
  ui/src/router/details/RouterDetailsView.js
  ui/src/router/list/ListRoutersTable.js
  ui/src/router/list/ListRoutersView.js
  ui/src/router/versions/details/RouterVersionDetailsView.js
  ui/src/services/job/JobStatus.js
  ui/src/services/status/Status.js
  ui/yarn.lock
Due: prettier

Reduce code row length to address lint comments
  engines/router/missionctl/fiberapi/routing_strategy.go
Due: golangci-lint

Modify unit tests to incorporate changes to DefaultTuringRoutingStrategy
  engines/router/missionctl/fiberapi/routing_policies_test.go
  engines/router/missionctl/fiberapi/routing_strategy_test.go
Due: golangci-lint

Modify DefaultTuringRoutingStrategy to select route response using route name path
  engines/router/missionctl/fiberapi/routing_policies.go
  engines/router/missionctl/fiberapi/routing_strategy.go
Due: golangci-lint

Add checks to ensure experimentMappings and routeNamePath are not set together
  engines/router/missionctl/fiberapi/routing_policies.go
  engines/router/missionctl/fiberapi/routing_policies_test.go
  engines/router/missionctl/fiberapi/routing_strategy.go
  engines/router/missionctl/fiberapi/routing_strategy_test.go
Due: golangci-lint

Replace deprecated io/util package with io
  engines/router/missionctl/fiberapi/fan_in.go
  engines/router/missionctl/fiberapi/fan_in_test.go
  engines/router/missionctl/fiberapi/interceptors_test.go
  engines/router/missionctl/handlers/http_handler_test.go
  engines/router/missionctl/http/response_test.go
  engines/router/missionctl/instrumentation/tracing/nop.go
  engines/router/missionctl/internal/testutils/response.go
  engines/router/missionctl/mission_control.go
Due: golangci-lint

fix lint, add logging to grpc call
  engines/router/missionctl/mission_control_grpc.go
Due: golangci-lint

Update routing strategy for use with Standard Ensemblers (#233)
  engines/router/missionctl/fiberapi/fan_in.go
  engines/router/missionctl/fiberapi/fan_in_test.go
  engines/router/missionctl/fiberapi/interceptors_test.go
  engines/router/missionctl/fiberapi/routing_policies.go
  engines/router/missionctl/fiberapi/routing_policies_test.go
  engines/router/missionctl/fiberapi/routing_strategy.go
  engines/router/missionctl/fiberapi/routing_strategy_test.go
  engines/router/missionctl/handlers/http_handler_test.go
  engines/router/missionctl/http/response_test.go
  engines/router/missionctl/instrumentation/tracing/nop.go
  engines/router/missionctl/internal/testutils/response.go
  engines/router/missionctl/mission_control.go
Due: golangci-lint

Fix UI validation
  ui/src/router/components/form/validation/schema.js
  ui/src/services/router/TuringRouter.js
Due: prettier

Remove unexpected route response
  api/e2e/test/08_deploy_router_with_traffic_rules_test.go
Due: golangci-lint

Add SQL data migration scripts
  api/db-migrations/000013_add_default_traffic_rule.down.sql
  api/db-migrations/000013_add_default_traffic_rule.up.sql
Due: none

Fix e2e tests
  sdk/e2e/08_deploy_router_with_traffic_rules_test.py
  sdk/samples/router/create_router_with_pyfunc_ensembler.py
Due: black

Update UI
  ui/src/components/card/CardHeader.js
  ui/src/router/components/form/components/experiment_config/components/experiments_config/experiment_card/ExperimentCard.js
  ui/src/router/components/form/components/router_config/RulesPanel.js
  ui/src/router/components/form/components/router_config/rule_card/RuleCard.js
  ui/src/router/components/form/steps/RouterStep.js
  ui/src/router/components/form/validation/schema.js
  ui/src/services/router/TuringRouter.js
Due: prettier

Fix API e2e tests
  api/e2e/test/08_deploy_router_with_traffic_rules_test.go
Due: golangci-lint

Fix indentation
  api/e2e/test/08_deploy_router_with_traffic_rules_test.go
Due: golangci-lint

Update samples
  sdk/samples/router/create_from_existing_router.py
  sdk/samples/router/general.py
Due: black

Add default route UI and API validation
  api/e2e/test/08_deploy_router_with_traffic_rules_test.go
  api/e2e/test/testdata/create_router_with_traffic_rules.json.tmpl
  api/turing/models/traffic_rules.go
  api/turing/testdata/cluster/servicebuilder/router_configmap_traffic_splitting.yml
  api/turing/testdata/cluster/servicebuilder/router_version_success_traffic_splitting.json
  api/turing/validation/validator.go
  api/turing/validation/validator_test.go
  ui/src/router/components/form/components/router_config/RulesPanel.js
  ui/src/router/components/form/components/router_config/rule_card/RuleCard.js
  ui/src/router/components/form/validation/schema.js
Due: golangci-lint, prettier

Fix sdk e2e tests
  sdk/e2e/08_deploy_router_with_traffic_rules_test.py
Due: black

Simplify e2e API traffic rules test validation
  api/e2e/test/08_deploy_router_with_traffic_rules_test.go
Due: golangci-lint

Address PR comments
  api/turing/validation/validator.go
  api/turing/validation/validator_test.go
  ui/src/components/card/DraggableCardHeader.js
  ui/src/router/components/form/components/experiment_config/components/experiments_config/experiment_card/ExperimentCard.js
  ui/src/router/components/form/components/router_config/RulesPanel.js
  ui/src/router/components/form/components/router_config/rule_card/RuleCard.js
  ui/src/router/components/form/steps/RouterStep.js
  ui/src/router/components/form/validation/schema.js
Due: golangci-lint, prettier

Update conditions field validation and tests
  api/e2e/test/testdata/create_router_with_traffic_rules.json.tmpl
  api/turing/models/traffic_rules.go
  api/turing/validation/validator_test.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy.go
Due: golangci-lint

Revert NotBlank tag
  api/turing/models/traffic_rules.go
  api/turing/validation/validator.go
  api/turing/validation/validator_test.go
Due: golangci-lint

refactor metrics logging, extract common func
  engines/router/missionctl/fiberapi/fan_in.go
  engines/router/missionctl/handlers/batch_http_handler.go
  engines/router/missionctl/handlers/http_handler.go
  engines/router/missionctl/instrumentation/metrics/metrics.go
  engines/router/missionctl/log/resultlog/fluentd.go
  engines/router/missionctl/log/resultlog/kafka.go
  engines/router/missionctl/mission_control.go
  engines/router/missionctl/mission_control_grpc.go
Due: golangci-lint

refactor folder structure. ignore experiment engine for grpc default turing strat
  engines/router/missionctl/fiberapi/routing_strategy.go
  engines/router/missionctl/mission_control_grpc.go
  engines/router/missionctl/server/application.go
  engines/router/missionctl/server/grpc/logutils.go
  engines/router/missionctl/server/grpc/server.go
  engines/router/missionctl/server/http/handlers/batch_http_handler.go
  engines/router/missionctl/server/http/handlers/batch_http_handler_test.go
  engines/router/missionctl/server/http/handlers/compression/compression.go
  engines/router/missionctl/server/http/handlers/http_handler.go
  engines/router/missionctl/server/http/handlers/http_handler_test.go
  engines/router/missionctl/server/http/handlers/internal_api.go
  engines/router/missionctl/server/http/handlers/internal_api_test.go
  engines/router/missionctl/server/http/handlers/logutils.go
  engines/router/missionctl/server/http/handlers/logutils_test.go
Due: golangci-lint

fix import
  engines/router/missionctl/mission_control_grpc.go
  engines/router/missionctl/server/grpc/logutils.go
  engines/router/missionctl/server/grpc/server.go
Due: golangci-lint

minor refactoring, add mission_control_grpc test
  engines/router/missionctl/internal/testutils/grpc_server.go
  engines/router/missionctl/internal/testutils/response.go
  engines/router/missionctl/mission_control.go
  engines/router/missionctl/mission_control_grpc_test.go
  engines/router/missionctl/mission_control_test.go
  engines/router/missionctl/server/grpc/logutils_test.go
  engines/router/missionctl/server/grpc/server.go
  engines/router/missionctl/server/grpc/server_test.go
  engines/router/missionctl/server/http/handlers/batch_http_handler_test.go
  engines/router/missionctl/server/http/handlers/http_handler.go
  engines/router/missionctl/server/http/handlers/http_handler_test.go
  engines/router/missionctl/server/http/handlers/logutils.go
  engines/router/missionctl/server/http/response.go
  engines/router/missionctl/server/http/response_test.go
  engines/router/missionctl/testdata/grpc/grpc_router_faulty_port.yaml
  engines/router/missionctl/testdata/grpc/grpc_router_minimal.yaml
Due: golangci-lint

Address PR comments
  api/db-migrations/000013_add_default_traffic_rule.down.sql
  api/db-migrations/000013_add_default_traffic_rule.up.sql
  api/turing/validation/validator.go
  api/turing/validation/validator_test.go
  ui/src/router/components/form/components/router_config/RulesPanel.js
  ui/src/router/components/form/components/router_config/rule_card/RuleCard.js
  ui/src/router/components/form/validation/schema.js
Due: golangci-lint, prettier

Allow configuring autoscaling policy
  ui/src/components/form/docker_image_combo_box/DockerRegistryPopover.js
  ui/src/components/page_navigation/PageNavigation.js
  ui/src/router/components/configuration/components/ResourcesConfigTable.js
  ui/src/router/components/configuration/components/RouterConfigSection.js
  ui/src/router/components/configuration/components/docker_config_section/DockerConfigViewGroup.js
  ui/src/router/components/configuration/components/pyfunc_config_section/PyFuncConfigViewGroup.js
  ui/src/router/components/form/components/AutoscalingPolicyPanel.js
  ui/src/router/components/form/components/docker_config/DockerConfigFormGroup.js
  ui/src/router/components/form/components/pyfunc_config/PyFuncConfigFormGroup.js
  ui/src/router/components/form/components/typeOptions.js
  ui/src/router/components/form/steps/EnricherStep.js
  ui/src/router/components/form/steps/RouterStep.js
  ui/src/router/components/form/validation/schema.js
  ui/src/services/ensembler/DockerEnsembler.js
  ui/src/services/ensembler/PyFuncEnsembler.js
  ui/src/services/router/TuringRouter.js
  ui/src/services/version/RouterVersion.js
Due: prettier

Add Autoscaling Policy panel help
  ui/src/router/components/configuration/components/ResourcesConfigTable.js
  ui/src/router/components/form/components/autoscaling_policy/AutoscalingPolicyPanel.js
  ui/src/router/components/form/components/autoscaling_policy/AutoscalingPolicyPanelFlyout.js
  ui/src/router/components/form/components/autoscaling_policy/typeOptions.js
  ui/src/router/components/form/components/docker_config/DockerConfigFormGroup.js
  ui/src/router/components/form/components/pyfunc_config/PyFuncConfigFormGroup.js
  ui/src/router/components/form/components/router_config/RulesPanel.js
  ui/src/router/components/form/steps/EnricherStep.js
  ui/src/router/components/form/steps/RouterStep.js
  ui/src/router/components/form/validation/schema.js
Due: prettier

Update user docs
  docs/.gitbook/assets/autoscaling_policy_panel.png
  docs/.gitbook/assets/view_router_with_traffic_rules.png
  docs/how-to/create-a-router/configure-autoscaling.md
  docs/how-to/create-a-router/configure-enricher.md
  docs/how-to/create-a-router/configure-ensembler.md
Due: none

Update user docs - fix typo
  docs/how-to/create-a-router/configure-ensembler.md
Due: none

Update UI Rules Panel
  ui/src/router/components/form/components/router_config/RulesPanel.js
Due: prettier

Refactor DB scripts
  api/db-migrations/000013_add_default_traffic_rule.down.sql
  api/db-migrations/000013_add_default_traffic_rule.up.sql
Due: none
