Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, prettier, openapi-bundle, openapi-gen, black

golangci-lint:
  name: Linter for the Experiment Engine
  alias: golangci-lint-experiment
  language: system
  entry: bash -c 'cd engines/experiment make lint'

prettier:
  name: Prettier for UI
  language: system
  entry: bash -c 'cd ui && yarn lint'

openapi-bundle:
  name: OpenAPI Swagger Dist
  language: system
  entry: bash -c 'cd api/api && make all'

openapi-gen:
  name: OpenAPI Python client
  language: system
  entry: bash -c 'cd sdk && make gen-client'

black:
  name: Black formatter for Pyfunc Ensembler Service Engine
  alias: black-ensembler-service
  language: system
  entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Test hook
  engines/experiment/config/config_test.go
Due: golangci-lint

Fix lint
  api/turing/cluster/knative_service.go
Due: golangci-lint

Limit number of process for running goimports
  .pre-commit-config.yaml
Due: none

Use bash chaining
  .pre-commit-config.yaml
Due: none

update docs and commen ts
  docs/how-to/create-a-router/configure-routes.md
  docs/how-to/create-a-router/configure-traffic-rules.md
  ui/src/router/components/form/components/enricher_config/typeOptions.js
  ui/src/router/components/form/components/ensembler_config/typeOptions.js
  ui/src/router/components/form/validation/schema.js
Due: prettier

remove unintended addition
  api/e2e/test/routers_suite_test.go
  api/turing/cluster/knative_service.go
Due: golangci-lint

Run one goimports hook
  .pre-commit-config.yaml
Due: none

Grpc upi UI (#270)
  docs/.gitbook/assets/general_router_settings.png
  docs/how-to/create-a-router/configure-general-settings.md
  docs/how-to/create-a-router/configure-routes.md
  docs/how-to/create-a-router/configure-traffic-rules.md
  ui/src/components/form/endpoint_combo_box/SelectEndpointComboBox.js
  ui/src/components/validation.js
  ui/src/router/components/form/CreateRouterForm.js
  ui/src/router/components/form/UpdateRouterForm.js
  ui/src/router/components/form/components/enricher_config/typeOptions.js
  ui/src/router/components/form/components/ensembler_config/typeOptions.js
  ui/src/router/components/form/components/experiment_config/EngineTypePanel.js
  ui/src/router/components/form/components/experiment_config/ExperimentConfigPanel.js
  ui/src/router/components/form/components/router_config/GeneralSettingsPanel.js
  ui/src/router/components/form/components/router_config/RoutesPanel.js
  ui/src/router/components/form/components/router_config/RulesPanel.js
  ui/src/router/components/form/components/router_config/route_card/RouteCard.js
  ui/src/router/components/form/components/router_config/rule_card/RuleCard.js
  ui/src/router/components/form/components/router_config/typeOptions.js
  ui/src/router/components/form/steps/EnricherStep.js
  ui/src/router/components/form/steps/EnsemblerStep.js
  ui/src/router/components/form/steps/ExperimentStep.js
  ui/src/router/components/form/steps/RouterStep.js
  ui/src/router/components/form/validation/schema.js
  ui/src/router/components/request_field_source/FieldSourceFormLabel.js
  ui/src/router/components/traffic_rule_condition/TrafficRuleCondition.js
  ui/src/router/details/components/router_details_header/RouterDetailsPageHeader.js
  ui/src/router/versions/details/version_details_header/VersionDetailsPageHeader.js
  ui/src/services/router/TuringRouter.js
  ui/src/services/version/RouterVersion.js
  ui/src/utils/validation.js
Due: prettier

Address comment
  api/turing/validation/validator.go
  engines/router/missionctl/log/resultlog/bigquery.go
Due: golangci-lint

Exclude pb go files
  .pre-commit-config.yaml
  engines/router/missionctl/log/resultlog/proto/turing/TuringResultLog.pb.go
Due: golangci-lint

upgrade knative to 1.3.2
  .github/workflows/cluster-init.yaml
  .github/workflows/turing.yaml
  infra/docker-compose/dev/docker-compose.yml
Due: none

minor refactoring, add disabled service_method to route panel, experiment engine detail page to support protocol
  api/turing/validation/validator.go
  docs/how-to/create-a-router/configure-routes.md
  docs/how-to/create-a-router/configure-traffic-rules.md
  engines/experiment/docs/developer_guide.md
  ui/src/router/components/configuration/components/ExperimentConfigSection.js
  ui/src/router/components/form/components/router_config/GeneralSettingsPanel.js
  ui/src/router/components/form/components/router_config/route_card/RouteCard.js
  ui/src/router/components/form/steps/ExperimentStep.js
  ui/src/router/components/form/validation/schema.js
Due: golangci-lint, prettier

Apply traffic rule labels
  engines/router/go.mod
  engines/router/go.sum
  engines/router/missionctl/fiberapi/fan_in.go
  engines/router/missionctl/fiberapi/interceptors.go
  engines/router/missionctl/fiberapi/routing_strategy.go
  engines/router/missionctl/fiberapi/routing_strategy_test.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy_test.go
  engines/router/missionctl/instrumentation/metrics/prometheus.go
  engines/router/missionctl/log/resultlog/fluentd.go
  engines/router/missionctl/log/resultlog/kafka.go
  engines/router/missionctl/mission_control.go
  engines/router/missionctl/mission_control_upi.go
  engines/router/missionctl/server/http/handlers/batch_http_handler.go
  engines/router/missionctl/server/http/handlers/http_handler.go
  engines/router/missionctl/server/upi/server.go
Due: golangci-lint

Update go mod deps
  engines/router/go.mod
  engines/router/go.sum
Due: none

Update UPI mission control
  engines/router/missionctl/mission_control_upi.go
Due: golangci-lint

Fix sample traffic split config
  engines/router/configs/traffic_splitting_router.yaml
Due: none

Update API dependency
  api/go.mod
  api/go.sum
Due: none

Capture traffic_rule label in error responses
  engines/router/missionctl/mission_control.go
  engines/router/missionctl/mission_control_upi.go
Due: golangci-lint

Update API dependency
  api/go.mod
  api/go.sum
  engines/router/go.mod
  engines/router/go.sum
  engines/router/missionctl/mission_control.go
Due: golangci-lint

minor refactoring, add disabled service_method to route panel, experiment engine detail page to support protocol (#279)
  api/turing/validation/validator.go
  docs/how-to/create-a-router/configure-routes.md
  docs/how-to/create-a-router/configure-traffic-rules.md
  engines/experiment/docs/developer_guide.md
  ui/src/router/components/configuration/components/ExperimentConfigSection.js
  ui/src/router/components/form/components/router_config/GeneralSettingsPanel.js
  ui/src/router/components/form/components/router_config/route_card/RouteCard.js
  ui/src/router/components/form/steps/ExperimentStep.js
  ui/src/router/components/form/validation/schema.js
Due: golangci-lint, prettier

Modify error rate's alert query that use UPI protocol
  api/go.mod
  api/go.sum
  api/turing/models/alert.go
  api/turing/models/alert_test.go
Due: golangci-lint

Change error rate query
  api/turing/models/alert.go
  api/turing/models/alert_test.go
Due: golangci-lint

Update alert for error rate
  api/turing/models/alert.go
  api/turing/models/alert_test.go
Due: golangci-lint

Changes for standard ensembler with lazy routing
  api/api/specs/routers.yaml
  api/go.mod
  api/go.sum
  api/turing/cluster/servicebuilder/router.go
  api/turing/models/ensembler.go
  ui/src/router/components/form/components/ensembler_config/EnsemblerTypePanel.js
  ui/src/router/components/form/steps/EnsemblerStep.js
Due: golangci-lint, prettier, openapi-bundle, openapi-gen

Update fiber ref
  api/go.mod
  api/go.sum
  engines/router/go.mod
  engines/router/go.sum
Due: none

Add traffic_rule label to router metrics (#280)
  api/go.mod
  api/go.sum
  engines/router/configs/traffic_splitting_router.yaml
  engines/router/go.mod
  engines/router/go.sum
  engines/router/missionctl/fiberapi/fan_in.go
  engines/router/missionctl/fiberapi/interceptors.go
  engines/router/missionctl/fiberapi/routing_strategy.go
  engines/router/missionctl/fiberapi/routing_strategy_test.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy_test.go
  engines/router/missionctl/instrumentation/metrics/prometheus.go
  engines/router/missionctl/log/resultlog/fluentd.go
  engines/router/missionctl/log/resultlog/kafka.go
  engines/router/missionctl/mission_control.go
  engines/router/missionctl/mission_control_upi.go
  engines/router/missionctl/server/http/handlers/batch_http_handler.go
  engines/router/missionctl/server/http/handlers/http_handler.go
  engines/router/missionctl/server/upi/server.go
Due: golangci-lint

bugfix merlin endpoint url for upi
  ui/src/providers/endpoints/MerlinEndpointsProvider.js
Due: prettier

allow liveliness probe for grpc h2c knative
  .github/workflows/cluster-init.yaml
  .github/workflows/turing.yaml
  README.md
  api/turing/cluster/knative_service.go
  api/turing/cluster/knative_service_test.go
  infra/charts/turing-init/README.md
  infra/charts/turing-init/values.yaml
  infra/cluster-init/cleanup.sh
  infra/cluster-init/init.sh
  infra/docker-compose/dev/docker-compose.yml
  ui/src/providers/endpoints/MerlinEndpointsProvider.js
Due: golangci-lint, prettier

fix lint
  api/turing/cluster/knative_service_test.go
Due: golangci-lint

Knative upgrade and upi bug fixes (#282)
  .github/workflows/cluster-init.yaml
  .github/workflows/turing.yaml
  README.md
  api/turing/cluster/knative_service.go
  api/turing/cluster/knative_service_test.go
  infra/charts/turing-init/README.md
  infra/charts/turing-init/values.yaml
  infra/cluster-init/cleanup.sh
  infra/cluster-init/init.sh
  infra/docker-compose/dev/docker-compose.yml
  ui/src/providers/endpoints/MerlinEndpointsProvider.js
Due: golangci-lint, prettier

Replace deprecated method
  api/turing/service/router_deployment_service.go
Due: golangci-lint

Reorder template conditional statements
  infra/charts/turing/templates/_helpers.tpl
Due: none

Add service methods to inject exp engine secret into router deployment
  api/go.mod
  api/turing/api/deployment_controller.go
  api/turing/api/deployment_controller_test.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/cluster/servicebuilder/service_builder_test.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/testdata/config-2.yaml
  api/turing/service/mocks/router_deployment_service.go
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint

Add unit tests for GetSecret method
  api/turing/cluster/controller_test.go
Due: golangci-lint

Fix unit test
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint

Fix indentation in helm template
  infra/charts/turing/templates/_helpers.tpl
Due: none

Path conditions:
  golangci-lint: ((any of: ^api/ and \.go$) or (any of: ^engines/router/ and \.go$)) or (any of: ^engines/experiment/ and \.go$)
  prettier: any of: ^ui/ and \.(js|mjs|cjs)$, \.css$
  openapi-bundle: any of: ^api/api/specs/
  openapi-gen: any of: ^api/api/specs/
  black: ((any of: ^sdk/ and \.py$) or (any of: ^engines/pyfunc-ensembler-job/ and \.py$)) or (any of: ^engines/pyfunc-ensembler-service/ and \.py$)
