Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: golangci-lint
        name: 'Linter for API'
        alias: golangci-lint-api
        files: '^api/'
        types: [go]
        language: system
        entry: bash -c 'cd api make lint'
      - id: golangci-lint
        name: 'Linter for the Router Engine'
        alias: golangci-lint-router
        files: '^engines/router/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/router make lint'
      - id: golangci-lint
        name: 'Linter for the Experiment Engine'
        alias: golangci-lint-experiment
        files: '^engines/experiment/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/experiment make lint'
  - repo: local
    hooks:
      - id: goimports
        name: 'Run goimports'
        alias: goimports
        files: '^[api/|engines/router/|engines/experiment/]'
        exclude: "pb.go"
        types: [go]
        language: system
        entry: goimports -w -local github.com/caraml-dev/turing
  - repo: local
    hooks:
      - id: prettier
        name: 'Prettier for UI'
        files: '^ui/'
        types_or: [javascript, css]
        language: system
        entry: bash -c 'cd ui && yarn lint'
  - repo: local
    hooks:
      - id: openapi-bundle
        name: 'OpenAPI Swagger Dist'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd api/api && make all'
  - repo: local
    hooks:
      - id: openapi-gen
        name: 'OpenAPI Python client'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd sdk && make gen-client'
  - repo: local
    hooks:
      - id: black
        name: 'Black formatter for the SDK'
        alias: black-sdk
        files: '^sdk/'
        types: [python]
        language: system
        entry: bash -c 'cd sdk && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Job Engine'
        alias: black-ensembler-job
        files: '^engines/pyfunc-ensembler-job/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-job && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Service Engine'
        alias: black-ensembler-service
        files: '^engines/pyfunc-ensembler-service/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

feat: adjust kaniko job flags
  api/turing/imagebuilder/imagebuilder.go
Due: golangci-lint, goimports

feat: implement getHashedModelDependenciesUrl
  api/turing/imagebuilder/imagebuilder.go
Due: golangci-lint, goimports

feat: create unit test for getHashedModelDependenciesUrl
  api/turing/imagebuilder/imagebuilder_test.go
Due: golangci-lint, goimports

feat: refactor app.Dockerfile to use hashed dependency
  engines/pyfunc-ensembler-service/app.Dockerfile
Due: none

feat: call getHashedModelDependenciesUrl and pass to kanikojob
  api/turing/imagebuilder/imagebuilder.go
Due: golangci-lint, goimports

chore: artifactService dependency injection
  api/turing/api/appcontext.go
  api/turing/imagebuilder/ensembler.go
  api/turing/imagebuilder/imagebuilder.go
Due: golangci-lint, goimports

chore: adjust imagebuilder_test
  api/turing/imagebuilder/imagebuilder_test.go
Due: golangci-lint, goimports

chore: delete unused attribute and reorder code
  api/turing/imagebuilder/imagebuilder_test.go
Due: golangci-lint, goimports

chore: fix appcontext_test
  api/turing/api/appcontext_test.go
Due: golangci-lint, goimports

feat: refactor ensembler job app.Dockerfile
  engines/pyfunc-ensembler-job/app.Dockerfile
  engines/pyfunc-ensembler-service/app.Dockerfile
Due: none

feat: remove python installation process on base Dockerfile, install python on the app.Dockerfile instead
  engines/pyfunc-ensembler-service/Dockerfile
  engines/pyfunc-ensembler-service/env-3.10.yaml
  engines/pyfunc-ensembler-service/env-3.9.yaml
  engines/pyfunc-ensembler-service/env.yaml
Due: none

feat: remove python installation from ensembling job base image
  engines/pyfunc-ensembler-job/Dockerfile
  engines/pyfunc-ensembler-job/env-3.8.yaml
  engines/pyfunc-ensembler-job/env-3.9.yaml
  engines/pyfunc-ensembler-job/env.yaml
Due: none

feat: update Makefile to publish turing pyfunc-ensembler-service to pypi
  engines/pyfunc-ensembler-service/Makefile
  engines/pyfunc-ensembler-service/requirements.txt
  engines/pyfunc-ensembler-service/version.py
Due: black

chore: add version when publishing pyfunc-ensembler-service package
  engines/pyfunc-ensembler-service/setup.py
Due: black

chore: test app.Dockerfile changes
  engines/pyfunc-ensembler-service/app.Dockerfile
Due: none

chore: try to create new conda env instead of updating the conda env on app.Dockerfile
  engines/pyfunc-ensembler-service/app.Dockerfile
Due: none

chore: change turing_dep value for testing
  engines/pyfunc-ensembler-service/app.Dockerfile
Due: none

feat: install turing-sdk via process_conda_env.sh
  engines/pyfunc-ensembler-service/Dockerfile
  engines/pyfunc-ensembler-service/env.yaml
  engines/pyfunc-ensembler-service/process_conda_env.sh
  engines/pyfunc-ensembler-service/requirements.txt
  engines/pyfunc-ensembler-service/version.py
Due: black

chore: change TURING_DEP value
  engines/pyfunc-ensembler-service/app.Dockerfile
Due: none

feat: use 1 base image for every python version
  api/turing/config/config.go
  api/turing/imagebuilder/imagebuilder.go
Due: golangci-lint, goimports

chore: remove BaseImageRefTag
  api/turing/batch/ensembling/runner.go
  api/turing/imagebuilder/imagebuilder.go
  api/turing/imagebuilder/imagebuilder_test.go
  api/turing/service/ensembler_image_service.go
  api/turing/service/router_deployment_service.go
Due: golangci-lint, goimports

feat: create rule to build pyfunc-ensembler-job setup.py
  engines/pyfunc-ensembler-job/Makefile
  engines/pyfunc-ensembler-job/env.yaml
  engines/pyfunc-ensembler-job/requirements.txt
  engines/pyfunc-ensembler-job/setup.py
  engines/pyfunc-ensembler-job/version.py
Due: black

feat: adjust app.Dockerfile and base Dockerfile for pyfunc-ensembler-job
  engines/pyfunc-ensembler-job/Dockerfile
  engines/pyfunc-ensembler-job/app.Dockerfile
  engines/pyfunc-ensembler-job/process_conda_env.sh
  engines/pyfunc-ensembler-service/app.Dockerfile
Due: none

chore: add yq installation step on pyfunc-ensembler-job base Dockerfile
  engines/pyfunc-ensembler-job/Dockerfile
Due: none

chore: fix breaking appcontext_test.go
  api/turing/api/appcontext_test.go
Due: golangci-lint, goimports

chore: refactor line with char > 120
  api/turing/imagebuilder/imagebuilder.go
  api/turing/imagebuilder/imagebuilder_test.go
Due: golangci-lint, goimports

chore: remove unittest related to image tag
  api/turing/imagebuilder/imagebuilder_test.go
Due: golangci-lint, goimports

chore: fix golangci-lint related issues
  api/turing/batch/ensembling/runner.go
  api/turing/imagebuilder/imagebuilder.go
  api/turing/imagebuilder/imagebuilder_test.go
Due: golangci-lint, goimports

chore: fix golangci-lint related issues (2)
  api/turing/imagebuilder/imagebuilder.go
  api/turing/imagebuilder/imagebuilder_test.go
Due: golangci-lint, goimports

chore: fix golangci-lint related issue (3)
  api/turing/imagebuilder/imagebuilder.go
Due: golangci-lint, goimports

fix: fix wrong arg name in ensembler job app.Dockerfile
  engines/pyfunc-ensembler-job/app.Dockerfile
Due: none

chore: use pyfunc-ensembler-job package instead of dummy package
  engines/pyfunc-ensembler-job/app.Dockerfile
Due: none

feat: add Publish pyfunc-ensembler-job package step on github CI
  .github/workflows/pyfunc-ensembler-job.yaml
Due: none

chore: adjust github ci for testing
  .github/workflows/pyfunc-ensembler-job.yaml
Due: none

fix: use importlib.util instead of imp (imp was removed in python 3.12)
  engines/pyfunc-ensembler-job/setup.py
Due: black

chore: remove TWINE auth from makefile command, use env instead
  engines/pyfunc-ensembler-job/Makefile
Due: none

chore: adjust pypi related env
  .github/workflows/pyfunc-ensembler-job.yaml
Due: none

feat: add publish pyfunc-ensembler-service package to github CI
  .github/workflows/pyfunc-ensembler-service.yaml
Due: none

chore: adjust ci rule for testing
  .github/workflows/pyfunc-ensembler-service.yaml
Due: none
