Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, prettier, openapi-bundle, openapi-gen, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.11.0
    hooks:
      - id: helm-docs-built
        name: 'Helm Docs for Turing Chart'
        files: '^infra/charts/turing/'
        args:
          - --chart-search-root=infra/charts/turing
          - --template-files=./README.md.gotmpl
      - id: helm-docs-built
        name: 'Helm Docs for Turing Init Chart'
        files: '^infra/charts/turing-init/'
        args:
          - --chart-search-root=infra/charts/turing-init
          - --template-files=./README.md.gotmpl
  - repo: local
    hooks:
      - id: golangci-lint
        name: 'Linter for API'
        alias: golangci-lint-api
        files: '^api/'
        types: [go]
        language: system
        entry: bash -c 'cd api make lint'
      - id: golangci-lint
        name: 'Linter for the Router Engine'
        alias: golangci-lint-router
        files: '^engines/router/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/router make lint'
      - id: golangci-lint
        name: 'Linter for the Experiment Engine'
        alias: golangci-lint-experiment
        files: '^engines/experiment/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/experiment make lint'
  - repo: local
    hooks:
      - id: prettier
        name: 'Prettier for UI'
        files: '^ui/'
        types_or: [javascript, css]
        language: system
        entry: bash -c 'cd ui && yarn lint'
  - repo: local
    hooks:
      - id: openapi-bundle
        name: 'OpenAPI Swagger Dist'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd api/api && make all'
  - repo: local
    hooks:
      - id: openapi-gen
        name: 'OpenAPI Python client'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd sdk && make gen-client'
  - repo: local
    hooks:
      - id: black
        name: 'Black formatter for the SDK'
        alias: black-sdk
        files: '^sdk/'
        types: [python]
        language: system
        entry: bash -c 'cd sdk && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Job Engine'
        alias: black-ensembler-job
        files: '^engines/pyfunc-ensembler-job/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-job && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Service Engine'
        alias: black-ensembler-service
        files: '^engines/pyfunc-ensembler-service/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Remove redundant line from docs
  docs/how-to/create-a-router/configure-ensembler.md
Due: none

Configure Turing UI to use Standard Ensembler for Custom Experiment Engines (#235)
  docs/how-to/create-a-router/configure-ensembler.md
  engines/experiment/docs/developer_guide.md
  ui/src/components/remote_component/ExperimentEngineComponentLoader.js
  ui/src/experiment/ExperimentsRouter.js
  ui/src/router/components/configuration/components/EnsemblerConfigSection.js
  ui/src/router/components/configuration/components/ExperimentConfigSection.js
  ui/src/router/components/configuration/components/standard_config_section/StandardConfigViewGroup.js
  ui/src/router/components/form/components/ensembler_config/standard_ensembler/StandardEnsemblerFormGroup.js
  ui/src/router/components/form/components/ensembler_config/typeOptions.js
  ui/src/router/components/form/components/experiment_config/ExperimentConfigPanel.js
  ui/src/router/components/form/steps/EnsemblerStep.js
  ui/src/services/ensembler/StandardEnsembler.js
  ui/src/services/job/JobStatus.js
  ui/src/services/status/Status.js
Due: prettier

Add route_name_path field to EnsemblerStandardConfig
  sdk/tests/conftest.py
  sdk/tests/router/config/router_config_test.py
  sdk/tests/router/config/router_ensembler_config_test.py
  sdk/turing/generated/model/ensembler_standard_config.py
  sdk/turing/router/config/router_ensembler_config.py
Due: black

Add SDK e2e test for standard ensemblers
  sdk/e2e/09_deploy_router_with_route_name_path_std_ensembler_test.py
  sdk/e2e/conftest.py
  sdk/tests/conftest.py
Due: black

Add conditional parsing of experiment mappings
  sdk/turing/router/config/router_ensembler_config.py
Due: black

Remove hanging comment
  sdk/turing/router/config/router_ensembler_config.py
Due: black

Rename e2e tests with standard ensembler
  api/e2e/test/00_all_e2e_test.go
  api/e2e/test/09_deploy_router_with_std_ensembler_test.go
  api/e2e/test/testdata/create_router_with_std_ensembler.json.tmpl
  sdk/e2e/09_deploy_router_with_std_ensembler_test.py
  sdk/e2e/conftest.py
Due: golangci-lint, black

Refactor EnsemblerStandardConfig class and tests
  sdk/e2e/09_deploy_router_with_route_name_path_std_ensembler_test.py
  sdk/e2e/conftest.py
  sdk/tests/conftest.py
  sdk/tests/router/config/router_ensembler_config_test.py
  sdk/turing/router/config/router_ensembler_config.py
Due: black

Make route_name_path and experiment_mappings nullable
  api/api/openapi.bundle.yaml
  api/api/specs/routers.yaml
  sdk/turing/generated/model/ensembler_standard_config.py
Due: openapi-bundle, openapi-gen, black

Remove paths-ignore value for sdk files
  .github/workflows/turing.yaml
Due: none

Add Standard Ensembler with Route Name Path to SDK (#248)
  .github/workflows/turing.yaml
  api/api/openapi.bundle.yaml
  api/api/specs/routers.yaml
  api/e2e/test/00_all_e2e_test.go
  api/e2e/test/09_deploy_router_with_std_ensembler_test.go
  api/e2e/test/testdata/create_router_with_std_ensembler.json.tmpl
  sdk/e2e/09_deploy_router_with_std_ensembler_test.py
  sdk/e2e/conftest.py
  sdk/tests/conftest.py
  sdk/tests/router/config/router_config_test.py
  sdk/tests/router/config/router_ensembler_config_test.py
  sdk/turing/generated/model/ensembler_standard_config.py
  sdk/turing/router/config/router_ensembler_config.py
Due: golangci-lint, openapi-bundle, openapi-gen, black

Address PR comments
  docs/how-to/create-a-router/configure-traffic-rules.md
Due: none

Add Traffic Rules documentation (#249)
  docs/.gitbook/assets/create_router_rules_priority.png
  docs/.gitbook/assets/view_router_groupby_routes.png
  docs/.gitbook/assets/view_router_groupby_rules.png
  docs/.gitbook/assets/view_router_with_traffic_rules.png
  docs/how-to/create-a-router/configure-traffic-rules.md
  docs/how-to/viewing-routers/configuration.md
Due: none

Fix tailLines filter for logs viewer
  ui/src/components/pod_logs_viewer/PodLogsViewer.js
Due: prettier

Fix tailLines filter for logs viewer (#252)
  ui/src/components/pod_logs_viewer/PodLogsViewer.js
Due: prettier

Update tooltip for fallback routes
  ui/src/router/components/form/components/ensembler_config/RouteSelectionPanel.js
Due: prettier

Remove route name path if the field is an empty string when converting to json
  ui/src/services/ensembler/Ensembler.js
Due: prettier

Fix validation schema for standard ensembler
  ui/src/router/components/form/validation/schema.js
  ui/src/services/ensembler/Ensembler.js
Due: prettier

Remove add rule button from droppable area
  ui/src/router/components/form/components/router_config/RulesPanel.js
Due: prettier

Bugfix: Fix UI bugs with standard ensemblers and rules update (#251)
  ui/src/router/components/form/components/ensembler_config/RouteSelectionPanel.js
  ui/src/router/components/form/components/router_config/RulesPanel.js
  ui/src/router/components/form/validation/schema.js
  ui/src/services/ensembler/Ensembler.js
Due: prettier

Add additional validation check for standard ensemblers
  ui/src/router/components/form/validation/schema.js
Due: prettier

Add pretty print formatting for router rules
  ui/src/services/version/RouterVersion.js
Due: prettier

Bugfix: Fix diff page to display router rules (#253)
  ui/src/router/components/form/validation/schema.js
  ui/src/services/version/RouterVersion.js
Due: prettier

Make traffic rules appear in pretty print only when they exist
  ui/src/services/version/RouterVersion.js
Due: prettier

Specify comma and space as a delimiter when combining rule/route names into a string
  ui/src/services/version/RouterVersion.js
Due: prettier

Fix v1.7.0-rc1 bugs (#254)
  ui/src/services/version/RouterVersion.js
Due: prettier

Fix incorrect naming
  ui/src/router/components/configuration/components/pyfunc_config_section/PyFuncConfigViewGroup.js
Due: prettier

Fix incorrect naming (#256)
  ui/src/router/components/configuration/components/pyfunc_config_section/PyFuncConfigViewGroup.js
Due: prettier

Bump up go validator version
  api/go.mod
  api/go.sum
Due: none

Update incorrect docstring for image builder method
  api/turing/imagebuilder/ensembler.go
Due: golangci-lint

Bugfix: Fix RFC-1123 hostname string validation for ensembler names (#257)
  api/go.mod
  api/go.sum
  api/turing/imagebuilder/ensembler.go
Due: golangci-lint

Simplify SelectRoute implementation
  engines/router/missionctl/fiberapi/internal/testutils/helpers.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy_test.go
Due: golangci-lint

Remove PluginURL from experiment engine factory
  engines/experiment/config/config.go
  engines/experiment/config/config_test.go
  engines/experiment/plugin/rpc/factory.go
Due: golangci-lint

Update knative serving version that corresponds to knative v1.1.3
  api/go.mod
  api/go.sum
Due: none

Remove the setting of plugin url in the router config map
  api/turing/cluster/servicebuilder/router.go
Due: golangci-lint

Remove plugin url from fiber config in test data
  api/turing/testdata/cluster/servicebuilder/router_configmap_exp_engine.yml
Due: none

Make API generate initContainers when exp engine plugins are used
  api/turing/cluster/knative_service.go
  api/turing/cluster/models.go
  api/turing/cluster/servicebuilder/plugins_server.go
  api/turing/cluster/servicebuilder/plugins_server_test.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/service/router_deployment_service.go
Due: golangci-lint

Remove NewPluginsServerService from ClusterServiceBuilder interface
  api/turing/cluster/servicebuilder/service_builder.go
Due: golangci-lint

Fix lint comments
  api/turing/api/request/request_test.go
  api/turing/api/route.go
  api/turing/batch/ensembling/controller_test.go
  api/turing/cluster/knative_service_test.go
  api/turing/models/routes_test.go
  api/turing/validation/validator.go
Due: golangci-lint
