Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: golangci-lint
        name: 'Linter for API'
        alias: golangci-lint-api
        files: '^api/'
        types: [go]
        language: system
        entry: bash -c 'cd api make lint'
      - id: golangci-lint
        name: 'Linter for the Router Engine'
        alias: golangci-lint-router
        files: '^engines/router/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/router make lint'
      - id: golangci-lint
        name: 'Linter for the Experiment Engine'
        alias: golangci-lint-experiment
        files: '^engines/experiment/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/experiment make lint'
  - repo: local
    hooks:
      - id: goimports
        name: 'Run goimports'
        alias: goimports
        files: '^[api/|engines/router/|engines/experiment/]'
        exclude: "pb.go"
        types: [go]
        language: system
        entry: goimports -w -local github.com/caraml-dev/turing
  - repo: local
    hooks:
      - id: prettier
        name: 'Prettier for UI'
        files: '^ui/'
        types_or: [javascript, css]
        language: system
        entry: bash -c 'cd ui && yarn lint'
  - repo: local
    hooks:
      - id: openapi-bundle
        name: 'OpenAPI Swagger Dist'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd api/api && make all'
  - repo: local
    hooks:
      - id: openapi-gen
        name: 'OpenAPI Python client'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd sdk && make gen-client'
  - repo: local
    hooks:
      - id: black
        name: 'Black formatter for the SDK'
        alias: black-sdk
        files: '^sdk/'
        types: [python]
        language: system
        entry: bash -c 'cd sdk && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Job Engine'
        alias: black-ensembler-job
        files: '^engines/pyfunc-ensembler-job/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-job && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Service Engine'
        alias: black-ensembler-service
        files: '^engines/pyfunc-ensembler-service/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Add step to pass api server env vars to spark jobs
  api/turing/cluster/spark.go
  api/turing/config/config.go
Due: golangci-lint, goimports

Fix bug and add unit tests
  api/turing/cluster/spark.go
  api/turing/cluster/spark_test.go
Due: golangci-lint, goimports

feat(batch-jobs): Add step to pass API server env vars to spark jobs (#400)
  api/turing/cluster/spark.go
  api/turing/cluster/spark_test.go
  api/turing/config/config.go
Due: golangci-lint, goimports

chore: fix managed label and increase log volume size
  api/turing/cluster/labeller/labeller.go
  api/turing/cluster/servicebuilder/fluentd.go
Due: golangci-lint, goimports

chore: revert label fix
  api/turing/cluster/labeller/labeller.go
Due: golangci-lint, goimports

chore: set cache volume size to 20
  api/turing/cluster/servicebuilder/fluentd.go
Due: golangci-lint, goimports

chore: increase log volume size (#401)
  api/turing/cluster/servicebuilder/fluentd.go
Due: golangci-lint, goimports

chore: remove unused variable
  api/turing/service/ensembling_job_service.go
Due: golangci-lint, goimports

feat: add Ensembler in EnsemblingMonitoringVariables
  api/turing/service/ensembling_job_service.go
Due: golangci-lint, goimports

fix: failed test caused by nil value
  api/turing/service/ensembling_job_service.go
Due: golangci-lint, goimports

fix: change dashboardURLFormat in the unittest
  api/go.mod
  api/go.sum
  api/turing/service/ensembling_job_service_test.go
Due: golangci-lint, goimports

feat: adjust filter for turing monitoring dashboard (#402)
  api/go.mod
  api/go.sum
  api/turing/service/ensembling_job_service.go
  api/turing/service/ensembling_job_service_test.go
Due: golangci-lint, goimports

Update openapi specs
  api/api/openapi.bundle.yaml
  api/api/specs/common.yaml
  api/api/specs/jobs.yaml
  api/api/specs/routers.yaml
  api/openapi-codegen.yaml
Due: openapi-bundle, openapi-gen

Update autogenerated golang client files
  api/turing/generated/model_ensembler_infra_config.go
  api/turing/generated/model_mounted_mlp_secret.go
Due: golangci-lint, goimports

Update autogenerated python client files
  sdk/turing/generated/model/enricher.py
  sdk/turing/generated/model/ensembler_docker_config.py
  sdk/turing/generated/model/ensembler_infra_config.py
  sdk/turing/generated/model/ensembler_pyfunc_config.py
  sdk/turing/generated/models/__init__.py
Due: black

Add user-configured secrets to batch jobs
  api/turing/batch/ensembling/controller.go
  api/turing/batch/ensembling/controller_test.go
  api/turing/cluster/spark.go
  api/turing/cluster/spark_test.go
Due: golangci-lint, goimports

Add missing python client file
  sdk/turing/generated/model/mounted_mlp_secret.py
Due: black

Fix lint comments
  api/turing/batch/ensembling/controller.go
Due: golangci-lint, goimports

Add user-configured secrets to enricher and ensembler deployments
  api/turing/api/deployment_controller.go
  api/turing/api/deployment_controller_test.go
  api/turing/cluster/servicebuilder/fluentd.go
  api/turing/cluster/servicebuilder/fluentd_test.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/cluster/servicebuilder/service_builder_test.go
  api/turing/models/enricher.go
  api/turing/models/ensembler.go
  api/turing/models/secret.go
  api/turing/service/mocks/router_deployment_service.go
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint, goimports

Black turing sdk files
  sdk/tests/conftest.py
  sdk/tests/router/config/router_config_test.py
  sdk/tests/router/config/router_ensembler_config_test.py
  sdk/tests/router/config/router_version_test.py
  sdk/turing/ensembler.py
  sdk/turing/router/config/router_config.py
  sdk/turing/router/config/router_ensembler_config.py
Due: black

Add db migration scripts
  api/db-migrations/000016_add_secrets_columns.down.sql
  api/db-migrations/000016_add_secrets_columns.up.sql
Due: none

Fix lint comments
  api/turing/api/deployment_controller.go
  api/turing/api/deployment_controller_test.go
  api/turing/models/secret.go
Due: golangci-lint, goimports

Add sdk changes to allow user-secrets to be mounted
  sdk/tests/batch/config/config_test.py
  sdk/tests/conftest.py
  sdk/tests/router/config/enricher_test.py
  sdk/tests/router/config/router_config_test.py
  sdk/tests/router/config/router_ensembler_config_test.py
  sdk/tests/testdata/api_responses/create_router_0000.json
  sdk/turing/batch/config/config.py
  sdk/turing/mounted_mlp_secret.py
  sdk/turing/router/config/enricher.py
  sdk/turing/router/config/router_ensembler_config.py
Due: black

Update e2e tests
  sdk/e2e/01_create_router_test.py
  sdk/e2e/02_update_router_invalid_test.py
  sdk/e2e/03_create_router_version_test.py
  sdk/e2e/08_deploy_router_with_traffic_rules_test.py
Due: black

Fix enricher secrets parsing
  api/turing/api/request/request.go
  api/turing/models/ensembler.go
Due: golangci-lint, goimports

Fix broken validator test
  api/turing/validation/validator_test.go
Due: golangci-lint, goimports

Fix broken validator tests and add required tag to secrets field in pyfunc ensembler config
  api/turing/models/ensembler.go
  api/turing/validation/validator_test.go
Due: golangci-lint, goimports

Fix e2e tests
  api/e2e/test/testdata/create_router_nop_logger_proprietary_exp.json.tmpl
  api/e2e/test/testdata/create_router_with_traffic_rules.json.tmpl
  api/e2e/test/testdata/update_router_high_cpu.json.tmpl
Due: none

Fix secret map key bug
  api/turing/api/deployment_controller.go
  api/turing/batch/ensembling/controller.go
Due: golangci-lint, goimports

Update jsonb column to have empty list as default value
  api/db-migrations/000016_add_secrets_columns.up.sql
Due: none

Update db migration scripts
  api/db-migrations/000016_add_secrets_columns.down.sql
  api/db-migrations/000016_add_secrets_columns.up.sql
Due: none

Add missing step in api server to add enricher and ensembler secrets
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/service_builder.go
Due: golangci-lint, goimports

Update api specs and autogenerated client files
  api/api/openapi.bundle.yaml
  api/api/specs/routers.yaml
  sdk/turing/generated/model/ensembler_docker_config.py
  sdk/turing/generated/model/ensembler_pyfunc_config.py
Due: openapi-bundle, openapi-gen, black

Replace isnumeric check with check that passes floats
  sdk/turing/router/config/autoscaling_policy.py
Due: black

Update react-lazylog with published version
  ui/craco.config.js
  ui/package.json
  ui/src/components/pod_logs_viewer/PodLogsViewer.js
  ui/yarn.lock
Due: prettier

Add panels to display secrets
  ui/src/jobs/details/config/configuration_section/ConfigurationConfigSection.js
  ui/src/router/components/configuration/components/docker_config_section/DockerConfigViewGroup.js
  ui/src/router/components/configuration/components/docker_config_section/SecretsConfigTable.js
  ui/src/router/components/configuration/components/docker_config_section/SecretsConfigTable.scss
  ui/src/router/components/configuration/components/pyfunc_config_section/PyFuncConfigViewGroup.js
Due: prettier

Add steps to configure secrets in forms
  ui/src/router/components/form/components/docker_config/DockerConfigFormGroup.js
  ui/src/router/components/form/components/docker_config/SecretsPanel.js
  ui/src/router/components/form/components/docker_config/SecretsPanel.scss
  ui/src/router/components/form/components/pyfunc_config/PyFuncConfigFormGroup.js
  ui/src/router/components/form/steps/EnricherStep.js
  ui/src/router/components/form/validation/schema.js
  ui/src/services/ensembler/DockerEnsembler.js
  ui/src/services/ensembler/PyFuncEnsembler.js
  ui/src/services/router/TuringRouter.js
  ui/src/services/version/RouterVersion.js
Due: prettier

Add new unit test for autoscaling policy
  sdk/tests/router/config/autoscaling_policy_test.py
Due: black

Add fix to unit tests to prevent race conditions
  api/turing/cluster/spark_test.go
Due: golangci-lint, goimports

Update openapi specs and autogenerated files
  api/api/openapi.bundle.yaml
  api/api/specs/routers.yaml
  sdk/turing/generated/model/enricher.py
Due: openapi-bundle, openapi-gen, black
