Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, prettier, openapi-bundle, openapi-gen, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.11.0
    hooks:
      - id: helm-docs-built
        name: 'Helm Docs for Turing Chart'
        files: '^infra/charts/turing/'
        args:
          - --chart-search-root=infra/charts/turing
          - --template-files=./README.md.gotmpl
      - id: helm-docs-built
        name: 'Helm Docs for Turing Init Chart'
        files: '^infra/charts/turing-init/'
        args:
          - --chart-search-root=infra/charts/turing-init
          - --template-files=./README.md.gotmpl
  - repo: local
    hooks:
      - id: golangci-lint
        name: 'Linter for API'
        alias: golangci-lint-api
        files: '^api/'
        types: [go]
        language: system
        entry: bash -c 'cd api make lint'
      - id: golangci-lint
        name: 'Linter for the Router Engine'
        alias: golangci-lint-router
        files: '^engines/router/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/router make lint'
      - id: golangci-lint
        name: 'Linter for the Experiment Engine'
        alias: golangci-lint-experiment
        files: '^engines/experiment/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/experiment make lint'
  - repo: local
    hooks:
      - id: prettier
        name: 'Prettier for UI'
        files: '^ui/'
        types_or: [javascript, css]
        language: system
        entry: bash -c 'cd ui && yarn lint'
  - repo: local
    hooks:
      - id: openapi-bundle
        name: 'OpenAPI Swagger Dist'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd api/api && make all'
  - repo: local
    hooks:
      - id: openapi-gen
        name: 'OpenAPI Python client'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd sdk && make gen-client'
  - repo: local
    hooks:
      - id: black
        name: 'Black formatter for the SDK'
        alias: black-sdk
        files: '^sdk/'
        types: [python]
        language: system
        entry: bash -c 'cd sdk && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Job Engine'
        alias: black-ensembler-job
        files: '^engines/pyfunc-ensembler-job/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-job && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Service Engine'
        alias: black-ensembler-service
        files: '^engines/pyfunc-ensembler-service/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Change incorrect comment
  api/e2e/test/12_deploy_upi_router_with_std_ensembler_test.go
Due: golangci-lint

Update values file
  infra/charts/turing/values.yaml
Due: none

Fix working directory name
  .github/workflows/fluentd-plugin.yaml
Due: none

Fix Makefile
  scripts/fluentd-bigquery/Makefile
Due: none

Fix fluentd image name and tag
  infra/charts/turing/values.yaml
Due: none

Update workflow file
  .github/workflows/fluentd-plugin.yaml
Due: none

Bugfix: Fix UI crashes when changing between experiment engines (#264)
  infra/cluster-init/init.sh
  ui/src/router/components/form/components/ensembler_config/standard_ensembler/StandardEnsemblerFormGroup.js
  ui/src/router/components/form/steps/ExperimentStep.js
Due: prettier

Update default appVersion to v1.7.0
  infra/charts/turing/Chart.yaml
  infra/charts/turing/values.yaml
Due: none

Revert chart value changes
  infra/charts/turing/Chart.yaml
  infra/charts/turing/values.yaml
Due: none

Remove application of knative config-features map
  infra/cluster-init/init.sh
Due: none

Increase cpu request to 100m
  api/e2e/test/testdata/create_router_nop_logger_proprietary_exp.json.tmpl
  api/e2e/test/testdata/create_router_upi_simple.json.tmpl
  api/e2e/test/testdata/create_router_upi_with_std_ensembler.json.tmpl
  api/e2e/test/testdata/create_router_upi_with_traffic_rules.json.tmpl
  api/e2e/test/testdata/create_router_version.json.tmpl
  api/e2e/test/testdata/create_router_with_std_ensembler.json.tmpl
  api/e2e/test/testdata/create_router_with_traffic_rules.json.tmpl
  sdk/e2e/01_create_router_test.py
  sdk/e2e/08_deploy_router_with_traffic_rules_test.py
  sdk/e2e/09_deploy_router_with_std_ensembler_test.py
  sdk/e2e/10_deploy_router_upi_test.py
  sdk/e2e/11_deploy_router_upi_traffic_split_test.py
  sdk/e2e/12_deploy_router_upi_std_ensembler_test.py
Due: black

Add kubectl top nodes before each e2e test group
  .github/workflows/turing.yaml
Due: none

Remove kubectl top nodes since it's not supported
  .github/workflows/turing.yaml
Due: none

Increase enricher and ensembler cpu request
  api/e2e/test/testdata/create_router_nop_logger_proprietary_exp.json.tmpl
  api/e2e/test/testdata/create_router_version.json.tmpl
  api/e2e/test/testdata/create_router_with_traffic_rules.json.tmpl
  api/e2e/test/testdata/update_router_high_cpu.json.tmpl
Due: none

Remove misleading comment
  api/e2e/test/12_deploy_upi_router_with_std_ensembler_test.go
Due: golangci-lint

Update test comment
  api/e2e/test/12_deploy_upi_router_with_std_ensembler_test.go
Due: golangci-lint

Update api spec comments and generated code
  api/api/openapi.bundle.yaml
  api/api/specs/routers.yaml
  sdk/turing/generated/model/traffic_rule_condition.py
Due: openapi-bundle, openapi-gen, black

Check for new object in BeforeCreate gorm hook
  api/go.mod
  api/go.sum
  api/turing/models/ensembling_job.go
  api/turing/models/model.go
  api/turing/models/router_version.go
  api/turing/service/router_version_service.go
Due: golangci-lint

Update integration test
  api/turing/service/router_version_service_test.go
Due: golangci-lint

Fix newline
  api/turing/models/ensembling_job.go
Due: golangci-lint

Upi exp engine (#263)
  engines/experiment/pkg/request/request.go
  engines/router/missionctl/fiberapi/internal/testutils/helpers.go
  engines/router/missionctl/fiberapi/routing_strategy.go
  engines/router/missionctl/fiberapi/routing_strategy_test.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy.go
  engines/router/missionctl/fiberapi/upi/request.go
  engines/router/missionctl/internal/mocks/MissionControlUPI.go
  engines/router/missionctl/internal/testutils/utils.go
  engines/router/missionctl/mission_control_upi.go
  engines/router/missionctl/mission_control_upi_test.go
  engines/router/missionctl/server/upi/server.go
  engines/router/missionctl/server/upi/server_test.go
Due: golangci-lint

UPI Traffic Splitting (#259)
  .github/workflows/turing.yaml
  api/api/openapi.bundle.yaml
  api/api/specs/common.yaml
  api/api/specs/routers.yaml
  api/turing/api/request/request.go
  api/turing/validation/validator.go
  api/turing/validation/validator_test.go
  engines/experiment/examples/plugins/hardcoded/Dockerfile
  engines/experiment/examples/plugins/hardcoded/runner.go
  engines/experiment/go.mod
  engines/experiment/go.sum
  engines/experiment/pkg/request/request.go
  engines/experiment/pkg/request/request_test.go
  engines/router/missionctl/fiberapi/internal/testutils/helpers.go
  engines/router/missionctl/fiberapi/routing_strategy_test.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy_test.go
  engines/router/missionctl/instrumentation/tracing/tracing.go
  engines/router/missionctl/utils/utils_test.go
  engines/router/traffic_rule_condition.go
  engines/router/traffic_rule_condition_test.go
Due: golangci-lint, openapi-bundle, openapi-gen

Update go mod sum
  api/go.mod
  api/go.sum
Due: none

Upgrade fluentd version and plugin version
  scripts/fluentd-bigquery/Dockerfile
  scripts/fluentd-bigquery/Gemfile
  scripts/fluentd-bigquery/Gemfile.lock
Due: none

Ignore fluentd script changes to trigger Turing CI
  .github/workflows/turing.yaml
Due: none

Add Fluentd BigQuery Image (#266)
  .github/workflows/fluentd-plugin.yaml
  .github/workflows/turing.yaml
  scripts/fluentd-bigquery/.env.template
  scripts/fluentd-bigquery/.gitignore
  scripts/fluentd-bigquery/Dockerfile
  scripts/fluentd-bigquery/Gemfile
  scripts/fluentd-bigquery/Gemfile.lock
  scripts/fluentd-bigquery/Makefile
  scripts/fluentd-bigquery/README.md
  scripts/fluentd-bigquery/entrypoint.sh
  scripts/fluentd-bigquery/fluent.conf
Due: none

Update chart values with fluentd image
  infra/charts/turing/Chart.yaml
  infra/charts/turing/values.yaml
Due: none

Update chart values with fluentd image (#269)
  infra/charts/turing/Chart.yaml
  infra/charts/turing/values.yaml
Due: none

Bugfix: Check for new object in BeforeCreate gorm hook (#268)
  api/go.mod
  api/go.sum
  api/turing/models/ensembling_job.go
  api/turing/models/model.go
  api/turing/models/router_version.go
  api/turing/service/router_version_service.go
  api/turing/service/router_version_service_test.go
Due: golangci-lint

Fix go mod
  api/go.mod
  api/go.sum
Due: none

Add nil check
  api/turing/validation/validator.go
Due: golangci-lint

Add debugging statement
  engines/router/missionctl/server/http/handlers/logutils.go
Due: golangci-lint

Print error
  engines/router/missionctl/log/resultlog/bigquery.go
Due: golangci-lint

Address PR review comments
  ui/src/AppRoutes.js
  ui/src/PrivateLayout.js
  ui/src/ensembler/list/ListEnsemblersView.js
  ui/src/router/details/RouterDetailsView.js
Due: prettier

Set homepage property of the Header
  ui/src/PrivateLayout.js
Due: prettier

add help text for experiment step
  ui/src/router/components/form/components/experiment_config/EngineTypePanel.js
  ui/src/router/components/form/steps/ExperimentStep.js
Due: prettier
