Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, prettier, openapi-bundle, openapi-gen, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.11.0
    hooks:
      - id: helm-docs-built
        name: 'Helm Docs for Turing Chart'
        files: '^infra/charts/turing/'
        args:
          - --chart-search-root=infra/charts/turing
          - --template-files=./README.md.gotmpl
      - id: helm-docs-built
        name: 'Helm Docs for Turing Init Chart'
        files: '^infra/charts/turing-init/'
        args:
          - --chart-search-root=infra/charts/turing-init
          - --template-files=./README.md.gotmpl
  - repo: local
    hooks:
      - id: golangci-lint
        name: 'Linter for API'
        alias: golangci-lint-api
        files: '^api/'
        types: [go]
        language: system
        entry: bash -c 'cd api make lint'
      - id: golangci-lint
        name: 'Linter for the Router Engine'
        alias: golangci-lint-router
        files: '^engines/router/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/router make lint'
      - id: golangci-lint
        name: 'Linter for the Experiment Engine'
        alias: golangci-lint-experiment
        files: '^engines/experiment/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/experiment make lint'
  - repo: local
    hooks:
      - id: prettier
        name: 'Prettier for UI'
        files: '^ui/'
        types_or: [javascript, css]
        language: system
        entry: bash -c 'cd ui && yarn lint'
  - repo: local
    hooks:
      - id: openapi-bundle
        name: 'OpenAPI Swagger Dist'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd api/api && make all'
  - repo: local
    hooks:
      - id: openapi-gen
        name: 'OpenAPI Python client'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd sdk && make gen-client'
  - repo: local
    hooks:
      - id: black
        name: 'Black formatter for the SDK'
        alias: black-sdk
        files: '^sdk/'
        types: [python]
        language: system
        entry: bash -c 'cd sdk && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Job Engine'
        alias: black-ensembler-job
        files: '^engines/pyfunc-ensembler-job/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-job && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Service Engine'
        alias: black-ensembler-service
        files: '^engines/pyfunc-ensembler-service/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

traffic rules and general router setting for upi
  ui/src/components/validation.js
  ui/src/router/components/form/components/enricher_config/typeOptions.js
  ui/src/router/components/form/components/router_config/GeneralSettingsPanel.js
  ui/src/router/components/form/components/router_config/RoutesPanel.js
  ui/src/router/components/form/components/router_config/RulesPanel.js
  ui/src/router/components/form/components/router_config/route_card/RouteCard.js
  ui/src/router/components/form/components/router_config/rule_card/RuleCard.js
  ui/src/router/components/form/components/router_config/typeOptions.js
  ui/src/router/components/form/steps/EnricherStep.js
  ui/src/router/components/form/steps/RouterStep.js
  ui/src/router/components/form/validation/schema.js
  ui/src/router/components/request_field_source/FieldSourceFormLabel.js
  ui/src/router/components/traffic_rule_condition/TrafficRuleCondition.js
  ui/src/services/router/TuringRouter.js
  ui/src/services/version/RouterVersion.js
  ui/src/utils/validation.js
Due: prettier

add ensembler step filter
  ui/src/router/components/form/components/enricher_config/typeOptions.js
  ui/src/router/components/form/components/ensembler_config/typeOptions.js
  ui/src/router/components/form/components/experiment_config/EngineTypePanel.js
  ui/src/router/components/form/steps/EnsemblerStep.js
  ui/src/router/components/form/steps/ExperimentStep.js
Due: prettier

service method for route without validation
  ui/src/router/components/form/components/router_config/route_card/RouteCard.js
  ui/src/services/router/TuringRouter.js
  ui/src/services/version/RouterVersion.js
Due: prettier

add protocol to detail page
  ui/src/router/components/form/components/router_config/route_card/RouteCard.js
  ui/src/router/details/components/router_details_header/RouterDetailsPageHeader.js
  ui/src/router/versions/details/version_details_header/VersionDetailsPageHeader.js
Due: prettier

add validation for service method
  ui/src/router/components/form/components/router_config/route_card/RouteCard.js
  ui/src/router/components/form/validation/schema.js
Due: prettier

patch regex and edit form validation
  ui/src/router/components/form/UpdateRouterForm.js
  ui/src/router/components/form/components/router_config/GeneralSettingsPanel.js
  ui/src/router/components/form/validation/schema.js
  ui/src/utils/validation.js
Due: prettier

add validation for grpc and http endpoint
  ui/src/components/form/endpoint_combo_box/SelectEndpointComboBox.js
  ui/src/router/components/form/CreateRouterForm.js
  ui/src/router/components/form/components/router_config/route_card/RouteCard.js
  ui/src/router/components/form/validation/schema.js
  ui/src/utils/validation.js
Due: prettier

remove redundant regex
  ui/src/router/components/form/validation/schema.js
  ui/src/utils/validation.js
Due: prettier

Simplify README
  api/README.md
  engines/experiment/examples/plugins/hardcoded/Makefile
Due: none

Add traffic rules and standard ensembler e2e tests
  api/e2e/new-test/router_test.go
  api/e2e/new-test/testdata/create_router_std_ensembler_proprietary_exp.json.tmpl
  api/e2e/new-test/testdata/create_router_with_traffic_rules.json.tmpl
  api/e2e/new-test/testdata/responses/traffic_rules/no-rules.json
  api/e2e/new-test/testdata/responses/traffic_rules/traffic-rule-1.json
  api/e2e/new-test/testdata/responses/traffic_rules/traffic-rule-2.json
Due: golangci-lint

Refactor base ginkgo e2e test to use proprietary engine
  api/config-dev.yaml
  api/e2e/new-test/config/config.go
  api/e2e/new-test/e2e_test.go
  api/e2e/new-test/testdata/create_router_nop_logger_proprietary_exp.json.tmpl
  api/e2e/new-test/testdata/responses/router_no_exp_batch_predict.json
  api/e2e/new-test/testdata/responses/router_no_exp_predict.json
  api/e2e/new-test/testdata/responses/router_proprietary_exp_batch_predict.json
  api/e2e/new-test/testdata/responses/router_proprietary_exp_predict.json
Due: golangci-lint

Run e2e test with ginkgo CLI
  .github/workflows/turing.yaml
  api/e2e/new-test/api/router.go
  api/e2e/new-test/cluster/cluster.go
  api/e2e/new-test/config/config.go
  api/e2e/new-test/e2e_suite_test.go
  api/e2e/new-test/e2e_test.go
Due: golangci-lint

Update local e2e tests setup
  infra/docker-compose/dev/docker-compose.yml
  infra/docker-compose/dev/knative/config-features.yaml
Due: none

Update README for running e2e tests locally
  api/README.md
Due: none

Revert pre-commit hook
  .pre-commit-config.yaml
Due: none

Address PR comments
  .github/workflows/turing.yaml
  api/Makefile
  api/README.md
  api/config-dev-exp-engine.yaml
  api/config-dev.yaml
  api/e2e/new-test/router_e2e_test.go
  api/e2e/new-test/routers_suite_test.go
  engines/experiment/examples/plugins/hardcoded/Dockerfile
  infra/docker-compose/dev/docker-compose.yml
  infra/docker-compose/dev/istio/minimal-operator.yaml
  infra/docker-compose/dev/knative/config-features.yaml
Due: golangci-lint

Update ginkgo cli call
  .github/workflows/turing.yaml
  .pre-commit-config.yaml
  api/Makefile
Due: none

Replace old test files
  .github/workflows/turing.yaml
  api/Makefile
  api/README.md
  api/e2e/new-test/testdata/create_router_nop_logger_proprietary_exp.json.tmpl
  api/e2e/new-test/testdata/create_router_with_traffic_rules.json.tmpl
  api/e2e/new-test/testdata/update_router_high_cpu.json.tmpl
  api/e2e/test/00_all_e2e_test.go
  api/e2e/test/01_create_router_test.go
  api/e2e/test/02_update_router_invalid_test.go
  api/e2e/test/03_create_router_version_test.go
  api/e2e/test/04_undeploy_router_test.go
  api/e2e/test/05_deploy_invalid_config_test.go
  api/e2e/test/06_deploy_valid_config_test.go
  api/e2e/test/07_delete_router_test.go
  api/e2e/test/08_deploy_router_with_traffic_rules_test.go
  api/e2e/test/09_deploy_router_with_std_ensembler_test.go
  api/e2e/test/api/router.go
  api/e2e/test/cluster/cluster.go
  api/e2e/test/config-local.yaml
  api/e2e/test/config.yaml
  api/e2e/test/config/config.go
  api/e2e/test/helpers_api_test.go
  api/e2e/test/helpers_cluster_test.go
  api/e2e/test/helpers_test.go
  api/e2e/test/router_e2e_test.go
  api/e2e/test/router_test.go
  api/e2e/test/routers_suite_test.go
  api/e2e/test/testdata/create_router_nop_logger_proprietary_exp.json.tmpl
  api/e2e/test/testdata/create_router_std_ensembler_proprietary_exp.json.tmpl
  api/e2e/test/testdata/create_router_version.json.tmpl
  api/e2e/test/testdata/create_router_with_std_ensembler.json.tmpl
  api/e2e/test/testdata/create_router_with_traffic_rules.json.tmpl
  api/e2e/test/testdata/responses/router_proprietary_exp_batch_predict.json
  api/e2e/test/testdata/responses/router_proprietary_exp_predict.json
  api/e2e/test/testdata/responses/traffic_rules/no-rules.json
  api/e2e/test/testdata/responses/traffic_rules/traffic-rule-1.json
  api/e2e/test/testdata/responses/traffic_rules/traffic-rule-2.json
  api/e2e/test/testdata/update_router_high_cpu.json.tmpl
  api/e2e/test/testdata/update_router_nop_logger_proprietary_exp.json.tmpl
Due: golangci-lint

Reinstate pre-commit hooks
  .pre-commit-config.yaml
Due: none

Add ginkgo e2e test suite
  .github/workflows/turing.yaml
  .pre-commit-config.yaml
  api/config-dev.yaml
  api/e2e/new-test/api/router.go
  api/e2e/new-test/cluster/cluster.go
  api/e2e/new-test/config-local.yaml
  api/e2e/new-test/config.yaml
  api/e2e/new-test/config/config.go
  api/e2e/new-test/e2e_suite_test.go
  api/e2e/new-test/e2e_test.go
  api/e2e/new-test/testdata/create_router_nop_logger_nop_exp.json.tmpl
  api/e2e/new-test/testdata/responses/router_no_exp_batch_predict.json
  api/e2e/new-test/testdata/responses/router_no_exp_predict.json
  api/e2e/new-test/testdata/update_router_high_cpu.json.tmpl
  api/e2e/new-test/testdata/update_router_nop_logger_nop_exp.json.tmpl
  api/go.mod
  api/go.sum
  infra/docker-compose/dev/docker-compose.yml
Due: golangci-lint

Fix tests
  .pre-commit-config.yaml
  api/e2e/new-test/e2e_test.go
  api/e2e/new-test/router_test.go
  api/e2e/new-test/testdata/update_router_nop_logger_nop_exp.json.tmpl
  api/e2e/new-test/testdata/update_router_nop_logger_proprietary_exp.json.tmpl
Due: golangci-lint

Add more debugging statement in logging
  engines/router/missionctl/log/resultlog/fluentd.go
  engines/router/missionctl/server/http/handlers/logutils.go
Due: golangci-lint

Fix experiments landing page path
  ui/src/AppRoutes.js
Due: prettier

Add debugging statement
  engines/router/missionctl/log/resultlog/resultlog.go
  engines/router/missionctl/server/http/handlers/logutils.go
Due: golangci-lint

Temporarily allow publishing from branch
  .github/workflows/turing.yaml
Due: none

bugfix detail page header and yup validation
  ui/src/components/validation.js
  ui/src/router/components/form/components/router_config/rule_card/RuleCard.js
  ui/src/router/components/form/validation/schema.js
  ui/src/router/details/components/router_details_header/RouterDetailsPageHeader.js
Due: prettier

allow header for upi traffic rules
  ui/src/router/components/form/components/router_config/rule_card/RuleCard.js
  ui/src/router/components/request_field_source/FieldSourceFormLabel.js
Due: prettier

Fix logging issue
  engines/router/missionctl/server/http/handlers/http_handler.go
Due: golangci-lint

Fix experiments landing page path (#271)
  ui/src/AppRoutes.js
Due: prettier

remove rules where protocol changes
  ui/src/router/components/form/components/router_config/GeneralSettingsPanel.js
Due: prettier

remove redundant changes
  ui/src/router/components/form/components/router_config/rule_card/RuleCard.js
Due: prettier

fix regex
  ui/src/router/components/form/validation/schema.js
  ui/src/utils/validation.js
Due: prettier

Address PR comments
  .github/workflows/turing.yaml
  api/Makefile
  api/README.md
  engines/experiment/examples/plugins/hardcoded/Makefile
Due: none

Ensure that prediction id and request timestamp are populated
  engines/router/missionctl/server/upi/server.go
  engines/router/missionctl/server/upi/server_test.go
Due: golangci-lint

Refactor
  engines/router/missionctl/server/upi/server.go
Due: golangci-lint

Fix lint
  engines/router/missionctl/server/upi/server_test.go
Due: golangci-lint

fix help text as per pr
  ui/src/router/components/form/components/ensembler_config/typeOptions.js
  ui/src/router/components/form/components/experiment_config/EngineTypePanel.js
  ui/src/router/components/form/validation/schema.js
Due: prettier

Navigation bugfixes
  ui/src/Home.js
  ui/src/PrivateLayout.js
Due: prettier

Fix formatting
  ui/src/PrivateLayout.js
Due: prettier
