Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, prettier, openapi-bundle, openapi-gen, black

golangci-lint:
  name: Linter for the Experiment Engine
  alias: golangci-lint-experiment
  language: system
  entry: bash -c 'cd engines/experiment make lint'

prettier:
  name: Prettier for UI
  language: system
  entry: bash -c 'cd ui && yarn lint'

openapi-bundle:
  name: OpenAPI Swagger Dist
  language: system
  entry: bash -c 'cd api/api && make all'

openapi-gen:
  name: OpenAPI Python client
  language: system
  entry: bash -c 'cd sdk && make gen-client'

black:
  name: Black formatter for Pyfunc Ensembler Service Engine
  alias: black-ensembler-service
  language: system
  entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

test api and python e2e - update endpoint with port
  .github/workflows/turing.yaml
  api/e2e/test/10_deploy_upi_router_test.go
  sdk/e2e/10_deploy_router_upi_test.py
Due: golangci-lint, black

test api and python e2e
  api/e2e/test/10_deploy_upi_router_test.go
Due: golangci-lint

test api and python e2e
  sdk/e2e/conftest.py
Due: black

test api and python e2e
  api/e2e/test/10_deploy_upi_router_test.go
  api/e2e/test/helpers_api_test.go
  sdk/e2e/10_deploy_router_upi_test.py
Due: golangci-lint, black

update go.mod
  api/go.mod
  api/go.sum
Due: none

remove dns from mockserver for testing
  .github/workflows/turing.yaml
Due: none

patch sdk mockserver
  .github/workflows/turing.yaml
Due: none

remove python client option for python sdk e2e
  sdk/e2e/10_deploy_router_upi_test.py
Due: black

minor refactor, rename container port name correctly
  api/turing/cluster/knative_service.go
Due: golangci-lint

add basic upi and http service builder test
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/testdata/cluster/servicebuilder/router_configmap_default.yml
  api/turing/testdata/cluster/servicebuilder/router_version_basic.json
Due: golangci-lint

remove redundant make cmd
  sdk/Makefile
Due: none

Implement traffic splitting for UPI
  engines/experiment/pkg/request/request.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy_test.go
  engines/router/traffic_rule_condition.go
Due: golangci-lint

Move testutils to allow to be reused outside of fiberapi
  engines/router/missionctl/fiberapi/fan_in_test.go
  engines/router/missionctl/fiberapi/internal/testutils/helpers.go
  engines/router/missionctl/fiberapi/routing_strategy_test.go
  engines/router/missionctl/fiberapi/testutils/helpers.go
  engines/router/missionctl/fiberapi/testutils/mocks.go
  engines/router/traffic_rule_condition_test.go
Due: golangci-lint

Add test for TestUPIRequest
  engines/router/traffic_rule_condition.go
  engines/router/traffic_rule_condition_test.go
Due: golangci-lint

Remove NewPluginsServerService from mocked cluster service builders
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint

Add test for GetValueFromUPIRequest
  engines/experiment/go.mod
  engines/experiment/go.sum
  engines/experiment/pkg/request/request.go
  engines/experiment/pkg/request/request_test.go
Due: golangci-lint

Add plugin server deletion logic back
  api/turing/cluster/servicebuilder/plugins_server.go
  api/turing/service/router_deployment_service.go
Due: golangci-lint

Create knative-configmaps directory to store config-features.yaml
  infra/cluster-init/init.sh
  infra/cluster-init/knative-configmaps/config-features.yaml
Due: none

minor refactoring per pr comment
  api/e2e/test/00_all_e2e_test.go
  api/e2e/test/10_deploy_upi_router_test.go
  api/turing/api/request/request.go
  api/turing/api/request/request_test.go
  api/turing/api/router_versions_api_test.go
  api/turing/api/routers_api_test.go
  api/turing/cluster/knative_service.go
  api/turing/cluster/knative_service_test.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/models/log_config.go
  api/turing/models/log_config_test.go
  api/turing/models/router_version.go
  api/turing/models/routes.go
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
  api/turing/validation/validator_test.go
Due: golangci-lint

Use initContainer for downloading experiment engine plugin binaries (#258)
  .github/workflows/turing.yaml
  api/turing/api/request/request_test.go
  api/turing/api/route.go
  api/turing/batch/ensembling/controller_test.go
  api/turing/cluster/knative_service.go
  api/turing/cluster/knative_service_test.go
  api/turing/cluster/models.go
  api/turing/cluster/servicebuilder/plugins_server.go
  api/turing/cluster/servicebuilder/plugins_server_test.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/models/routes_test.go
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
  api/turing/testdata/cluster/servicebuilder/router_configmap_exp_engine.yml
  api/turing/validation/validator.go
  engines/experiment/config/config.go
  engines/experiment/config/config_test.go
  engines/experiment/pkg/utils/file_download.go
  engines/experiment/plugin/rpc/factory.go
  infra/cluster-init/init.sh
  infra/cluster-init/knative-configmaps/config-features.yaml
Due: golangci-lint

Temporarily enable CI
  .github/workflows/turing.yaml
Due: none

Fix lint issue in engines/experiment
  engines/experiment/pkg/request/request.go
Due: golangci-lint

Change experiment engine sample base docker image to golang 1.18
  engines/experiment/examples/plugins/hardcoded/Dockerfile
Due: none

Fix test in routing_strategy_test.go
  engines/router/missionctl/fiberapi/routing_strategy_test.go
Due: golangci-lint

Fix lint error in router
  engines/router/missionctl/fiberapi/testutils/helpers.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy_test.go
  engines/router/missionctl/instrumentation/tracing/tracing.go
  engines/router/missionctl/utils/utils_test.go
  engines/router/traffic_rule_condition.go
  engines/router/traffic_rule_condition_test.go
Due: golangci-lint

Update go.mod
  api/go.mod
  api/go.sum
Due: none

remove redundant code
  sdk/tests/router/config/router_config_test.py
  sdk/turing/router/config/route.py
Due: black

update ci
  .github/workflows/turing.yaml
Due: none

Reconfigure CI
  .github/workflows/turing.yaml
Due: none

Update openapi spec
  api/api/openapi.bundle.yaml
  api/api/specs/common.yaml
  api/api/specs/routers.yaml
Due: openapi-bundle, openapi-gen

Add traffic rules validation
  api/turing/api/request/request.go
  api/turing/api/request/request_test.go
Due: golangci-lint

Fix lint issue
  api/turing/api/request/request.go
  api/turing/api/request/request_test.go
Due: golangci-lint

Configure default autoscaling target by metric
  ui/src/router/components/configuration/components/pyfunc_config_section/PyFuncConfigViewGroup.js
  ui/src/router/components/form/components/autoscaling_policy/AutoscalingPolicyPanel.js
  ui/src/router/components/form/components/autoscaling_policy/typeOptions.js
  ui/src/router/components/form/components/docker_config/DockerConfigFormGroup.js
  ui/src/router/components/form/components/pyfunc_config/PyFuncConfigFormGroup.js
Due: prettier

Refactor code
  ui/src/router/components/form/components/autoscaling_policy/AutoscalingPolicyPanel.js
Due: prettier

Update Gorm depenendency version
  api/go.mod
  api/go.sum
  api/turing/api/appcontext.go
  api/turing/api/appcontext_test.go
  api/turing/database/database.go
  api/turing/database/integration_database.go
  api/turing/models/ensembling_job.go
  api/turing/models/pyfunc_ensembler.go
  api/turing/models/router_version.go
  api/turing/server/application.go
  api/turing/server/healthcheck.go
  api/turing/service/alert_service.go
  api/turing/service/alert_service_test.go
  api/turing/service/ensembler_service.go
  api/turing/service/ensembler_service_test.go
  api/turing/service/ensembling_job_service.go
  api/turing/service/ensembling_job_service_test.go
  api/turing/service/event_service.go
  api/turing/service/event_service_test.go
  api/turing/service/pagination.go
  api/turing/service/router_service.go
  api/turing/service/router_service_test.go
  api/turing/service/router_version_service.go
  api/turing/service/router_version_service_test.go
Due: golangci-lint

Move back testutils to internal package
  api/turing/api/request/request.go
  engines/router/missionctl/fiberapi/fan_in_test.go
  engines/router/missionctl/fiberapi/internal/testutils/helpers.go
  engines/router/missionctl/fiberapi/internal/testutils/mocks.go
  engines/router/missionctl/fiberapi/routing_strategy_test.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy_test.go
  engines/router/traffic_rule_condition_test.go
Due: golangci-lint

Rename GetValueFromRequest to GetValueFromHTTPRequest
  engines/experiment/pkg/request/request.go
  engines/router/traffic_rule_condition.go
Due: golangci-lint

Path conditions:
  golangci-lint: ((any of: ^api/ and \.go$) or (any of: ^engines/router/ and \.go$)) or (any of: ^engines/experiment/ and \.go$)
  prettier: any of: ^ui/ and \.(js|mjs|cjs)$, \.css$
  openapi-bundle: any of: ^api/api/specs/
  openapi-gen: any of: ^api/api/specs/
  black: ((any of: ^sdk/ and \.py$) or (any of: ^engines/pyfunc-ensembler-job/ and \.py$)) or (any of: ^engines/pyfunc-ensembler-service/ and \.py$)
