Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: golangci-lint
        name: 'Linter for API'
        alias: golangci-lint-api
        files: '^api/'
        types: [go]
        language: system
        entry: bash -c 'cd api make lint'
      - id: golangci-lint
        name: 'Linter for the Router Engine'
        alias: golangci-lint-router
        files: '^engines/router/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/router make lint'
      - id: golangci-lint
        name: 'Linter for the Experiment Engine'
        alias: golangci-lint-experiment
        files: '^engines/experiment/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/experiment make lint'
  - repo: local
    hooks:
      - id: goimports
        name: 'Run goimports'
        alias: goimports
        files: '^[api/|engines/router/|engines/experiment/]'
        exclude: "pb.go"
        types: [go]
        language: system
        entry: goimports -w -local github.com/caraml-dev/turing
  - repo: local
    hooks:
      - id: prettier
        name: 'Prettier for UI'
        files: '^ui/'
        types_or: [javascript, css]
        language: system
        entry: bash -c 'cd ui && yarn lint'
  - repo: local
    hooks:
      - id: openapi-bundle
        name: 'OpenAPI Swagger Dist'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd api/api && make all'
  - repo: local
    hooks:
      - id: openapi-gen
        name: 'OpenAPI Python client'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd sdk && make gen-client'
  - repo: local
    hooks:
      - id: black
        name: 'Black formatter for the SDK'
        alias: black-sdk
        files: '^sdk/'
        types: [python]
        language: system
        entry: bash -c 'cd sdk && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Job Engine'
        alias: black-ensembler-job
        files: '^engines/pyfunc-ensembler-job/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-job && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Service Engine'
        alias: black-ensembler-service
        files: '^engines/pyfunc-ensembler-service/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

feat: adjust test_create_image
  sdk/tests/ensembler_image_test.py
Due: black

feat: adjust test_list_ensemblers
  sdk/tests/ensembler_test.py
Due: black

feat: adjust test_create_ensembler
  sdk/tests/ensembler_test.py
Due: black

chore: remove unnecessary context manager
  sdk/tests/conftest.py
Due: black

feat: adjust test_update_ensembler
  sdk/tests/ensembler_test.py
Due: black

feat: refactor magic mock for mlflow and gcs to fixtures
  sdk/tests/conftest.py
  sdk/tests/ensembler_test.py
Due: black

feat: adjust test_update_ensembler_existing_router_version
  sdk/tests/ensembler_test.py
Due: black

feat: adjust test_update_ensembler_existing_job
  sdk/tests/ensembler_test.py
Due: black

feat: adjust test_delete_ensembler
  sdk/tests/ensembler_test.py
Due: black

feat: remove unused fixtures
  sdk/tests/conftest.py
  sdk/tests/fixtures/__init__.py
  sdk/tests/fixtures/gcs.py
  sdk/tests/fixtures/mlflow.py
Due: black

feat: adjust test_list_projects
  sdk/tests/project_test.py
Due: black

feat: adjust test_create_version
  sdk/tests/router/config/router_version_test.py
Due: black

feat: adjust test_list_routers
  sdk/tests/router/router_test.py
Due: black

feat: adjust test_create_router
  sdk/tests/router/router_test.py
Due: black

feat: adjust test_delete_router
  sdk/tests/router/router_test.py
Due: black

feat: adjust test_get_router
  sdk/tests/router/router_test.py
Due: black

feat: adjust test_update_router
  sdk/tests/router/router_test.py
Due: black

feat: adjust test_deploy_router
  sdk/tests/router/router_test.py
Due: black

feat: adjust test_undeploy_router
  sdk/tests/router/router_test.py
Due: black

feat: adjust test_list_versions
  sdk/tests/router/router_test.py
Due: black

feat: adjust test_get_version
  sdk/tests/router/router_test.py
Due: black

feat: adjust test_get_version_config
  sdk/tests/router/router_test.py
Due: black

feat: adjust test_delete_version
  sdk/tests/router/router_test.py
Due: black

feat: adjust test_deploy_version
  sdk/tests/router/router_test.py
Due: black

feat: adjust test_get_events_list
  sdk/tests/router/router_test.py
Due: black

feat: adjust test_wait_for_status
  sdk/tests/router/router_test.py
Due: black

feat: adjust test_wait_for_version_status
  sdk/tests/router/router_test.py
Due: black

chore: try to upgrade setuptools version
  sdk/Makefile
Due: none

feat: bump numpy version to support python 3.9 - 3.12
  sdk/requirements.txt
Due: none

chore: install wheel
  sdk/Makefile
Due: none

chore: adjust numpy version
  sdk/requirements.txt
Due: none

feat: bump python version used by publish CI
  .github/workflows/sdk.yaml
Due: none

feat: do pyfunc-ensembler-job unit testing for python 3.8 - 3.10
  .github/workflows/pyfunc-ensembler-job.yaml
Due: none

feat: check error from initArtifactService
  api/turing/api/appcontext.go
Due: golangci-lint, goimports

chore: remove BaseImageRef and adjust the unittest
  api/turing/api/appcontext_test.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/imagebuilder/imagebuilder_test.go
Due: golangci-lint, goimports

feat: use artifactService.GetType() instead of artifactServiceType to get artifact service type
  api/turing/api/appcontext.go
  api/turing/api/appcontext_test.go
  api/turing/imagebuilder/ensembler.go
  api/turing/imagebuilder/imagebuilder.go
  api/turing/imagebuilder/imagebuilder_test.go
Due: golangci-lint, goimports

chore: reorder install yq command in Dockerfile
  engines/pyfunc-ensembler-job/Dockerfile
  engines/pyfunc-ensembler-service/Dockerfile
Due: none

feat: adjust how to get version from version.py
  engines/pyfunc-ensembler-job/setup.py
  engines/pyfunc-ensembler-service/setup.py
Due: black

feat: remove from requirements.txt
  engines/pyfunc-ensembler-job/requirements.dev.txt
  engines/pyfunc-ensembler-service/requirements.dev.txt
Due: none

feat(sdk): migrate unit test from `urllib3-mock` to `MagicMock` (#405)
  .github/workflows/sdk.yaml
  sdk/Makefile
  sdk/requirements.txt
  sdk/tests/batch/job_test.py
  sdk/tests/conftest.py
  sdk/tests/ensembler_image_test.py
  sdk/tests/ensembler_test.py
  sdk/tests/fixtures/__init__.py
  sdk/tests/fixtures/gcs.py
  sdk/tests/fixtures/mlflow.py
  sdk/tests/project_test.py
  sdk/tests/router/config/router_version_test.py
  sdk/tests/router/router_test.py
Due: black
