Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.11.0
    hooks:
      - id: helm-docs-built
        name: 'Helm Docs for Turing Chart'
        files: '^infra/charts/turing/'
        args:
          - --chart-search-root=infra/charts/turing
          - --template-files=./README.md.gotmpl
      - id: helm-docs-built
        name: 'Helm Docs for Turing Init Chart'
        files: '^infra/charts/turing-init/'
        args:
          - --chart-search-root=infra/charts/turing-init
          - --template-files=./README.md.gotmpl
  - repo: local
    hooks:
      - id: golangci-lint
        name: 'Linter for API'
        alias: golangci-lint-api
        files: '^api/'
        types: [go]
        language: system
        entry: bash -c 'cd api make lint'
      - id: golangci-lint
        name: 'Linter for the Router Engine'
        alias: golangci-lint-router
        files: '^engines/router/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/router make lint'
      - id: golangci-lint
        name: 'Linter for the Experiment Engine'
        alias: golangci-lint-experiment
        files: '^engines/experiment/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/experiment make lint'
  - repo: local
    hooks:
      - id: goimports
        name: 'Run goimports'
        alias: goimports
        files: '^[api/|engines/router/|engines/experiment/]'
        exclude: "pb.go"
        types: [go]
        language: system
        entry: goimports -w -local github.com/caraml-dev/turing
  - repo: local
    hooks:
      - id: prettier
        name: 'Prettier for UI'
        files: '^ui/'
        types_or: [javascript, css]
        language: system
        entry: bash -c 'cd ui && yarn lint'
  - repo: local
    hooks:
      - id: openapi-bundle
        name: 'OpenAPI Swagger Dist'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd api/api && make all'
  - repo: local
    hooks:
      - id: openapi-gen
        name: 'OpenAPI Python client'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd sdk && make gen-client'
  - repo: local
    hooks:
      - id: black
        name: 'Black formatter for the SDK'
        alias: black-sdk
        files: '^sdk/'
        types: [python]
        language: system
        entry: bash -c 'cd sdk && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Job Engine'
        alias: black-ensembler-job
        files: '^engines/pyfunc-ensembler-job/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-job && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Service Engine'
        alias: black-ensembler-service
        files: '^engines/pyfunc-ensembler-service/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Add Python 3.10 SDK unit tests
  .github/workflows/sdk.yaml
Due: none

Update gcloud sdk version for batch ensembler
  engines/pyfunc-ensembler-job/Dockerfile
Due: none

Add command to change owner of SDK files copied in Dockerfile
  engines/pyfunc-ensembler-job/Dockerfile
Due: none

Update pip versions in env files
  engines/pyfunc-ensembler-job/env-3.7.yaml
  engines/pyfunc-ensembler-job/env-3.8.yaml
  engines/pyfunc-ensembler-job/env-3.9.yaml
Due: none

Pin pyarrow version
  engines/pyfunc-ensembler-job/requirements.txt
Due: none

Update setup files to prevent python version greater than 3.10
  engines/pyfunc-ensembler-job/setup.py
  engines/pyfunc-ensembler-service/setup.py
  sdk/setup.py
Due: black

Bump pyyaml version
  engines/pyfunc-ensembler-job/requirements.txt
Due: none

Pin mlflow version
  sdk/requirements.txt
Due: none

Update dependencies in dockerfile
  engines/pyfunc-ensembler-job/Dockerfile
Due: none

Add traffic rule creation for new route in sample
  sdk/samples/router/general.py
Due: black

Align SDK dep versions with Merlin SDK
  sdk/requirements.txt
Due: none

Remove unnecessary files from being built into sdk distribution
  sdk/setup.py
Due: black

Align requirements with Merlin SDK
  engines/pyfunc-ensembler-job/requirements.txt
Due: none

Add additional fields to mock mlflow response
  sdk/tests/fixtures/mlflow.py
Due: black

Standardise requirements with Merlin SDK
  sdk/requirements.txt
Due: none

Update miniconda installation in Dockerfile
  engines/pyfunc-ensembler-job/Dockerfile
Due: none

Bump pandas version in ensembler job
  engines/pyfunc-ensembler-job/requirements.txt
Due: none

Update workflows and add support for 3.10
  .github/workflows/pyfunc-ensembler-job.yaml
  .github/workflows/pyfunc-ensembler-service.yaml
  engines/pyfunc-ensembler-job/env-3.10.yaml
  engines/pyfunc-ensembler-job/setup.py
  engines/pyfunc-ensembler-service/env-3.10.yaml
  engines/pyfunc-ensembler-service/setup.py
  sdk/setup.py
Due: black

Fix setup.py python versions
  engines/pyfunc-ensembler-job/setup.py
  engines/pyfunc-ensembler-service/setup.py
  sdk/setup.py
Due: black

Add Python 3.10 support (#296)
  .github/workflows/pyfunc-ensembler-job.yaml
  .github/workflows/pyfunc-ensembler-service.yaml
  .github/workflows/sdk.yaml
  engines/pyfunc-ensembler-job/Dockerfile
  engines/pyfunc-ensembler-job/env-3.10.yaml
  engines/pyfunc-ensembler-job/env-3.7.yaml
  engines/pyfunc-ensembler-job/env-3.8.yaml
  engines/pyfunc-ensembler-job/requirements.txt
  engines/pyfunc-ensembler-job/setup.py
  engines/pyfunc-ensembler-service/env-3.10.yaml
  engines/pyfunc-ensembler-service/setup.py
  sdk/requirements.txt
  sdk/samples/router/general.py
  sdk/setup.py
  sdk/tests/fixtures/mlflow.py
Due: black

revert fiber to 2.0
  api/go.mod
  api/go.sum
  engines/router/go.mod
  engines/router/go.sum
Due: none

revert fiber to 2.0 (#299)
  api/go.mod
  api/go.sum
  engines/router/go.mod
  engines/router/go.sum
Due: none

Add NodeSelector to ImageBuildingConfig
  api/turing/cluster/job.go
  api/turing/cluster/job_test.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/imagebuilder/imagebuilder.go
Due: golangci-lint, goimports

Add TolerationName to ImageBuildingConfig
  api/turing/cluster/job.go
  api/turing/cluster/job_test.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/imagebuilder/imagebuilder.go
Due: golangci-lint, goimports

Add NodeSelector and TolerationName to ImageBuildingConfig (#300)
  api/turing/cluster/job.go
  api/turing/cluster/job_test.go
  api/turing/config/config.go
  api/turing/imagebuilder/imagebuilder.go
Due: golangci-lint, goimports

Add env var for exp engine secret path
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
Due: golangci-lint, goimports

Update env var names
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
Due: golangci-lint, goimports

Fix overhanging line
  api/turing/cluster/servicebuilder/router_test.go
Due: golangci-lint, goimports

Bugfix: Add env var for exp engine secret path (#287)
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
Due: golangci-lint, goimports

enable pprof
  engines/router/missionctl/server/application.go
Due: golangci-lint, goimports

Add default autoscaling policy config
  api/turing/config/config.go
  api/turing/config/config_test.go
Due: golangci-lint, goimports

Add service builder changes to inject default min max replicas if default autoscaling policy is used
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/cluster/servicebuilder/service_builder_test.go
  api/turing/models/autoscaling_policy.go
  api/turing/service/router_deployment_service.go
Due: golangci-lint, goimports

Refactor field name in autoscaling policy
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/models/autoscaling_policy.go
Due: golangci-lint, goimports

Add db migration scripts
  api/db-migrations/000015_make_resource_requests_not_null.down.sql
  api/db-migrations/000015_make_resource_requests_not_null.up.sql
Due: none

Refactor autoscaling policy to be non-nullable field
  api/turing/api/request/request.go
  api/turing/api/request/request_test.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/cluster/servicebuilder/service_builder_test.go
  api/turing/config/config.go
  api/turing/models/autoscaling_policy.go
  api/turing/models/enricher.go
  api/turing/models/ensembler.go
  api/turing/models/router_version.go
  api/turing/validation/validator.go
Due: golangci-lint, goimports

Update e2e test data
  api/e2e/test/testdata/create_router_nop_logger_proprietary_exp.json.tmpl
  api/e2e/test/testdata/create_router_std_ensembler_proprietary_exp.json.tmpl
  api/e2e/test/testdata/create_router_with_traffic_rules.json.tmpl
  api/e2e/test/testdata/update_router_high_cpu.json.tmpl
  api/e2e/test/testdata/update_router_nop_logger_proprietary_exp.json.tmpl
Due: none

Fix e2e and rename autoscaling policy fields
  api/turing/api/router_versions_api_test.go
  api/turing/api/routers_api_test.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/config/config_test.go
  api/turing/models/autoscaling_policy.go
  api/turing/validation/validator.go
Due: golangci-lint, goimports

Fix e2e tests
  api/turing/api/request/request.go
  api/turing/api/routers_api_test.go
  api/turing/models/autoscaling_policy.go
  api/turing/models/autoscaling_policy_test.go
  api/turing/models/ensembler.go
  api/turing/validation/validator.go
  api/turing/validation/validator_test.go
Due: golangci-lint, goimports

Fix integration tests
  api/turing/service/router_deployment_service_test.go
  api/turing/service/router_service_test.go
  api/turing/service/router_version_service_test.go
Due: golangci-lint, goimports

Fix lint comments
  api/turing/api/request/request.go
  api/turing/validation/validator.go
Due: golangci-lint, goimports
