Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: golangci-lint
        name: 'Linter for API'
        alias: golangci-lint-api
        files: '^api/'
        types: [go]
        language: system
        entry: bash -c 'cd api make lint'
      - id: golangci-lint
        name: 'Linter for the Router Engine'
        alias: golangci-lint-router
        files: '^engines/router/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/router make lint'
      - id: golangci-lint
        name: 'Linter for the Experiment Engine'
        alias: golangci-lint-experiment
        files: '^engines/experiment/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/experiment make lint'
  - repo: local
    hooks:
      - id: goimports
        name: 'Run goimports'
        alias: goimports
        files: '^[api/|engines/router/|engines/experiment/]'
        exclude: "pb.go"
        types: [go]
        language: system
        entry: goimports -w -local github.com/caraml-dev/turing
  - repo: local
    hooks:
      - id: prettier
        name: 'Prettier for UI'
        files: '^ui/'
        types_or: [javascript, css]
        language: system
        entry: bash -c 'cd ui && yarn lint'
  - repo: local
    hooks:
      - id: openapi-bundle
        name: 'OpenAPI Swagger Dist'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd api/api && make all'
  - repo: local
    hooks:
      - id: openapi-gen
        name: 'OpenAPI Python client'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd sdk && make gen-client'
  - repo: local
    hooks:
      - id: black
        name: 'Black formatter for the SDK'
        alias: black-sdk
        files: '^sdk/'
        types: [python]
        language: system
        entry: bash -c 'cd sdk && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Job Engine'
        alias: black-ensembler-job
        files: '^engines/pyfunc-ensembler-job/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-job && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Service Engine'
        alias: black-ensembler-service
        files: '^engines/pyfunc-ensembler-service/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Increase defaultMemoryLimitRequestFactor to 2
  api/turing/cluster/kubernetes_service.go
  api/turing/cluster/kubernetes_service_test.go
Due: golangci-lint, goimports

feat(api): Split UserContainerLimitRequestFactor into two separate config values (#367)
  .golangci.yml
  api/turing/cluster/knative_service.go
  api/turing/cluster/knative_service_test.go
  api/turing/cluster/kubernetes_service.go
  api/turing/cluster/kubernetes_service_test.go
  api/turing/cluster/models.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/cluster/servicebuilder/service_builder_test.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/example.yaml
  api/turing/config/testdata/config-1.yaml
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint, goimports

Refactor ensembler image naming convention
  api/turing/imagebuilder/ensembler.go
  api/turing/imagebuilder/imagebuilder.go
  api/turing/imagebuilder/imagebuilder_test.go
Due: golangci-lint, goimports

Refactor ensembler image naming convention (#368)
  api/turing/imagebuilder/ensembler.go
  api/turing/imagebuilder/imagebuilder.go
  api/turing/imagebuilder/imagebuilder_test.go
Due: golangci-lint, goimports

Remove ticks and display min max labels in EuiDualRange slider
  ui/src/router/components/form/components/ResourcesPanel.js
Due: prettier

Remove ticks and display min max labels in EuiDualRange slider (#369)
  ui/src/router/components/form/components/ResourcesPanel.js
Due: prettier

fix(image-builder): use google keychain for Artifact Registry domains
  api/turing/imagebuilder/imagebuilder.go
Due: golangci-lint, goimports

fix(image-builder): format code
  api/turing/imagebuilder/imagebuilder.go
Due: golangci-lint, goimports

fix(image-builder): use google keychain for Artifact Registry domains (#372)
  api/turing/imagebuilder/imagebuilder.go
Due: golangci-lint, goimports

Move jsonError helper function from removed authz file to openapi validation file
  api/turing/middleware/openapi_validation.go
Due: golangci-lint, goimports

Specify go-hclog version
  api/go.mod
  api/go.sum
Due: none

Rename unused function arguments in experiment engines
  engines/experiment/plugin/inproc/factory_test.go
  engines/experiment/plugin/rpc/factory_test.go
  engines/experiment/plugin/rpc/runner/rpc.go
  engines/router/missionctl/fiberapi/fan_in_test.go
  engines/router/missionctl/fiberapi/routing_strategy_test.go
Due: golangci-lint, goimports

Update go mod file to use branched merlin package version
  api/go.mod
  api/go.sum
Due: none

Remove unused authz middleware
  api/turing/api/appcontext.go
  api/turing/api/appcontext_test.go
  api/turing/api/projects_api.go
  api/turing/middleware/authorization.go
  api/turing/middleware/authorization_test.go
  api/turing/middleware/mocks/enforcer.go
  api/turing/server/api.go
  api/turing/server/application.go
Due: golangci-lint, goimports

Update go version in github workflow
  .github/workflows/turing.yaml
Due: none

Update golanci-lint version
  .github/workflows/turing.yaml
Due: none

Remove authz related configs
  api/turing/config/config.go
  api/turing/config/config_test.go
Due: golangci-lint, goimports

Update turing api dockerfile to use newer version of go
  api/Dockerfile
Due: none

Add step to install go 1.22
  .github/workflows/turing.yaml
Due: none

Update containerregistry package
  api/go.mod
  api/go.sum
  api/turing/imagebuilder/imagebuilder.go
Due: golangci-lint, goimports

Update knative pkg
  api/go.mod
Due: none

Bump up version dependencies
  api/go.mod
  api/go.sum
  api/turing/cluster/knative_service_test.go
  api/turing/cluster/kubernetes_service_test.go
  api/turing/cluster/models.go
  api/turing/cluster/pvc.go
  api/turing/cluster/pvc_test.go
Due: golangci-lint, goimports

Refactor e2e tests to make them compatible with previously used libraries
  api/turing/cluster/controller_test.go
  api/turing/cluster/virtual_service.go
  api/turing/internal/testutils/validation.go
Due: golangci-lint, goimports

Add steps to install go 1.22 for experiment engine and router
  .github/workflows/turing.yaml
Due: none

Clean up refactoring of mlp service
  api/turing/service/mlp_service.go
Due: golangci-lint, goimports

Refactor merlin's environments api
  api/turing/service/mlp_service.go
  api/turing/service/mlp_service_test.go
Due: golangci-lint, goimports

Update zap and mlp in experiment engines and router
  engines/experiment/examples/plugins/hardcoded/go.mod
  engines/experiment/examples/plugins/hardcoded/go.sum
  engines/experiment/go.mod
  engines/experiment/go.sum
  engines/router/go.mod
  engines/router/go.sum
Due: none

Add gcflags to gotest
  api/Makefile
Due: none

Update go version for router and experiment engine
  engines/experiment/docs/rpc_plugins.md
  engines/experiment/examples/plugins/hardcoded/Dockerfile
  engines/experiment/go.mod
  engines/experiment/go.sum
  engines/router/Dockerfile
  engines/router/go.mod
  engines/router/go.sum
Due: none

Remove dot imports
  api/e2e/test/router_e2e_test.go
  api/e2e/test/router_test.go
  api/e2e/test/routers_suite_test.go
Due: golangci-lint, goimports

Rollback zap version
  api/go.mod
  api/go.sum
Due: none

Remove steps to verify the same google auth client is created by merlin and mlp
  api/turing/service/mlp_service_test.go
Due: golangci-lint, goimports

Update zap-to-hclog in experiment, router, and api
  api/go.mod
  api/go.sum
  engines/experiment/go.mod
  engines/experiment/go.sum
  engines/router/go.mod
  engines/router/go.sum
Due: none

Bump up ginkgo versions
  api/Makefile
  api/go.mod
  api/go.sum
Due: none

Add custom compare function to allow nested unexported fields
  api/turing/internal/testutils/validation.go
Due: golangci-lint, goimports

Fix lint comments by renaming unused arguments and nonstandard variable or function names
  api/turing/api/appcontext_test.go
  api/turing/api/projects_api.go
  api/turing/batch/ensembling/runner_test.go
  api/turing/cluster/controller.go
  api/turing/cluster/controller_test.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/models/traffic_rules.go
  api/turing/service/experiment_service_test.go
  api/turing/service/mlp_service_test.go
  api/turing/service/router_deployment_service_test.go
  api/turing/validation/validator.go
Due: golangci-lint, goimports

Fix e2e test where return value of a function is no longer a slice of values but a slice of pointers
  api/e2e/test/cluster/cluster.go
Due: golangci-lint, goimports

Fix bug in unit tests where mutex locks were copied
  api/turing/cluster/controller_test.go
  api/turing/cluster/virtual_service_test.go
  api/turing/internal/testutils/validation.go
Due: golangci-lint, goimports

Fix lint comments in turing router
  engines/router/missionctl/fiberapi/fan_in_test.go
  engines/router/missionctl/fiberapi/interceptors.go
  engines/router/missionctl/fiberapi/interceptors_test.go
  engines/router/missionctl/fiberapi/internal/testutils/helpers.go
  engines/router/missionctl/fiberapi/routing_strategy_test.go
  engines/router/missionctl/internal/safe_chan.go
  engines/router/missionctl/internal/safe_chan_test.go
  engines/router/missionctl/internal/testutils/request.go
  engines/router/missionctl/log/resultlog/kafka_test.go
  engines/router/missionctl/log/resultlog/nop.go
  engines/router/missionctl/server/http/handlers/http_handler_test.go
  engines/router/missionctl/server/http/handlers/internal_api.go
  engines/router/missionctl/server/upi/interceptors/recoverer.go
  engines/router/missionctl/server/upi/interceptors/recoverer_test.go
Due: golangci-lint, goimports

Add indirect function in router cleanup helper function
  api/e2e/test/cluster/cluster.go
Due: golangci-lint, goimports
