Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, prettier, openapi-bundle, openapi-gen, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.11.0
    hooks:
      - id: helm-docs-built
        name: 'Helm Docs for Turing Chart'
        files: '^infra/charts/turing/'
        args:
          - --chart-search-root=infra/charts/turing
          - --template-files=./README.md.gotmpl
      - id: helm-docs-built
        name: 'Helm Docs for Turing Init Chart'
        files: '^infra/charts/turing-init/'
        args:
          - --chart-search-root=infra/charts/turing-init
          - --template-files=./README.md.gotmpl
  - repo: local
    hooks:
      - id: golangci-lint
        name: 'Linter for API'
        alias: golangci-lint-api
        files: '^api/'
        types: [go]
        language: system
        entry: bash -c 'cd api make lint'
      - id: golangci-lint
        name: 'Linter for the Router Engine'
        alias: golangci-lint-router
        files: '^engines/router/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/router make lint'
      - id: golangci-lint
        name: 'Linter for the Experiment Engine'
        alias: golangci-lint-experiment
        files: '^engines/experiment/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/experiment make lint'
  - repo: local
    hooks:
      - id: prettier
        name: 'Prettier for UI'
        files: '^ui/'
        types_or: [javascript, css]
        language: system
        entry: bash -c 'cd ui && yarn lint'
  - repo: local
    hooks:
      - id: openapi-bundle
        name: 'OpenAPI Swagger Dist'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd api/api && make all'
  - repo: local
    hooks:
      - id: openapi-gen
        name: 'OpenAPI Python client'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd sdk && make gen-client'
  - repo: local
    hooks:
      - id: black
        name: 'Black formatter for the SDK'
        alias: black-sdk
        files: '^sdk/'
        types: [python]
        language: system
        entry: bash -c 'cd sdk && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Job Engine'
        alias: black-ensembler-job
        files: '^engines/pyfunc-ensembler-job/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-job && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Service Engine'
        alias: black-ensembler-service
        files: '^engines/pyfunc-ensembler-service/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Migrate from @reach/router to react-router-dom
  ui/package.json
  ui/src/App.js
  ui/src/AppRoutes.js
  ui/src/PrivateLayout.js
  ui/src/bootstrap.js
  ui/src/components/page_navigation/PageNavigation.js
  ui/src/config.js
  ui/src/ensembler/list/ListEnsemblersTable.js
  ui/src/ensembler/list/ListEnsemblersView.js
  ui/src/experiment/ExperimentsRouter.js
  ui/src/jobs/EnsemblingJobsRouter.js
  ui/src/jobs/components/job_details_header/EnsemblingJobDetailsPageHeader.js
  ui/src/jobs/components/page_navigation/EnsemblingJobDetailsPageNavigation.js
  ui/src/jobs/details/EnsemblingJobDetailsView.js
  ui/src/jobs/details/config/configuration_section/misc_table/MiscConfigSection.js
  ui/src/jobs/list/ListEnsemblingJobsLandingView.js
  ui/src/jobs/list/ListEnsemblingJobsTable.js
  ui/src/jobs/list/ListEnsemblingJobsView.js
  ui/src/providers/ensemblers/context.js
  ui/src/router/activity_log/RouterActivityLogView.js
  ui/src/router/alerts/RouterAlertsView.js
  ui/src/router/alerts/components/edit_alerts_form/components/EditAlertsForm.js
  ui/src/router/alerts/details/RouterAlertDetails.js
  ui/src/router/alerts/edit/EditAlertsView.js
  ui/src/router/components/configuration/components/EnsemblerConfigSection.js
  ui/src/router/components/configuration/components/router_config_section/RoutesConfigTable.js
  ui/src/router/components/form/components/pyfunc_config/PyFuncConfigFormGroup.js
  ui/src/router/create/CreateRouterView.js
  ui/src/router/details/RouterDetailsView.js
  ui/src/router/details/components/page_navigation/RouterDetailsPageNavigation.js
  ui/src/router/edit/EditRouterView.js
  ui/src/router/history/HistoryView.js
  ui/src/router/list/ListRoutersView.js
  ui/src/router/versions/comparison/VersionComparisonView.js
  ui/src/router/versions/details/RouterVersionDetailsView.js
  ui/src/router/versions/details/page_navigation/RouterVersionDetailsPageNavigation.js
  ui/src/router/versions/list/ListRouterVersionsTable.js
  ui/src/router/versions/list/ListRouterVersionsView.js
  ui/yarn.lock
Due: prettier

Expose AppRoutes
  ui/craco.config.js
  ui/src/router/components/configuration/components/router_config_section/RoutesConfigTable.js
Due: prettier

Change ordering of waiting for component ready
  infra/cluster-init/init.sh
Due: none

Shorten router name
  api/e2e/test/testdata/create_router_upi_with_std_ensembler.json.tmpl
Due: none

Exclude tests
  api/e2e/test/00_all_e2e_test.go
Due: golangci-lint

Add debugging code
  .github/workflows/turing.yaml
Due: none

Add pod log
  .github/workflows/turing.yaml
Due: none

Change protocol
  api/e2e/test/testdata/create_router_upi_with_std_ensembler.json.tmpl
Due: none

Change protobuf equality check
  api/e2e/test/11_deploy_upi_router_with_traffic_rules_test.go
  api/e2e/test/12_deploy_upi_router_with_std_ensembler_test.go
Due: golangci-lint

Add more detailed error info
  engines/router/missionctl/fiberapi/routing_strategy.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy.go
Due: golangci-lint

Try fiber without cloning
  api/go.mod
  api/go.sum
  engines/router/go.mod
  engines/router/go.sum
Due: none

Replace deprecated library
  api/e2e/test/11_deploy_upi_router_with_traffic_rules_test.go
  api/e2e/test/12_deploy_upi_router_with_std_ensembler_test.go
Due: golangci-lint

Fix debugging code
  engines/router/missionctl/fiberapi/routing_strategy.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy.go
Due: golangci-lint

Use mlp library's PageNavigation
  ui/src/components/page_navigation/PageNavigation.js
  ui/src/components/page_navigation/PageNavigation.scss
  ui/src/jobs/EnsemblingJobsRouter.js
  ui/src/jobs/components/page_navigation/EnsemblingJobDetailsPageNavigation.js
  ui/src/jobs/details/EnsemblingJobDetailsView.js
  ui/src/jobs/list/ListEnsemblingJobsLandingView.js
  ui/src/router/alerts/RouterAlertsView.js
  ui/src/router/alerts/edit/EditAlertsView.js
  ui/src/router/details/RouterDetailsView.js
  ui/src/router/details/components/page_navigation/RouterDetailsPageNavigation.js
  ui/src/router/edit/EditRouterView.js
  ui/src/router/history/HistoryView.js
  ui/src/router/versions/details/RouterVersionDetailsView.js
  ui/src/router/versions/details/config/RouterVersionConfigView.js
  ui/src/router/versions/details/page_navigation/RouterVersionDetailsPageNavigation.js
Due: prettier

Read configmap
  .github/workflows/turing.yaml
Due: none

Print type
  engines/router/missionctl/fiberapi/routing_strategy.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy.go
Due: golangci-lint

Try printing configmap
  api/e2e/test/00_all_e2e_test.go
  api/e2e/test/helpers_cluster_test.go
Due: golangci-lint

Minor UI Fixes for Autoscaling Policy (#260)
  ui/src/router/components/configuration/components/pyfunc_config_section/PyFuncConfigViewGroup.js
  ui/src/router/components/form/components/autoscaling_policy/AutoscalingPolicyPanel.js
  ui/src/router/components/form/components/autoscaling_policy/typeOptions.js
  ui/src/router/components/form/components/docker_config/DockerConfigFormGroup.js
  ui/src/router/components/form/components/pyfunc_config/PyFuncConfigFormGroup.js
Due: prettier

Update fiber
  engines/router/go.mod
  engines/router/go.sum
  engines/router/missionctl/fiberapi/internal/testutils/helpers.go
  engines/router/missionctl/fiberapi/routing_strategy.go
  engines/router/missionctl/fiberapi/routing_strategy_test.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy.go
  engines/router/missionctl/fiberapi/upi/request.go
  engines/router/missionctl/instrumentation/metrics/prometheus.go
  engines/router/missionctl/mission_control_test.go
  engines/router/missionctl/mission_control_upi_test.go
  engines/router/missionctl/server/application.go
  engines/router/missionctl/server/upi/server.go
Due: golangci-lint

Update end to end test for traffic rule
  api/e2e/test/11_deploy_upi_router_with_traffic_rules_test.go
  api/e2e/test/testdata/create_router_upi_with_traffic_rules.json.tmpl
Due: golangci-lint

Fix unit tests in router
  engines/router/missionctl/fiberapi/routing_strategy.go
  engines/router/missionctl/fiberapi/routing_strategy_test.go
  engines/router/missionctl/mission_control_upi_test.go
Due: golangci-lint

Update go.mod in turing api
  api/go.mod
  api/go.sum
Due: none

Remove mockserver-b deployment since it's not used
  .github/workflows/turing.yaml
  api/README.md
  api/e2e/test/00_all_e2e_test.go
  api/e2e/test/11_deploy_upi_router_with_traffic_rules_test.go
  infra/e2e/turing.mockserver.yaml
Due: golangci-lint

Update mlp library version
  ui/package.json
  ui/yarn.lock
Due: none

Add end to end test for sdk
  .github/workflows/turing.yaml
  sdk/e2e/11_deploy_router_upi_traffic_split_test.py
  sdk/e2e/12_deploy_router_upi_std_ensembler_test.py
Due: black

Reenable all end to end test
  api/e2e/test/00_all_e2e_test.go
Due: golangci-lint

Reduce cpu resource request to improve e2e test stability
  sdk/e2e/01_create_router_test.py
  sdk/e2e/08_deploy_router_with_traffic_rules_test.py
  sdk/e2e/09_deploy_router_with_std_ensembler_test.py
  sdk/e2e/10_deploy_router_upi_test.py
  sdk/e2e/11_deploy_router_upi_traffic_split_test.py
  sdk/e2e/12_deploy_router_upi_std_ensembler_test.py
Due: black

Remove debugging code
  api/e2e/test/helpers_cluster_test.go
Due: golangci-lint

Fix formatting in README.md
  api/README.md
Due: none

Add debuging code for sdk e2e test
  .github/workflows/turing.yaml
  sdk/e2e/10_deploy_router_upi_test.py
  sdk/e2e/11_deploy_router_upi_traffic_split_test.py
  sdk/e2e/12_deploy_router_upi_std_ensembler_test.py
Due: black

Change test name
  sdk/e2e/11_deploy_router_upi_traffic_split_test.py
  sdk/e2e/12_deploy_router_upi_std_ensembler_test.py
Due: black

Include UPI test
  sdk/e2e/conftest.py
Due: black

Update inline comment
  api/turing/service/router_version_service.go
Due: golangci-lint

Upgrade gorm dependency in Turing API (#261)
  api/go.mod
  api/go.sum
  api/turing/api/appcontext.go
  api/turing/api/appcontext_test.go
  api/turing/database/database.go
  api/turing/database/integration_database.go
  api/turing/models/ensembling_job.go
  api/turing/models/pyfunc_ensembler.go
  api/turing/models/router_version.go
  api/turing/server/application.go
  api/turing/server/healthcheck.go
  api/turing/service/alert_service.go
  api/turing/service/alert_service_test.go
  api/turing/service/ensembler_service.go
  api/turing/service/ensembler_service_test.go
  api/turing/service/ensembling_job_service.go
  api/turing/service/ensembling_job_service_test.go
  api/turing/service/event_service.go
  api/turing/service/event_service_test.go
  api/turing/service/pagination.go
  api/turing/service/router_service.go
  api/turing/service/router_service_test.go
  api/turing/service/router_version_service.go
  api/turing/service/router_version_service_test.go
Due: golangci-lint

Replace nop exp engine check with onChange handler to set nop ensembler when no exp engine is used
  ui/src/router/components/form/steps/EnsemblerStep.js
  ui/src/router/components/form/steps/ExperimentStep.js
Due: prettier

Reset standard ensembler config if experiment engine is changed
  ui/src/router/components/form/steps/ExperimentStep.js
Due: prettier

Add fallback array if experimentEngine experiments are not yet loaded
  ui/src/router/components/form/components/ensembler_config/standard_ensembler/StandardEnsemblerFormGroup.js
Due: prettier

Reorder cluster init steps by applying config-features only after everything is loaded
  infra/cluster-init/init.sh
Due: none

Add check to ensure standard ensembler form shown when experiment engine is selected
  ui/src/router/components/form/steps/EnsemblerStep.js
Due: prettier

Add fluentd bigquery plugin
  .github/workflows/fluentd-plugin.yaml
  infra/charts/turing/Chart.yaml
  infra/charts/turing/values.yaml
  scripts/fluentd-bigquery/.env.template
  scripts/fluentd-bigquery/.gitignore
  scripts/fluentd-bigquery/Dockerfile
  scripts/fluentd-bigquery/Gemfile
  scripts/fluentd-bigquery/Gemfile.lock
  scripts/fluentd-bigquery/Makefile
  scripts/fluentd-bigquery/README.md
  scripts/fluentd-bigquery/entrypoint.sh
  scripts/fluentd-bigquery/fluent.conf
Due: none
