Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: golangci-lint
        name: 'Linter for API'
        alias: golangci-lint-api
        files: '^api/'
        types: [go]
        language: system
        entry: bash -c 'cd api make lint'
      - id: golangci-lint
        name: 'Linter for the Router Engine'
        alias: golangci-lint-router
        files: '^engines/router/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/router make lint'
      - id: golangci-lint
        name: 'Linter for the Experiment Engine'
        alias: golangci-lint-experiment
        files: '^engines/experiment/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/experiment make lint'
  - repo: local
    hooks:
      - id: goimports
        name: 'Run goimports'
        alias: goimports
        files: '^[api/|engines/router/|engines/experiment/]'
        exclude: "pb.go"
        types: [go]
        language: system
        entry: goimports -w -local github.com/caraml-dev/turing
  - repo: local
    hooks:
      - id: prettier
        name: 'Prettier for UI'
        files: '^ui/'
        types_or: [javascript, css]
        language: system
        entry: bash -c 'cd ui && yarn lint'
  - repo: local
    hooks:
      - id: openapi-bundle
        name: 'OpenAPI Swagger Dist'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd api/api && make all'
  - repo: local
    hooks:
      - id: openapi-gen
        name: 'OpenAPI Python client'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd sdk && make gen-client'
  - repo: local
    hooks:
      - id: black
        name: 'Black formatter for the SDK'
        alias: black-sdk
        files: '^sdk/'
        types: [python]
        language: system
        entry: bash -c 'cd sdk && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Job Engine'
        alias: black-ensembler-job
        files: '^engines/pyfunc-ensembler-job/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-job && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Service Engine'
        alias: black-ensembler-service
        files: '^engines/pyfunc-ensembler-service/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Add steps to install go 1.22 for experiment engine and router
  .github/workflows/turing.yaml
Due: none

Refactor merlin's environments api
  api/turing/service/mlp_service.go
  api/turing/service/mlp_service_test.go
Due: golangci-lint, goimports

Rollback zap version
  api/go.mod
  api/go.sum
Due: none

Fix lint comments in turing router
  engines/router/missionctl/fiberapi/fan_in_test.go
  engines/router/missionctl/fiberapi/interceptors.go
  engines/router/missionctl/fiberapi/interceptors_test.go
  engines/router/missionctl/fiberapi/internal/testutils/helpers.go
  engines/router/missionctl/fiberapi/routing_strategy_test.go
  engines/router/missionctl/internal/safe_chan.go
  engines/router/missionctl/internal/safe_chan_test.go
  engines/router/missionctl/internal/testutils/request.go
  engines/router/missionctl/log/resultlog/kafka_test.go
  engines/router/missionctl/log/resultlog/nop.go
  engines/router/missionctl/server/http/handlers/http_handler_test.go
  engines/router/missionctl/server/http/handlers/internal_api.go
  engines/router/missionctl/server/upi/interceptors/recoverer.go
  engines/router/missionctl/server/upi/interceptors/recoverer_test.go
Due: golangci-lint, goimports

Update zap-to-hclog in experiment, router, and api
  api/go.mod
  api/go.sum
  engines/experiment/go.mod
  engines/experiment/go.sum
  engines/router/go.mod
  engines/router/go.sum
Due: none

Update go version for router and experiment engine
  engines/experiment/docs/rpc_plugins.md
  engines/experiment/examples/plugins/hardcoded/Dockerfile
  engines/experiment/go.mod
  engines/experiment/go.sum
  engines/router/Dockerfile
  engines/router/go.mod
  engines/router/go.sum
Due: none

Update zap and mlp in experiment engines and router
  engines/experiment/examples/plugins/hardcoded/go.mod
  engines/experiment/examples/plugins/hardcoded/go.sum
  engines/experiment/go.mod
  engines/experiment/go.sum
  engines/router/go.mod
  engines/router/go.sum
Due: none

Fix e2e test where return value of a function is no longer a slice of values but a slice of pointers
  api/e2e/test/cluster/cluster.go
Due: golangci-lint, goimports

Remove steps to verify the same google auth client is created by merlin and mlp
  api/turing/service/mlp_service_test.go
Due: golangci-lint, goimports

Patch new EnvironmentsGet method
  api/turing/service/mlp_service.go
  api/turing/service/mlp_service_test.go
Due: golangci-lint, goimports

Remove dot imports
  api/e2e/test/router_e2e_test.go
  api/e2e/test/router_test.go
  api/e2e/test/routers_suite_test.go
Due: golangci-lint, goimports

Refactor e2e tests to make them compatible with previously used libraries
  api/turing/cluster/controller_test.go
  api/turing/cluster/virtual_service.go
  api/turing/internal/testutils/validation.go
Due: golangci-lint, goimports

Fix bug in unit tests where mutex locks were copied
  api/turing/cluster/controller_test.go
  api/turing/cluster/virtual_service_test.go
  api/turing/internal/testutils/validation.go
Due: golangci-lint, goimports

Clean up refactoring of mlp service
  api/turing/service/mlp_service.go
Due: golangci-lint, goimports

Add custom compare function to allow nested unexported fields
  api/turing/internal/testutils/validation.go
Due: golangci-lint, goimports

Bump up ginkgo versions
  api/Makefile
  api/go.mod
  api/go.sum
Due: none

Add gcflags to gotest
  api/Makefile
Due: none

Fix lint comments by renaming unused arguments and nonstandard variable or function names
  api/turing/api/appcontext_test.go
  api/turing/api/projects_api.go
  api/turing/batch/ensembling/runner_test.go
  api/turing/cluster/controller.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/models/traffic_rules.go
  api/turing/service/experiment_service_test.go
  api/turing/service/mlp_service_test.go
  api/turing/service/router_deployment_service_test.go
  api/turing/validation/validator.go
Due: golangci-lint, goimports

Add indirect function in router cleanup helper function
  api/e2e/test/cluster/cluster.go
Due: golangci-lint, goimports

Parameterise version of Go installed
  .github/workflows/turing.yaml
Due: none

Refactor ApplyPodDisruptionBudget signature by removing namespace from arguments
  api/turing/cluster/controller.go
  api/turing/cluster/mocks/controller.go
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint, goimports

update json parser for request
  engines/experiment/pkg/request/request.go
  engines/experiment/pkg/request/request_test.go
Due: golangci-lint, goimports

add object value
  engines/experiment/pkg/request/request.go
Due: golangci-lint, goimports

update test to allow object
  engines/experiment/pkg/request/request.go
  engines/experiment/pkg/request/request_test.go
Due: golangci-lint, goimports

update default handling to unknown type
  engines/experiment/pkg/request/request.go
  engines/experiment/pkg/request/request_test.go
Due: golangci-lint, goimports

add test for multiple header
  engines/experiment/pkg/request/request_test.go
Due: golangci-lint, goimports

add test for object type
  engines/experiment/pkg/request/request_test.go
Due: golangci-lint, goimports

feat: support array in experiment engine json (#375)
  engines/experiment/pkg/request/request.go
  engines/experiment/pkg/request/request_test.go
Due: golangci-lint, goimports

[wip] list images and build image api
  api/api/openapi.yaml
  api/api/specs/ensembler-images.yaml
  api/turing/api/appcontext.go
  api/turing/api/ensembler_images_api.go
  api/turing/api/request/ensembler_images.go
  api/turing/imagebuilder/ensembler.go
  api/turing/imagebuilder/imagebuilder.go
  api/turing/models/ensembler.go
  api/turing/server/api.go
  api/turing/service/ensembler_image_service.go
  sdk/turing/version.py
Due: golangci-lint, goimports, openapi-bundle, openapi-gen, black

Fix existing api-test
  api/go.mod
  api/go.sum
  api/turing/api/appcontext_test.go
  api/turing/batch/ensembling/runner.go
  api/turing/batch/ensembling/runner_test.go
  api/turing/imagebuilder/imagebuilder.go
  api/turing/imagebuilder/imagebuilder_test.go
  api/turing/imagebuilder/mocks/image_builder.go
Due: golangci-lint, goimports

Update open api spec
  api/api/openapi.bundle.yaml
  api/api/specs/ensembler-images.yaml
  api/turing/api/ensembler_images_api.go
Due: golangci-lint, goimports, openapi-bundle, openapi-gen

Generate SDK client
  api/api/openapi-sdk.yaml
  sdk/turing/generated/api/ensembler_images_api.py
  sdk/turing/generated/apis/__init__.py
  sdk/turing/generated/model/build_ensembler_image_request.py
  sdk/turing/generated/model/ensembler_image.py
  sdk/turing/generated/model/ensembler_image_runner_type.py
  sdk/turing/generated/model/ensembler_images.py
  sdk/turing/generated/model/image_building_job_state.py
  sdk/turing/generated/model/image_building_job_status.py
  sdk/turing/generated/models/__init__.py
Due: black

Fix lint
  api/turing/api/ensembler_images_api.go
  api/turing/imagebuilder/imagebuilder.go
  api/turing/service/ensembler_image_service.go
Due: golangci-lint, goimports

Update specs/ensembler-images.yaml
  api/api/specs/ensembler-images.yaml
Due: openapi-bundle, openapi-gen

Add new autoscaling target processing for concurrency
  api/turing/cluster/knative_service.go
  api/turing/cluster/knative_service_test.go
Due: golangci-lint, goimports

Implement image building API in SDK
  .github/workflows/sdk.yaml
  .github/workflows/turing.yaml
  api/api/openapi.bundle.yaml
  api/api/specs/ensembler-images.yaml
  sdk/Makefile
  sdk/requirements.txt
  sdk/tests/conftest.py
  sdk/tests/ensembler_image_test.py
  sdk/tests/ensembler_test.py
  sdk/turing/__init__.py
  sdk/turing/ensembler_image.py
  sdk/turing/generated/api/ensembler_images_api.py
  sdk/turing/generated/model/ensembler_image_runner_type.py
  sdk/turing/session.py
Due: openapi-bundle, openapi-gen, black

Pin pytest version
  engines/pyfunc-ensembler-job/requirements.dev.txt
  engines/pyfunc-ensembler-service/requirements.dev.txt
  sdk/requirements.dev.txt
Due: none

Add new autoscaling target processing for concurrency (#378)
  api/turing/cluster/knative_service.go
  api/turing/cluster/knative_service_test.go
Due: golangci-lint, goimports

Add steps to remove exp engine passkey when retrieving routers from the API server
  sdk/turing/router/config/router_config.py
Due: black
