Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: golangci-lint
        name: 'Linter for API'
        alias: golangci-lint-api
        files: '^api/'
        types: [go]
        language: system
        entry: bash -c 'cd api make lint'
      - id: golangci-lint
        name: 'Linter for the Router Engine'
        alias: golangci-lint-router
        files: '^engines/router/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/router make lint'
      - id: golangci-lint
        name: 'Linter for the Experiment Engine'
        alias: golangci-lint-experiment
        files: '^engines/experiment/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/experiment make lint'
  - repo: local
    hooks:
      - id: goimports
        name: 'Run goimports'
        alias: goimports
        files: '^[api/|engines/router/|engines/experiment/]'
        exclude: "pb.go"
        types: [go]
        language: system
        entry: goimports -w -local github.com/caraml-dev/turing
  - repo: local
    hooks:
      - id: prettier
        name: 'Prettier for UI'
        files: '^ui/'
        types_or: [javascript, css]
        language: system
        entry: bash -c 'cd ui && yarn lint'
  - repo: local
    hooks:
      - id: openapi-bundle
        name: 'OpenAPI Swagger Dist'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd api/api && make all'
  - repo: local
    hooks:
      - id: openapi-gen
        name: 'OpenAPI Python client'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd sdk && make gen-client'
  - repo: local
    hooks:
      - id: black
        name: 'Black formatter for the SDK'
        alias: black-sdk
        files: '^sdk/'
        types: [python]
        language: system
        entry: bash -c 'cd sdk && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Job Engine'
        alias: black-ensembler-job
        files: '^engines/pyfunc-ensembler-job/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-job && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Service Engine'
        alias: black-ensembler-service
        files: '^engines/pyfunc-ensembler-service/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Update go mod mlp dependency
  api/go.mod
  api/go.sum
Due: none

Update go mod mlp dependency (#337)
  api/go.mod
  api/go.sum
Due: none

Update mlp client
  api/go.mod
  api/go.sum
Due: none

Remove decryption when retrieving secret from MLP
  api/turing/api/appcontext.go
  api/turing/api/appcontext_test.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/service/mlp_service.go
  api/turing/service/mlp_service_test.go
Due: golangci-lint, goimports

Fix lint
  api/e2e/test/router_e2e_test.go
  api/e2e/test/router_test.go
  api/e2e/test/routers_suite_test.go
Due: golangci-lint, goimports

Fix mlp path
  infra/charts/turing/README.md
  infra/charts/turing/templates/_helpers.tpl
Due: none

Update default mlp url in documentation and local dev setup
  README.md
  api/.env.development
  api/config-dev.yaml
Due: none

Remove decryption when retrieving secret from MLP (#338)
  README.md
  api/.env.development
  api/config-dev.yaml
  api/e2e/test/router_e2e_test.go
  api/e2e/test/router_test.go
  api/e2e/test/routers_suite_test.go
  api/go.mod
  api/go.sum
  api/turing/api/appcontext.go
  api/turing/api/appcontext_test.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/service/mlp_service.go
  api/turing/service/mlp_service_test.go
  infra/charts/turing/README.md
  infra/charts/turing/templates/_helpers.tpl
Due: golangci-lint, goimports

First commit on adding PDB to router components: - Add PDB config - Add component label - Modify updateFunc to use generic
  api/Makefile
  api/turing/batch/ensembling/runner.go
  api/turing/cluster/controller.go
  api/turing/cluster/labeller/labeller.go
  api/turing/cluster/labeller/labeller_test.go
  api/turing/cluster/pdb.go
  api/turing/cluster/pdb_test.go
  api/turing/cluster/servicebuilder/fluentd.go
  api/turing/cluster/servicebuilder/plugins_server.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/config/config.go
  api/turing/config/testdata/config-1.yaml
  api/turing/service/router_deployment_service.go
Due: golangci-lint, goimports

remove validation for resultlogger of upi router in sdk
  sdk/tests/router/config/router_config_test.py
  sdk/turing/router/config/router_config.py
Due: black

remove validation for resultlogger of upi router in sdk (#341)
  sdk/tests/router/config/router_config_test.py
  sdk/turing/router/config/router_config.py
Due: black

Bump fiber version
  api/go.mod
  api/go.sum
Due: none

Bump fiber version (#342)
  api/go.mod
  api/go.sum
Due: none

Add semver workflows
  .github/release-drafter.yml
  .github/workflows/pr-lint.yaml
  .github/workflows/release-draft.yaml
Due: none

Bump up caraml-auth-google version
  sdk/requirements.txt
Due: none

Bump up caraml-auth-google version (#343)
  sdk/requirements.txt
Due: none

Add authz caching config
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/testdata/config-1.yaml
  api/turing/middleware/authorization.go
  api/turing/server/application.go
Due: golangci-lint, goimports

Update MLP dependency
  api/go.mod
  api/go.sum
  api/turing/config/example.yaml
Due: none

Fix lint errors
  api/turing/config/config_test.go
Due: golangci-lint, goimports

feat: Add authz caching config (#344)
  api/go.mod
  api/go.sum
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/example.yaml
  api/turing/config/testdata/config-1.yaml
  api/turing/middleware/authorization.go
  api/turing/server/application.go
Due: golangci-lint, goimports

Fix typo in comment
  api/turing/config/config.go
Due: golangci-lint, goimports

Add delay to verify image building job deletion before recreating a new one
  api/turing/imagebuilder/imagebuilder.go
Due: golangci-lint, goimports

Fix bug in existence check
  api/turing/imagebuilder/imagebuilder.go
Due: golangci-lint, goimports

Fix unit tests
  api/turing/imagebuilder/imagebuilder_test.go
Due: golangci-lint, goimports

Increase image building deletion timeout duration
  api/turing/imagebuilder/imagebuilder.go
Due: golangci-lint, goimports

Bugfix: Add image building job deletion delay (#345)
  api/turing/config/config.go
  api/turing/imagebuilder/imagebuilder.go
  api/turing/imagebuilder/imagebuilder_test.go
Due: golangci-lint, goimports

feat: mlflow service initialization
  api/turing/api/appcontext.go
Due: golangci-lint, goimports

refactor: mlflow package interface changes
  api/turing/api/appcontext.go
Due: golangci-lint, goimports

feat: deletion API
  api/turing/api/ensemblers_api.go
  api/turing/service/ensembler_service.go
  api/turing/service/router_version_service.go
Due: golangci-lint, goimports

feat: delete ensembler sdk
  sdk/tests/ensembler_test.py
  sdk/turing/ensembler.py
  sdk/turing/session.py
Due: black

refactor: ensembler deletion
  api/api/openapi.bundle.yaml
  api/api/specs/ensemblers.yaml
Due: openapi-bundle, openapi-gen

feat: delete ensembler openAPI
  api/api/openapi.bundle.yaml
  api/api/specs/ensemblers.yaml
  sdk/turing/generated/api/ensembler_api.py
  sdk/turing/generated/model/ensembler_id.py
  sdk/turing/generated/models/__init__.py
  sdk/turing/session.py
Due: openapi-bundle, openapi-gen, black

feat: ensembler deletion ui
  ui/src/ensembler/components/modal/DeleteEnsemblerModal.js
  ui/src/ensembler/components/modal/useEnsemblerModal.js
  ui/src/ensembler/list/ListEnsemblersTable.js
  ui/src/ensembler/list/ListEnsemblersView.js
Due: prettier

refactor: go depedencies
  api/go.mod
  api/go.sum
Due: none

refactor: change usage of mlflow delete package
  api/config-dev.yaml
  api/go.mod
  api/go.sum
  api/turing/api/appcontext.go
  api/turing/api/ensemblers_api.go
  api/turing/config/config.go
  api/turing/config/config_test.go
Due: golangci-lint, goimports

refactor: update mock file
  api/turing/service/mocks/ensemblers_service.go
  api/turing/service/mocks/router_versions_service.go
Due: golangci-lint, goimports

refactor: resolve conflict
  api/go.mod
  api/go.sum
Due: none

feat: ensembling job deletion ui
  ui/src/jobs/components/modal/DeleteJobModal.js
  ui/src/jobs/components/modal/useJobModal.js
  ui/src/jobs/list/ListEnsemblingJobsTable.js
  ui/src/jobs/list/ListEnsemblingJobsView.js
Due: prettier

refactor: add mlflow service to unit test
  api/turing/api/appcontext_test.go
Due: golangci-lint, goimports

refactor: fix linter issue
  api/turing/api/appcontext.go
  api/turing/api/appcontext_test.go
  api/turing/api/ensemblers_api.go
  api/turing/service/router_version_service.go
Due: golangci-lint, goimports
