Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

golangci-lint:
  name: Linter for the Experiment Engine
  alias: golangci-lint-experiment
  language: system
  entry: bash -c 'cd engines/experiment make lint'

goimports:
  name: Run goimports
  alias: goimports
  language: system
  entry: goimports -w -local github.com/caraml-dev/turing

prettier:
  name: Prettier for UI
  language: system
  entry: bash -c 'cd ui && yarn lint'

openapi-bundle:
  name: OpenAPI Swagger Dist
  language: system
  entry: bash -c 'cd api/api && make all'

openapi-gen:
  name: OpenAPI Python client
  language: system
  entry: bash -c 'cd sdk && make gen-client'

black:
  name: Black formatter for Pyfunc Ensembler Service Engine
  alias: black-ensembler-service
  language: system
  entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

feat(api): image building process improvement (#404)
  .github/workflows/pyfunc-ensembler-job.yaml
  .github/workflows/pyfunc-ensembler-service.yaml
  .github/workflows/sdk.yaml
  api/turing/api/appcontext.go
  api/turing/api/appcontext_test.go
  api/turing/batch/ensembling/runner.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/imagebuilder/ensembler.go
  api/turing/imagebuilder/imagebuilder.go
  api/turing/imagebuilder/imagebuilder_test.go
  api/turing/service/ensembler_image_service.go
  api/turing/service/router_deployment_service.go
  engines/pyfunc-ensembler-job/Dockerfile
  engines/pyfunc-ensembler-job/Makefile
  engines/pyfunc-ensembler-job/app.Dockerfile
  engines/pyfunc-ensembler-job/env-3.8.yaml
  engines/pyfunc-ensembler-job/env-3.9.yaml
  engines/pyfunc-ensembler-job/env.yaml
  engines/pyfunc-ensembler-job/process_conda_env.sh
  engines/pyfunc-ensembler-job/requirements.txt
  engines/pyfunc-ensembler-job/setup.py
  engines/pyfunc-ensembler-job/version.py
  engines/pyfunc-ensembler-service/Dockerfile
  engines/pyfunc-ensembler-service/Makefile
  engines/pyfunc-ensembler-service/app.Dockerfile
  engines/pyfunc-ensembler-service/env-3.8.yaml
  engines/pyfunc-ensembler-service/env-3.9.yaml
  engines/pyfunc-ensembler-service/env.yaml
  engines/pyfunc-ensembler-service/process_conda_env.sh
  engines/pyfunc-ensembler-service/requirements.dev.txt
  engines/pyfunc-ensembler-service/requirements.txt
  engines/pyfunc-ensembler-service/setup.py
  engines/pyfunc-ensembler-service/version.py
  sdk/Makefile
Due: golangci-lint, goimports, black

chore: change caraml-auth-google to 0.0.0.post9 to avoid using dev tag
  sdk/requirements.txt
Due: none

chore: change caraml-auth-google to 0.0.0.post9 to avoid using dev tag (#406)
  sdk/requirements.txt
Due: none

chore: retrieve google sa in batch job only if it's specified
  api/turing/batch/ensembling/controller.go
Due: golangci-lint, goimports

chore: fix lint
  api/turing/batch/ensembling/controller.go
Due: golangci-lint, goimports

chore: remove extra comment
  api/turing/batch/ensembling/controller.go
Due: golangci-lint, goimports

chore: retrieve google sa in ensembling job only if it's specified (#407)
  api/turing/batch/ensembling/controller.go
Due: golangci-lint, goimports

enable enricher response in turing router response
  engines/router/missionctl/fiberapi/fan_in.go
  engines/router/missionctl/mission_control.go
  engines/router/missionctl/server/http/handlers/http_handler.go
Due: golangci-lint, goimports

remove fmt statements and add function commnt
  engines/router/missionctl/fiberapi/fan_in.go
  engines/router/missionctl/mission_control.go
  engines/router/missionctl/server/http/handlers/http_handler.go
Due: golangci-lint, goimports

remove test fmt
  engines/router/missionctl/mission_control.go
Due: golangci-lint, goimports

runs publish
  .github/workflows/turing.yaml
Due: none

modify the workflows back
  .github/workflows/turing.yaml
  sdk/turing/ensembler.py
Due: black

fix tests
  engines/router/missionctl/fiberapi/fan_in_test.go
  engines/router/missionctl/server/http/handlers/http_handler_test.go
Due: golangci-lint, goimports

fix tests
  engines/router/missionctl/mission_control_test.go
Due: golangci-lint, goimports

fix e2e tests:
  api/e2e/test/router_e2e_test.go
  api/e2e/test/testdata/responses/router_proprietary_exp_batch_predict.json
Due: golangci-lint, goimports

update and fix e2e tests
  sdk/e2e/01_create_router_test.py
  sdk/e2e/02_update_router_invalid_test.py
  sdk/e2e/03_create_router_version_test.py
Due: black

fix tests and lint
  engines/router/missionctl/mission_control.go
  engines/router/missionctl/mission_control_test.go
  sdk/e2e/01_create_router_test.py
Due: golangci-lint, goimports, black

fix failing e2e tests
  sdk/e2e/01_create_router_test.py
Due: black

revert changes to pipeline yaml
  .github/workflows/turing.yaml
  engines/router/missionctl/mission_control_test.go
Due: golangci-lint, goimports

address review comments
  api/e2e/test/router_e2e_test.go
  engines/router/missionctl/mission_control_test.go
Due: golangci-lint, goimports

Append enricher response to the turing router response (#408)
  api/e2e/test/testdata/responses/router_proprietary_exp_batch_predict.json
  engines/router/missionctl/fiberapi/fan_in.go
  engines/router/missionctl/fiberapi/fan_in_test.go
  engines/router/missionctl/mission_control.go
  engines/router/missionctl/mission_control_test.go
  engines/router/missionctl/server/http/handlers/http_handler.go
  engines/router/missionctl/server/http/handlers/http_handler_test.go
  sdk/e2e/01_create_router_test.py
  sdk/e2e/02_update_router_invalid_test.py
  sdk/e2e/03_create_router_version_test.py
  sdk/turing/ensembler.py
Due: golangci-lint, goimports, black

add fetch depth option to checkout actions
  .github/workflows/pyfunc-ensembler-job.yaml
  .github/workflows/pyfunc-ensembler-service.yaml
Due: none

add fetch depth option to checkout actions (#410)
  .github/workflows/pyfunc-ensembler-job.yaml
  .github/workflows/pyfunc-ensembler-service.yaml
Due: none

Add pipenv installation
  engines/pyfunc-ensembler-job/Makefile
  engines/pyfunc-ensembler-service/Makefile
Due: none

Add pipenv installation (#411)
  engines/pyfunc-ensembler-job/Makefile
  engines/pyfunc-ensembler-service/Makefile
Due: none

Fix turing ensembler sdk
  sdk/turing/ensembler.py
Due: black

Add sdk tests
  sdk/tests/__init__.py
  sdk/tests/ensembler_test.py
Due: black

Fix broken tests
  sdk/tests/ensembler_test.py
Due: black

fix(sdk): Fix ensembler ensemble method (#413)
  sdk/tests/__init__.py
  sdk/tests/ensembler_test.py
  sdk/turing/ensembler.py
Due: black

Remove all pipenv usages
  engines/pyfunc-ensembler-job/Makefile
  engines/pyfunc-ensembler-service/Makefile
Due: none

Loosen numpy requirement
  engines/pyfunc-ensembler-job/requirements.txt
Due: none

Remove legacy ensembler test
  engines/pyfunc-ensembler-service/tests/conftest.py
Due: black

Fix ensembler service test
  engines/pyfunc-ensembler-service/tests/test_ensembler_runner.py
Due: black

fix(ensembler): Remove all pipenv usage (#412)
  engines/pyfunc-ensembler-job/Makefile
  engines/pyfunc-ensembler-job/requirements.txt
  engines/pyfunc-ensembler-service/Makefile
  engines/pyfunc-ensembler-service/tests/conftest.py
  engines/pyfunc-ensembler-service/tests/test_ensembler_runner.py
Due: black

feat(ui): add mustache templating in pod log url
  ui/package.json
  ui/src/components/pod_logs_viewer/PodLogsViewer.js
  ui/src/config.js
  ui/src/router/details/logs/RouterLogsView.js
  ui/src/utils/createLogUrl.js
  ui/yarn.lock
Due: prettier

Fix sed expression in makefiles
  engines/pyfunc-ensembler-job/Makefile
  engines/pyfunc-ensembler-service/Makefile
Due: none

Fix sed expression in makefiles (#415)
  engines/pyfunc-ensembler-job/Makefile
  engines/pyfunc-ensembler-service/Makefile
Due: none

modify ensembler log level to warning
  engines/pyfunc-ensembler-service/app.Dockerfile
Due: none

modify ensembler log level to warning
  engines/pyfunc-ensembler-service/pyfunc_ensembler_runner/__main__.py
Due: black

fetch log level from environment variables - to allow debuggings
  engines/pyfunc-ensembler-service/pyfunc_ensembler_runner/__main__.py
Due: black

Path conditions:
  golangci-lint: ((any of: ^api/ and \.go$) or (any of: ^engines/router/ and \.go$)) or (any of: ^engines/experiment/ and \.go$)
  goimports: any of: ^[api/|engines/router/|engines/experiment/] and \.go$ and not (pb.go)
  prettier: any of: ^ui/ and \.(js|mjs|cjs)$, \.css$
  openapi-bundle: any of: ^api/api/specs/
  openapi-gen: any of: ^api/api/specs/
  black: ((any of: ^sdk/ and \.py$) or (any of: ^engines/pyfunc-ensembler-job/ and \.py$)) or (any of: ^engines/pyfunc-ensembler-service/ and \.py$)
