Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: golangci-lint
        name: 'Linter for API'
        alias: golangci-lint-api
        files: '^api/'
        types: [go]
        language: system
        entry: bash -c 'cd api make lint'
      - id: golangci-lint
        name: 'Linter for the Router Engine'
        alias: golangci-lint-router
        files: '^engines/router/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/router make lint'
      - id: golangci-lint
        name: 'Linter for the Experiment Engine'
        alias: golangci-lint-experiment
        files: '^engines/experiment/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/experiment make lint'
  - repo: local
    hooks:
      - id: goimports
        name: 'Run goimports'
        alias: goimports
        files: '^[api/|engines/router/|engines/experiment/]'
        exclude: "pb.go"
        types: [go]
        language: system
        entry: goimports -w -local github.com/caraml-dev/turing
  - repo: local
    hooks:
      - id: prettier
        name: 'Prettier for UI'
        files: '^ui/'
        types_or: [javascript, css]
        language: system
        entry: bash -c 'cd ui && yarn lint'
  - repo: local
    hooks:
      - id: openapi-bundle
        name: 'OpenAPI Swagger Dist'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd api/api && make all'
  - repo: local
    hooks:
      - id: openapi-gen
        name: 'OpenAPI Python client'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd sdk && make gen-client'
  - repo: local
    hooks:
      - id: black
        name: 'Black formatter for the SDK'
        alias: black-sdk
        files: '^sdk/'
        types: [python]
        language: system
        entry: bash -c 'cd sdk && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Job Engine'
        alias: black-ensembler-job
        files: '^engines/pyfunc-ensembler-job/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-job && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Service Engine'
        alias: black-ensembler-service
        files: '^engines/pyfunc-ensembler-service/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

refactor: unit test
  api/turing/api/ensemblers_api_it_test.go
Due: golangci-lint, goimports

refactor: error handling
  api/turing/api/ensemblers_api.go
Due: golangci-lint, goimports

refactor: code comment
  api/turing/api/ensemblers_api.go
  sdk/turing/ensembler.py
Due: golangci-lint, goimports, black

feat: add current router version check
  ui/src/ensembler/components/modal/DeleteEnsemblerModal.js
  ui/src/ensembler/components/table/ListEnsemblingJobsForEnsemblerTable.js
  ui/src/ensembler/components/table/ListRouterVersionsForEnsemblerTable.js
Due: prettier

refactor: linter
  api/turing/api/ensemblers_api.go
Due: golangci-lint, goimports

refactor: update openapi spec + sdk
  api/api/openapi.bundle.yaml
  api/api/specs/routers.yaml
  sdk/turing/ensembler.py
  sdk/turing/generated/api/router_api.py
  sdk/turing/router/router.py
  sdk/turing/session.py
Due: openapi-bundle, openapi-gen, black

feat: add is_current parameter
  api/turing/service/router_version_service.go
Due: golangci-lint, goimports

refactor: seperate delete logic
  api/turing/api/ensemblers_api.go
  api/turing/api/ensemblers_api_test.go
Due: golangci-lint, goimports

update depedencies
  api/go.sum
Due: none

refactor: button disabled condition
  ui/src/ensembler/components/modal/DeleteEnsemblerModal.js
Due: prettier

refactor: resolve comment
  api/turing/api/ensemblers_api.go
  docs/how-to/delete-an-ensembler/README.md
  docs/how-to/delete-an-ensembler/delete-an-ensembler-active.md
  docs/how-to/delete-an-ensembler/delete-an-ensembler-inactive.md
  docs/how-to/delete-an-ensembler/delete-an-ensembler.md
  sdk/turing/ensembler.py
  ui/src/ensembler/components/modal/DeleteEnsemblerModal.js
  ui/src/ensembler/components/table/ListEnsemblingJobsForEnsemblerTable.js
  ui/src/ensembler/components/table/ListRouterVersionsForEnsemblerTable.js
  ui/src/ensembler/list/ListEnsemblersTable.js
  ui/src/jobs/components/modal/DeleteJobModal.js
  ui/src/jobs/list/ListEnsemblingJobsTable.js
Due: golangci-lint, goimports, prettier, black

feat: delete ensembler user docs
  docs/.gitbook/assets/delete_ensembler_modal_active.png
  docs/.gitbook/assets/delete_ensembler_modal_inactive.png
  docs/.gitbook/assets/delete_ensembler_modal_inactive_filled.png
  docs/.gitbook/assets/delete_ensembler_modal_success.png
  docs/.gitbook/assets/delete_ensembler_modal_success_filled.png
  docs/.gitbook/assets/ensembler_page.png
  docs/.gitbook/assets/ensembler_page_empty.png
  docs/SUMMARY.md
  docs/how-to/delete-an-ensembler/README.md
  docs/how-to/delete-an-ensembler/delete-an-ensembler-active.md
  docs/how-to/delete-an-ensembler/delete-an-ensembler-inactive.md
  docs/how-to/delete-an-ensembler/delete-an-ensembler.md
Due: none

refactor: ui hyperlink text color, change text
  ui/src/ensembler/components/modal/DeleteEnsemblerModal.js
  ui/src/ensembler/components/table/ListEnsemblingJobsForEnsemblerTable.js
  ui/src/ensembler/components/table/ListRouterVersionsForEnsemblerTable.js
  ui/src/jobs/components/modal/DeleteJobModal.js
Due: prettier

refactor: add better message handling
  ui/src/ensembler/components/table/ListEnsemblingJobsForEnsemblerTable.js
Due: prettier

refactor: add more swagger documentation, fix unit test
  api/api/openapi.bundle.yaml
  api/api/specs/ensemblers.yaml
  api/api/specs/routers.yaml
  api/turing/api/ensemblers_api.go
  api/turing/api/ensemblers_api_test.go
  docs/how-to/delete-an-ensembler/README.md
  sdk/tests/ensembler_test.py
Due: golangci-lint, goimports, openapi-bundle, openapi-gen, black

refactor: change unit test assertion
  sdk/tests/ensembler_test.py
Due: black

docs: edit readme
  docs/how-to/delete-an-ensembler/README.md
Due: none

refactor: go dependencies
  api/go.mod
  api/go.sum
Due: none

refactor: linter
  api/turing/api/ensemblers_api.go
  api/turing/api/ensemblers_api_test.go
Due: golangci-lint, goimports

refactor: add new unit test for current router version
  api/turing/api/ensemblers_api_test.go
Due: golangci-lint, goimports

refactor: linter + unit test
  api/turing/api/ensemblers_api.go
  api/turing/api/ensemblers_api_test.go
Due: golangci-lint, goimports

refactor: remove job status handling
  api/turing/api/ensemblers_api.go
  api/turing/api/ensembling_job_api.go
Due: golangci-lint, goimports

Bugfix: trim path prefix when checking for authorization
  api/turing/middleware/authorization.go
Due: golangci-lint, goimports

Bugfix: trim path prefix when checking for authorization (#347)
  api/turing/middleware/authorization.go
Due: golangci-lint, goimports

refactor: table alignment and button
  ui/src/ensembler/list/ListEnsemblersTable.js
  ui/src/jobs/list/ListEnsemblingJobsTable.js
Due: prettier

Fix crash due to mismatch number of columns and values in a row
  api/go.mod
  api/go.sum
  engines/experiment/go.mod
  engines/experiment/go.sum
  engines/router/go.mod
  engines/router/go.sum
  engines/router/missionctl/log/resultlog/upi_result_log_test.go
  engines/router/missionctl/server/upi/interceptors/recoverer.go
  engines/router/missionctl/server/upi/interceptors/recoverer_test.go
  engines/router/missionctl/server/upi/server.go
Due: golangci-lint, goimports

Fix lint error
  engines/experiment/examples/plugins/hardcoded/go.mod
  engines/experiment/examples/plugins/hardcoded/go.sum
  engines/router/missionctl/server/upi/interceptors/recoverer.go
  engines/router/missionctl/server/upi/interceptors/recoverer_test.go
Due: golangci-lint, goimports

Set initial scale on new deployment if the router is already deployed
  api/turing/cluster/controller.go
  api/turing/cluster/knative_service.go
  api/turing/cluster/mocks/controller.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/cluster/servicebuilder/service_builder_test.go
  api/turing/service/mocks/router_deployment_service.go
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint, goimports

Send current router version down to deployment service
  api/turing/api/deployment_controller.go
  api/turing/cluster/controller.go
  api/turing/service/mocks/router_deployment_service.go
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint, goimports

Fix test failure
  api/turing/api/deployment_controller_test.go
Due: golangci-lint, goimports

Add controller test for GetKnativeServiceDesiredReplicas
  api/turing/api/deployment_controller_test.go
  api/turing/cluster/controller.go
  api/turing/cluster/controller_test.go
Due: golangci-lint, goimports

Fix failing unit tests
  api/turing/cluster/controller_test.go
Due: golangci-lint, goimports

Upgrade CI lint action
  .github/workflows/turing.yaml
Due: none

Fix lint errors
  api/turing/cluster/controller.go
  api/turing/service/router_deployment_service.go
Due: golangci-lint, goimports

Rename field
  engines/router/missionctl/log/resultlog/upi_result_log_test.go
Due: golangci-lint, goimports
