Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: golangci-lint
        name: 'Linter for API'
        alias: golangci-lint-api
        files: '^api/'
        types: [go]
        language: system
        entry: bash -c 'cd api make lint'
      - id: golangci-lint
        name: 'Linter for the Router Engine'
        alias: golangci-lint-router
        files: '^engines/router/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/router make lint'
      - id: golangci-lint
        name: 'Linter for the Experiment Engine'
        alias: golangci-lint-experiment
        files: '^engines/experiment/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/experiment make lint'
  - repo: local
    hooks:
      - id: goimports
        name: 'Run goimports'
        alias: goimports
        files: '^[api/|engines/router/|engines/experiment/]'
        exclude: "pb.go"
        types: [go]
        language: system
        entry: goimports -w -local github.com/caraml-dev/turing
  - repo: local
    hooks:
      - id: prettier
        name: 'Prettier for UI'
        files: '^ui/'
        types_or: [javascript, css]
        language: system
        entry: bash -c 'cd ui && yarn lint'
  - repo: local
    hooks:
      - id: openapi-bundle
        name: 'OpenAPI Swagger Dist'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd api/api && make all'
  - repo: local
    hooks:
      - id: openapi-gen
        name: 'OpenAPI Python client'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd sdk && make gen-client'
  - repo: local
    hooks:
      - id: black
        name: 'Black formatter for the SDK'
        alias: black-sdk
        files: '^sdk/'
        types: [python]
        language: system
        entry: bash -c 'cd sdk && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Job Engine'
        alias: black-ensembler-job
        files: '^engines/pyfunc-ensembler-job/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-job && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Service Engine'
        alias: black-ensembler-service
        files: '^engines/pyfunc-ensembler-service/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

set log level to warning as env variable
  engines/pyfunc-ensembler-service/app.Dockerfile
  engines/pyfunc-ensembler-service/pyfunc_ensembler_runner/__main__.py
Due: black

modify ensembler log level enum
  engines/pyfunc-ensembler-service/pyfunc_ensembler_runner/__main__.py
  engines/pyfunc-ensembler-service/tests/test_ensembler_runner.py
Due: black

remove pyfunc-ensembler-service from workflow paths-ignore
  .github/workflows/turing.yaml
Due: none

enable pfunc ensembler job to run for pyfunc-ensembler-serivce folder:
  .github/workflows/sdk.yaml
Due: none

fix(ui): change variables passed to createLogImageBuilderUrl
  ui/src/router/details/logs/RouterLogsView.js
Due: prettier

revert back the temporary changes
  .github/workflows/turing.yaml
Due: none

fix(ui): refactor constant vars
  ui/src/router/details/logs/RouterLogsView.js
Due: prettier

feat(ui): add mustache templating in pod log url (#414)
  ui/package.json
  ui/src/components/pod_logs_viewer/PodLogsViewer.js
  ui/src/config.js
  ui/src/router/details/logs/RouterLogsView.js
  ui/src/utils/createLogUrl.js
  ui/yarn.lock
Due: prettier

Set ensembler log level to WARNING from INFO (#409)
  engines/pyfunc-ensembler-service/app.Dockerfile
  engines/pyfunc-ensembler-service/pyfunc_ensembler_runner/__main__.py
  engines/pyfunc-ensembler-service/tests/test_ensembler_runner.py
Due: black

chore: dummy commit to trigger PR CI pipelines
  infra/cluster-init/README.md
  sdk/README.md
Due: none

fix(cluster-init,sdk): fix broken CI pipelines found via dummy PR
  infra/cluster-init/Dockerfile
  infra/cluster-init/README.md
  sdk/Makefile
  sdk/README.md
Due: none

fix(ci): pin k3d-action to a version with a complete release asset set
  .github/actions/run-cluster-init/action.yaml
Due: none

fix(ci): use --disable instead of removed --no-deploy k3s flag
  .github/actions/run-cluster-init/action.yaml
Due: none

fix(ci): pin k3s cluster image to a pre-1.25 k8s version
  .github/actions/run-cluster-init/action.yaml
Due: none

fix(ci): point e2e postgresql image at bitnamilegacy registry
  infra/e2e/turing.values.yaml
Due: none

fix(sdk): tighten setuptools cap to avoid packaging strip_trailing_zero bug
  sdk/Makefile
Due: none

fix(ci): repair broken test-e2e, cluster-init, and sdk pipelines (#418)
  .github/actions/run-cluster-init/action.yaml
  infra/cluster-init/Dockerfile
  infra/e2e/turing.values.yaml
  sdk/Makefile
Due: none

feat: restore classic Jaeger tracer alongside OTel, add additive Otel config to api
  api/.env.development
  api/api/openapi.bundle.yaml
  api/api/specs/routers.yaml
  api/go.mod
  api/go.sum
  api/turing/api/request/request.go
  api/turing/api/request/request_test.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/example.yaml
  api/turing/config/testdata/config-1.yaml
  api/turing/models/log_config.go
  api/turing/models/log_config_test.go
  engines/router/.env.development
  engines/router/README.md
  engines/router/compose/tracing.yaml
  engines/router/go.mod
  engines/router/go.sum
  engines/router/missionctl/config/config.go
  engines/router/missionctl/config/config_test.go
  engines/router/missionctl/fiberapi/interceptors_test.go
  engines/router/missionctl/instrumentation/tracing/jaeger.go
  engines/router/missionctl/instrumentation/tracing/jaeger_test.go
  engines/router/missionctl/instrumentation/tracing/multi.go
  engines/router/missionctl/instrumentation/tracing/multi_test.go
  engines/router/missionctl/instrumentation/tracing/nop.go
  engines/router/missionctl/instrumentation/tracing/nop_test.go
  engines/router/missionctl/instrumentation/tracing/otel.go
  engines/router/missionctl/instrumentation/tracing/otel_test.go
  engines/router/missionctl/instrumentation/tracing/tracing.go
  engines/router/missionctl/instrumentation/tracing/tracing_test.go
  engines/router/missionctl/server/application.go
  sdk/turing/generated/model/router_version_log_config.py
Due: golangci-lint, goimports, openapi-bundle, openapi-gen, black

feat: tag Pyroscope profiles with pod identity for multi-replica routers
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/example.yaml
  engines/router/missionctl/config/config.go
  engines/router/missionctl/config/config_test.go
  engines/router/missionctl/instrumentation/profiling/profiling.go
  engines/router/missionctl/instrumentation/profiling/profiling_internal_test.go
Due: golangci-lint, goimports

fix: unbreak CI after adding OTel/Pyroscope deps to router
  .github/workflows/turing.yaml
  .golangci.yml
  api/Dockerfile
  api/Makefile
  api/go.mod
  api/go.sum
  api/turing/api/base_controller.go
  api/turing/api/request/request.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/internal/testutils/validation.go
  api/turing/service/router_deployment_service_test.go
  api/turing/validation/validator.go
  engines/experiment/Makefile
  engines/experiment/examples/plugins/hardcoded/Dockerfile
  engines/experiment/examples/plugins/hardcoded/go.mod
  engines/experiment/examples/plugins/hardcoded/go.sum
  engines/experiment/go.mod
  engines/experiment/go.sum
  engines/router/Dockerfile
  engines/router/Makefile
  engines/router/go.mod
  engines/router/go.sum
  engines/router/missionctl/errors/errors_test.go
  engines/router/missionctl/instrumentation/tracing/jaeger.go
  engines/router/missionctl/instrumentation/tracing/jaeger_test.go
  engines/router/missionctl/instrumentation/tracing/tracing.go
  engines/router/missionctl/instrumentation/tracing/tracing_test.go
  engines/router/missionctl/internal/testutils/validation.go
  engines/router/missionctl/server/http/handlers/http_handler.go
Due: golangci-lint, goimports

fix(router): dry-run before setting pod fieldRef env vars, no new RBAC needed
  api/turing/cluster/controller.go
  api/turing/cluster/controller_test.go
Due: golangci-lint, goimports

feat(router): expose OTel sampling ratio in RouterDefaults, default to 0.01
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/example.yaml
  engines/router/missionctl/config/config.go
  engines/router/missionctl/config/config_test.go
Due: golangci-lint, goimports

chore: add trailing newline to sdk/.coveragerc
  sdk/.coveragerc
Due: none

feat: support custom Pyroscope profile tags via RouterDefaults
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/example.yaml
  api/turing/server/instrumentation.go
  api/turing/server/instrumentation_test.go
  engines/router/missionctl/config/config.go
  engines/router/missionctl/instrumentation/profiling/profiling.go
  engines/router/missionctl/instrumentation/profiling/profiling_internal_test.go
Due: golangci-lint, goimports
