Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.11.0
    hooks:
      - id: helm-docs-built
        name: 'Helm Docs for Turing Chart'
        files: '^infra/charts/turing/'
        args:
          - --chart-search-root=infra/charts/turing
          - --template-files=./README.md.gotmpl
      - id: helm-docs-built
        name: 'Helm Docs for Turing Init Chart'
        files: '^infra/charts/turing-init/'
        args:
          - --chart-search-root=infra/charts/turing-init
          - --template-files=./README.md.gotmpl
  - repo: local
    hooks:
      - id: golangci-lint
        name: 'Linter for API'
        alias: golangci-lint-api
        files: '^api/'
        types: [go]
        language: system
        entry: bash -c 'cd api make lint'
      - id: golangci-lint
        name: 'Linter for the Router Engine'
        alias: golangci-lint-router
        files: '^engines/router/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/router make lint'
      - id: golangci-lint
        name: 'Linter for the Experiment Engine'
        alias: golangci-lint-experiment
        files: '^engines/experiment/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/experiment make lint'
  - repo: local
    hooks:
      - id: goimports
        name: 'Run goimports'
        alias: goimports
        files: '^[api/|engines/router/|engines/experiment/]'
        exclude: "pb.go"
        types: [go]
        language: system
        entry: goimports -w -local github.com/caraml-dev/turing
  - repo: local
    hooks:
      - id: prettier
        name: 'Prettier for UI'
        files: '^ui/'
        types_or: [javascript, css]
        language: system
        entry: bash -c 'cd ui && yarn lint'
  - repo: local
    hooks:
      - id: openapi-bundle
        name: 'OpenAPI Swagger Dist'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd api/api && make all'
  - repo: local
    hooks:
      - id: openapi-gen
        name: 'OpenAPI Python client'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd sdk && make gen-client'
  - repo: local
    hooks:
      - id: black
        name: 'Black formatter for the SDK'
        alias: black-sdk
        files: '^sdk/'
        types: [python]
        language: system
        entry: bash -c 'cd sdk && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Job Engine'
        alias: black-ensembler-job
        files: '^engines/pyfunc-ensembler-job/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-job && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Service Engine'
        alias: black-ensembler-service
        files: '^engines/pyfunc-ensembler-service/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Add inline comment in Dockerfile
  engines/router/Dockerfile
Due: none

Add tzdata dependency to Turing Router (#318)
  engines/router/Dockerfile
Due: none

add validation and new upi logger type
  api/api/openapi.bundle.yaml
  api/api/specs/routers.yaml
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/config/config.go
  api/turing/models/log_config.go
  api/turing/validation/validator.go
  api/turing/validation/validator_test.go
Due: golangci-lint, goimports, openapi-bundle, openapi-gen

add exp info to upi response
  engines/router/missionctl/config/config.go
  engines/router/missionctl/config/config_test.go
  engines/router/missionctl/experiment/experiment.go
  engines/router/missionctl/fiberapi/fan_in_test.go
  engines/router/missionctl/log/resultlog/kafka.go
  engines/router/missionctl/log/resultlog/resultlog.go
  engines/router/missionctl/server/upi/server.go
Due: golangci-lint, goimports

populate empty metadata before experiment response
  engines/router/missionctl/server/upi/server.go
Due: golangci-lint, goimports

patch e2e and upi exp implementation
  api/Makefile
  api/config-dev-exp-engine.yaml
  api/e2e/test/config-local.yaml
  api/e2e/test/router_test.go
  api/e2e/test/routers_suite_test.go
  api/e2e/test/testdata/responses/router_proprietary_exp_batch_predict.json
  api/e2e/test/testdata/responses/router_proprietary_exp_predict.json
  engines/router/missionctl/server/upi/server.go
  infra/docker-compose/dev/extract_creds.sh
Due: golangci-lint, goimports

patch upi e2e request
  api/e2e/test/router_test.go
  api/e2e/test/testdata/create_router_upi_with_traffic_rules.json.tmpl
Due: golangci-lint, goimports

Fix typo knative version
  infra/cluster-init/init.sh
Due: none

Fix typo knative istio version
  infra/cluster-init/init.sh
Due: none

Fix typo: Init cluster knative version help string (#320)
  infra/cluster-init/init.sh
Due: none

update manifest for prop engine
  infra/e2e/turing.values.yaml
Due: none

patch sdk e2e
  sdk/e2e/01_create_router_test.py
  sdk/e2e/02_update_router_invalid_test.py
  sdk/e2e/03_create_router_version_test.py
  sdk/e2e/09_deploy_router_with_std_ensembler_test.py
Due: black

patch sdk e2e
  sdk/e2e/01_create_router_test.py
  sdk/e2e/02_update_router_invalid_test.py
  sdk/e2e/03_create_router_version_test.py
Due: black

patch e2e
  sdk/e2e/01_create_router_test.py
  sdk/e2e/11_deploy_router_upi_traffic_split_test.py
  sdk/e2e/12_deploy_router_upi_std_ensembler_test.py
Due: black

patch sdk e2e
  sdk/e2e/01_create_router_test.py
  sdk/e2e/11_deploy_router_upi_traffic_split_test.py
  sdk/e2e/12_deploy_router_upi_std_ensembler_test.py
Due: black

add upi validation and upi logger to sdk
  sdk/e2e/11_deploy_router_upi_traffic_split_test.py
  sdk/samples/router/general.py
  sdk/tests/conftest.py
  sdk/tests/router/config/log_config_test.py
  sdk/tests/router/config/router_config_test.py
  sdk/turing/generated/model/result_logger_type.py
  sdk/turing/router/config/log_config.py
  sdk/turing/router/config/router_config.py
  sdk/turing/router/config/router_ensembler_config.py
  sdk/turing/router/config/router_version.py
Due: black

shift upi logger flag as standalone to faciliate future more fine grain control
  api/turing/cluster/servicebuilder/router.go
  engines/router/missionctl/config/config.go
  engines/router/missionctl/config/config_test.go
  engines/router/missionctl/log/resultlog/resultlog.go
  engines/router/missionctl/server/upi/server.go
Due: golangci-lint, goimports

refactor result_logger and kafka logger to be bit more generic
  engines/router/go.mod
  engines/router/go.sum
  engines/router/missionctl/config/config.go
  engines/router/missionctl/config/config_test.go
  engines/router/missionctl/log/resultlog/bigquery.go
  engines/router/missionctl/log/resultlog/bigquery_test.go
  engines/router/missionctl/log/resultlog/kafka.go
  engines/router/missionctl/log/resultlog/kafka_test.go
  engines/router/missionctl/log/resultlog/resultlog.go
  engines/router/missionctl/log/resultlog/resultlog_test.go
  engines/router/missionctl/log/resultlog/upi.go
  engines/router/missionctl/server/upi/server.go
Due: golangci-lint, goimports

update api server go mod
  api/go.mod
  api/go.sum
Due: none

update experiment engine go mod
  engines/experiment/go.mod
  engines/experiment/go.sum
Due: none

update go mod for experiment example
  engines/experiment/examples/plugins/hardcoded/go.mod
  engines/experiment/examples/plugins/hardcoded/go.sum
  engines/router/missionctl/log/resultlog/resultlog_test.go
Due: golangci-lint, goimports

add regex and get router details from app name
  engines/router/missionctl/config/config.go
  engines/router/missionctl/log/resultlog/resultlog.go
  engines/router/missionctl/log/resultlog/resultlog_test.go
  engines/router/missionctl/log/resultlog/upi.go
  engines/router/missionctl/server/upi/server.go
Due: golangci-lint, goimports

add implementation for router_log creation, test still need some patching
  engines/router/missionctl/log/resultlog/kafka.go
  engines/router/missionctl/log/resultlog/kafka_test.go
  engines/router/missionctl/log/resultlog/resultlog.go
  engines/router/missionctl/log/resultlog/upi.go
  engines/router/missionctl/server/upi/logutils.go
  engines/router/missionctl/server/upi/logutils_test.go
  engines/router/missionctl/server/upi/server.go
Due: golangci-lint, goimports

refactor upi log test
  engines/router/missionctl/internal/benchmark/benchmark_e2e_test.go
  engines/router/missionctl/log/resultlog/kafka.go
  engines/router/missionctl/log/resultlog/resultlog.go
  engines/router/missionctl/log/resultlog/upi.go
  engines/router/missionctl/log/resultlog/upi_result_log.go
  engines/router/missionctl/log/resultlog/upi_result_log_test.go
  engines/router/missionctl/server/application.go
  engines/router/missionctl/server/upi/logutils.go
  engines/router/missionctl/server/upi/logutils_test.go
  engines/router/missionctl/server/upi/server.go
  engines/router/missionctl/server/upi/server_test.go
Due: golangci-lint, goimports

patch mock interface for kafka test
  engines/router/missionctl/log/resultlog/kafka_test.go
Due: golangci-lint, goimports

move logger implementation outside upi init
  engines/router/missionctl/internal/mocks/UPILogger.go
  engines/router/missionctl/log/resultlog/kafka.go
  engines/router/missionctl/log/resultlog/kafka_test.go
  engines/router/missionctl/log/resultlog/resultlog.go
  engines/router/missionctl/log/resultlog/resultlog_test.go
  engines/router/missionctl/log/resultlog/upi_result_log.go
  engines/router/missionctl/log/resultlog/upi_result_log_test.go
  engines/router/missionctl/server/application.go
  engines/router/missionctl/server/upi/server_test.go
Due: golangci-lint, goimports

patch test using monkey patch
  engines/router/missionctl/log/resultlog/kafka_test.go
  engines/router/missionctl/log/resultlog/resultlog_test.go
Due: golangci-lint, goimports

bugfix kafka test
  engines/router/missionctl/log/resultlog/kafka_test.go
Due: golangci-lint, goimports

add write upi logs to nop logger
  engines/router/missionctl/log/resultlog/nop.go
  engines/router/missionctl/log/resultlog/nop_test.go
  engines/router/missionctl/log/resultlog/resultlog.go
  engines/router/missionctl/server/application.go
Due: golangci-lint, goimports

address mr comment and create new upi_kafka logger
  engines/router/missionctl/log/resultlog/kafka.go
  engines/router/missionctl/log/resultlog/upi_kafka.go
  engines/router/missionctl/log/resultlog/upi_result_log.go
  engines/router/missionctl/log/resultlog/upi_result_log_test.go
  engines/router/missionctl/server/application.go
  engines/router/missionctl/server/upi/server.go
Due: golangci-lint, goimports

remoove upi kafka
  engines/router/missionctl/log/resultlog/kafka.go
  engines/router/missionctl/log/resultlog/upi_kafka.go
  engines/router/missionctl/log/resultlog/upi_result_log.go
  engines/router/missionctl/server/application.go
Due: golangci-lint, goimports

refactor upilogger, create upi kafka and nop, add validation for http router
  api/turing/config/config.go
  api/turing/validation/validator.go
  api/turing/validation/validator_test.go
  engines/router/missionctl/internal/mocks/UPILogger.go
  engines/router/missionctl/log/resultlog/kafka.go
  engines/router/missionctl/log/resultlog/kafka_test.go
  engines/router/missionctl/log/resultlog/nop.go
  engines/router/missionctl/log/resultlog/nop_test.go
  engines/router/missionctl/log/resultlog/resultlog.go
  engines/router/missionctl/log/resultlog/resultlog_test.go
  engines/router/missionctl/log/resultlog/upi_kafka.go
  engines/router/missionctl/log/resultlog/upi_nop.go
  engines/router/missionctl/log/resultlog/upi_result_log.go
  engines/router/missionctl/log/resultlog/upi_result_log_test.go
  engines/router/missionctl/server/application.go
  engines/router/missionctl/server/upi/server_test.go
Due: golangci-lint, goimports

add router logging for upi router during creation
  ui/src/router/components/form/CreateRouterForm.js
  ui/src/router/components/form/components/outcome_config/ResultLoggingTypePanel.js
  ui/src/router/components/form/components/router_config/GeneralSettingsPanel.js
  ui/src/router/components/form/steps/OutcomeStep.js
  ui/src/router/components/form/validation/schema.js
  ui/src/services/router/TuringRouter.js
Due: prettier

patch api server
  api/turing/api/request/request.go
  api/turing/api/request/request_test.go
  api/turing/api/router_versions_api.go
  api/turing/api/routers_api.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
Due: golangci-lint, goimports

fix lint
  api/turing/api/request/request_test.go
  api/turing/api/router_versions_api.go
  api/turing/api/routers_api.go
Due: golangci-lint, goimports

detail view router log
  ui/src/router/components/configuration/components/LoggingConfigSection.js
  ui/src/router/components/form/components/outcome_config/ResultLoggingTypePanel.js
Due: prettier

Update credentials retrieval method
  sdk/requirements.txt
  sdk/turing/session.py
Due: black

Fix resource parsing error
  sdk/requirements.txt
Due: none
