Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: golangci-lint
        name: 'Linter for API'
        alias: golangci-lint-api
        files: '^api/'
        types: [go]
        language: system
        entry: bash -c 'cd api make lint'
      - id: golangci-lint
        name: 'Linter for the Router Engine'
        alias: golangci-lint-router
        files: '^engines/router/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/router make lint'
      - id: golangci-lint
        name: 'Linter for the Experiment Engine'
        alias: golangci-lint-experiment
        files: '^engines/experiment/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/experiment make lint'
  - repo: local
    hooks:
      - id: goimports
        name: 'Run goimports'
        alias: goimports
        files: '^[api/|engines/router/|engines/experiment/]'
        exclude: "pb.go"
        types: [go]
        language: system
        entry: goimports -w -local github.com/caraml-dev/turing
  - repo: local
    hooks:
      - id: prettier
        name: 'Prettier for UI'
        files: '^ui/'
        types_or: [javascript, css]
        language: system
        entry: bash -c 'cd ui && yarn lint'
  - repo: local
    hooks:
      - id: openapi-bundle
        name: 'OpenAPI Swagger Dist'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd api/api && make all'
  - repo: local
    hooks:
      - id: openapi-gen
        name: 'OpenAPI Python client'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd sdk && make gen-client'
  - repo: local
    hooks:
      - id: black
        name: 'Black formatter for the SDK'
        alias: black-sdk
        files: '^sdk/'
        types: [python]
        language: system
        entry: bash -c 'cd sdk && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Job Engine'
        alias: black-ensembler-job
        files: '^engines/pyfunc-ensembler-job/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-job && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Service Engine'
        alias: black-ensembler-service
        files: '^engines/pyfunc-ensembler-service/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Add stackdriver panel to logs tabs
  ui/src/components/pod_logs_viewer/PodLogsViewer.js
  ui/src/config.js
  ui/src/router/details/RouterDetailsView.js
  ui/src/router/details/logs/RouterLogsView.js
Due: prettier

Add missing stackdriver url util method
  ui/src/utils/createStackdriverUrl.js
Due: prettier

Upgrade UI deps
  ui/craco.config.js
  ui/package.json
  ui/yarn.lock
Due: prettier

Update node version
  .github/workflows/turing.yaml
Due: none

Add babel dev dependencies
  ui/package.json
Due: none

Update github actions
  .github/workflows/cluster-init.yaml
  .github/workflows/fluentd-plugin.yaml
  .github/workflows/helm-chart.yaml
  .github/workflows/pyfunc-ensembler-job.yaml
  .github/workflows/pyfunc-ensembler-service.yaml
  .github/workflows/sdk.yaml
  .github/workflows/turing-publish.yaml
  .github/workflows/turing.yaml
Due: none

Update yarn file
  ui/yarn.lock
Due: none

Update even more github actions
  .github/actions/setup-test-cluster/action.yaml
  .github/workflows/cluster-init.yaml
  .github/workflows/turing-publish.yaml
  .github/workflows/turing.yaml
Due: none

Downgrade sentry browser package
  ui/package.json
  ui/yarn.lock
Due: none

Add file ref to point the source of the code to Merlin
  ui/src/utils/createStackdriverUrl.js
Due: prettier

Remove leftover print statement
  ui/src/utils/createStackdriverUrl.js
Due: prettier

Fix difficult to read alignment of if conditions
  ui/src/router/details/logs/RouterLogsView.js
Due: prettier

Expose appConfigs allow utils to use them
  ui/src/config.js
  ui/src/router/details/logs/RouterLogsView.js
  ui/src/utils/createStackdriverUrl.js
Due: prettier

feat(ui): Add stackdriver links to logs tab (#383)
  ui/src/components/pod_logs_viewer/PodLogsViewer.js
  ui/src/config.js
  ui/src/router/details/RouterDetailsView.js
  ui/src/router/details/logs/RouterLogsView.js
  ui/src/utils/createStackdriverUrl.js
Due: prettier

Remove autoscaling regex pattern from openapi specs
  api/api/openapi.bundle.yaml
  api/api/specs/routers.yaml
Due: openapi-bundle, openapi-gen

Update autogenerated go middleware files
  api/turing/generated/model_big_query_dataset.go
  api/turing/generated/model_big_query_dataset_config.go
  api/turing/generated/model_big_query_sink.go
  api/turing/generated/model_big_query_sink_config.go
  api/turing/generated/model_dataset.go
  api/turing/generated/model_ensembler_config.go
  api/turing/generated/model_ensembler_config_kind.go
  api/turing/generated/model_ensembler_infra_config.go
  api/turing/generated/model_ensembling_job_ensembler_spec.go
  api/turing/generated/model_ensembling_job_ensembler_spec_result.go
  api/turing/generated/model_ensembling_job_meta.go
  api/turing/generated/model_ensembling_job_prediction_source.go
  api/turing/generated/model_ensembling_job_result_type.go
  api/turing/generated/model_ensembling_job_sink.go
  api/turing/generated/model_ensembling_job_source.go
  api/turing/generated/model_ensembling_job_spec.go
  api/turing/generated/model_ensembling_resources.go
  api/turing/generated/model_env_var.go
  api/turing/generated/model_save_mode.go
Due: golangci-lint, goimports

Update autogenerated python sdk files
  sdk/turing/generated/model/autoscaling_policy.py
Due: black

Update autoscaling policy target validation tag
  api/turing/models/autoscaling_policy.go
Due: golangci-lint, goimports

Update validator test
  api/turing/validation/validator_test.go
Due: golangci-lint, goimports

fix(api): Remove regex check for autoscaling target in autogenerated files (#385)
  api/api/openapi.bundle.yaml
  api/api/specs/routers.yaml
  api/turing/generated/model_big_query_dataset.go
  api/turing/generated/model_big_query_dataset_config.go
  api/turing/generated/model_big_query_sink.go
  api/turing/generated/model_big_query_sink_config.go
  api/turing/generated/model_dataset.go
  api/turing/generated/model_ensembler_config.go
  api/turing/generated/model_ensembler_config_kind.go
  api/turing/generated/model_ensembler_infra_config.go
  api/turing/generated/model_ensembling_job_ensembler_spec.go
  api/turing/generated/model_ensembling_job_ensembler_spec_result.go
  api/turing/generated/model_ensembling_job_meta.go
  api/turing/generated/model_ensembling_job_prediction_source.go
  api/turing/generated/model_ensembling_job_result_type.go
  api/turing/generated/model_ensembling_job_sink.go
  api/turing/generated/model_ensembling_job_source.go
  api/turing/generated/model_ensembling_job_spec.go
  api/turing/generated/model_ensembling_resources.go
  api/turing/generated/model_env_var.go
  api/turing/generated/model_save_mode.go
  api/turing/models/autoscaling_policy.go
  api/turing/validation/validator_test.go
  sdk/turing/generated/model/autoscaling_policy.py
Due: golangci-lint, goimports, openapi-bundle, openapi-gen, black

Add engines field in package.json
  ui/package.json
Due: none

Update k8s await workloads action
  .github/actions/setup-test-cluster/action.yaml
Due: none

Remove unused styles for standard exp engine config table
  ui/src/router/components/configuration/components/experiment_config_section/variables/VariablesConfigTable.scss
Due: none

Replace EuiLoadingContent with EuiSkeletonText
  ui/src/jobs/details/EnsemblingJobDetailsView.js
  ui/src/router/details/RouterDetailsView.js
  ui/src/router/versions/details/RouterVersionDetailsView.js
Due: prettier

Update github workflow publish step to use local github file definition
  .github/workflows/turing.yaml
Due: none

Remove deprecated hasActions prop
  ui/src/router/versions/list/ListRouterVersionsTable.js
Due: prettier

Downgrade eui package version
  ui/package.json
  ui/yarn.lock
Due: none

Add additional spacer to realign accordion title and icon
  ui/src/components/config_section/ConfigSectionTitle.js
Due: prettier

Update setup-python action in turing workflow
  .github/workflows/turing.yaml
Due: none

Remove helm-chart release workflow
  .github/workflows/helm-chart.yaml
  .github/workflows/turing.yaml
Due: none

Update cluster setup and publishing actions
  .github/actions/setup-test-cluster/action.yaml
  .github/workflows/cluster-init.yaml
  .github/workflows/fluentd-plugin.yaml
  .github/workflows/turing-publish.yaml
Due: none

Update imports from react-collapsed
  ui/src/components/collapsible_badge_group/CollapsibleBadgeGroup.js
  ui/src/components/expandable_container/ExpandableContainer.js
Due: prettier

Update artifact uploading action
  .github/actions/build-cluster-init/action.yaml
  .github/workflows/turing.yaml
Due: none

Update python caching in go actions
  .github/workflows/pyfunc-ensembler-job.yaml
  .github/workflows/pyfunc-ensembler-service.yaml
  .github/workflows/sdk.yaml
Due: none

Import queryString directly from package instead of individual functions
  ui/src/ensembler/list/ListEnsemblersView.js
  ui/src/jobs/list/ListEnsemblingJobsView.js
Due: prettier

Make setup-go optional for certain test-e2e test runs
  .github/workflows/turing.yaml
Due: none

Update turing github cicd file
  .github/workflows/turing.yaml
Due: none

Refactor EuiDescriptionList column width styles
  ui/src/jobs/details/config/configuration_section/resource_request_table/ResourceRequestConfigTable.js
  ui/src/jobs/details/config/source_config_section/bq_config_section/BigQueryDatasetSection.js
  ui/src/router/components/configuration/components/experiment_config_section/credentials/CredentialsConfigSection.js
  ui/src/router/components/configuration/components/experiment_config_section/variables/VariablesConfigTable.scss
Due: prettier

Update ensembler job and service workflows
  .github/workflows/pyfunc-ensembler-job.yaml
  .github/workflows/pyfunc-ensembler-service.yaml
Due: none
