Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

golangci-lint:
  name: Linter for the Experiment Engine
  alias: golangci-lint-experiment
  language: system
  entry: bash -c 'cd engines/experiment make lint'

goimports:
  name: Run goimports
  alias: goimports
  language: system
  entry: goimports -w -local github.com/caraml-dev/turing

prettier:
  name: Prettier for UI
  language: system
  entry: bash -c 'cd ui && yarn lint'

openapi-bundle:
  name: OpenAPI Swagger Dist
  language: system
  entry: bash -c 'cd api/api && make all'

openapi-gen:
  name: OpenAPI Python client
  language: system
  entry: bash -c 'cd sdk && make gen-client'

black:
  name: Black formatter for Pyfunc Ensembler Service Engine
  alias: black-ensembler-service
  language: system
  entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Remove all clusterConfig fields
  api/turing/cluster/controller.go
Due: golangci-lint, goimports

Test refactor WIP
  api/turing/api/routers_api_test.go
Due: golangci-lint, goimports

Add TestListRouterVersions test case
  api/Makefile
  api/go.mod
  api/go.sum
  api/turing/service/mock_service/router_monitoring_service.go
  api/turing/service/mock_service/router_versions_repository.go
  api/turing/service/mock_service/routers_repository.go
  api/turing/service/mocks/router_versions_repository.go
  api/turing/service/mocks/routers_repository.go
  api/turing/service/router_versions_service_test.go
Due: golangci-lint, goimports

Add integration tests for the repository
  api/turing/repository/router_versions_repository.go
  api/turing/repository/router_versions_repository_test.go
  api/turing/repository/routers_repository.go
  api/turing/repository/routers_repository_test.go
  api/turing/service/router_versions_service_test.go
Due: golangci-lint, goimports

Add Router Version Service test cases
  api/turing/service/mock_service/router_monitoring_service.go
  api/turing/service/mock_service/router_versions_repository.go
  api/turing/service/mock_service/routers_repository.go
  api/turing/service/mocks/router_versions_repository.go
  api/turing/service/mocks/routers_repository.go
  api/turing/service/router_versions_service.go
  api/turing/service/router_versions_service_test.go
Due: golangci-lint, goimports

Bump up Knative version in infra setup
  .github/workflows/cluster-init.yaml
  .github/workflows/turing.yaml
  infra/cluster-init/cleanup.sh
  infra/cluster-init/init.sh
Due: none

Fix infra version requirements in docs
  infra/charts/turing/README.md
  infra/charts/turing/README.md.gotmpl
  infra/charts/turing/subcharts/merlin/README.md
  infra/charts/turing/subcharts/mlp/README.md
Due: none

Update turing-init chart
  infra/charts/turing-init/Chart.yaml
  infra/charts/turing-init/README.md
  infra/charts/turing-init/values.yaml
Due: none

Update turing chart version
  infra/charts/turing/Chart.yaml
  infra/charts/turing/README.md
Due: none

update test
  engines/router/missionctl/server/upi/logutils_test.go
Due: golangci-lint, goimports

fix json formatting of logs proto (#304)
  engines/router/missionctl/server/upi/logutils.go
  engines/router/missionctl/server/upi/logutils_test.go
Due: golangci-lint, goimports

Update k3d image version and kubectl version
  .github/actions/run-cluster-init/action.yaml
  infra/cluster-init/Dockerfile
Due: none

Upgrade Knative Serving component to 1.7.4 (#305)
  .github/actions/run-cluster-init/action.yaml
  .github/workflows/cluster-init.yaml
  .github/workflows/turing.yaml
  infra/charts/turing-init/Chart.yaml
  infra/charts/turing-init/README.md
  infra/charts/turing-init/values.yaml
  infra/charts/turing/Chart.yaml
  infra/charts/turing/README.md
  infra/charts/turing/README.md.gotmpl
  infra/charts/turing/subcharts/merlin/README.md
  infra/charts/turing/subcharts/mlp/README.md
  infra/cluster-init/Dockerfile
  infra/cluster-init/cleanup.sh
  infra/cluster-init/init.sh
Due: none

Update docs
  infra/charts/turing/Chart.yaml
  infra/charts/turing/README.md
  infra/charts/turing/requirements.yaml
  infra/charts/turing/subcharts/merlin/requirements.yaml
  infra/charts/turing/subcharts/mlp/requirements.yaml
Due: none

Update dependencies
  infra/charts/turing/README.md
  infra/charts/turing/charts/merlin-0.7.1.tgz
  infra/charts/turing/charts/mlp-1.0.1.tgz
  infra/charts/turing/charts/postgresql-10.16.2.tgz
  infra/charts/turing/charts/postgresql-12.1.9.tgz
  infra/charts/turing/requirements.lock
  infra/charts/turing/subcharts/merlin/README.md
  infra/charts/turing/subcharts/merlin/charts/postgresql-10.16.2.tgz
  infra/charts/turing/subcharts/merlin/charts/postgresql-12.1.9.tgz
  infra/charts/turing/subcharts/merlin/requirements.lock
  infra/charts/turing/subcharts/merlin/values.yaml
  infra/charts/turing/subcharts/mlp/README.md
  infra/charts/turing/subcharts/mlp/charts/postgresql-10.16.2.tgz
  infra/charts/turing/subcharts/mlp/charts/postgresql-12.1.9.tgz
  infra/charts/turing/subcharts/mlp/requirements.lock
  infra/charts/turing/subcharts/mlp/values.yaml
  infra/charts/turing/values.yaml
Due: none

Update SDK authentication
  sdk/tests/fixtures/mlflow.py
  sdk/turing/session.py
Due: black

Get namespace report
  .github/actions/setup-test-cluster/action.yaml
Due: none

Fix formatting in GitHub action def
  .github/actions/setup-test-cluster/action.yaml
Due: none

Update SDK authentication (#307)
  sdk/tests/fixtures/mlflow.py
  sdk/turing/session.py
Due: black

Refactor Tests
  .golangci.yml
  api/turing/api/router_versions_api.go
  api/turing/api/router_versions_api_test.go
  api/turing/api/routers_api.go
  api/turing/service/deployment_service.go
  api/turing/service/deployment_service_test.go
  api/turing/service/mock_service/router_versions_repository.go
  api/turing/service/mock_service/routers_repository.go
  api/turing/service/mocks/router_versions_service.go
  api/turing/service/router_versions_service.go
  api/turing/service/router_versions_service_test.go
Due: golangci-lint, goimports

Upgrade go playground validator version
  api/e2e/test/config/config.go
  api/go.mod
Due: golangci-lint, goimports

Add check to throw an error when a router with a std ensembler is used with an nop exp engine
  api/turing/validation/validator.go
  api/turing/validation/validator_test.go
Due: golangci-lint, goimports

Fix broken unit tests
  api/turing/validation/validator_test.go
Due: golangci-lint, goimports

Removed empty line
  api/turing/api/appcontext.go
Due: golangci-lint, goimports

Fix excessive line length
  api/turing/validation/validator_test.go
Due: golangci-lint, goimports

Fix cyclomatic complexity lint error by creating a new helper method
  api/turing/validation/validator.go
Due: golangci-lint, goimports

Add gke-gcloud-auth-plugin to dockerfile
  api/Dockerfile
Due: none

Flip std ensembler and nop exp engine check and error message
  api/turing/validation/validator.go
  api/turing/validation/validator_test.go
Due: golangci-lint, goimports

Bugfix: Throw error when a router is created with an nop exp engine and a standard ensembler (#309)
  api/e2e/test/config/config.go
  api/go.mod
  api/turing/validation/validator.go
  api/turing/validation/validator_test.go
Due: golangci-lint, goimports

Add plugin monitoring by pinging it async
  engines/router/missionctl/experiment/experiment.go
  engines/router/missionctl/fiberapi/routing_policies.go
Due: golangci-lint, goimports

Fix unit tests
  engines/router/missionctl/experiment/experiment_test.go
  engines/router/missionctl/fiberapi/fan_in_test.go
  engines/router/missionctl/fiberapi/routing_strategy_test.go
Due: golangci-lint, goimports

Fix lint comment
  engines/router/missionctl/experiment/experiment.go
Due: golangci-lint, goimports

Remove redundant commented out code
  engines/router/missionctl/fiberapi/routing_policies.go
Due: golangci-lint, goimports

Make API pass liveness period seconds to router
  api/turing/cluster/servicebuilder/router.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/testdata/config-2.yaml
  engines/router/missionctl/experiment/experiment.go
  infra/charts/turing/templates/_helpers.tpl
Due: golangci-lint, goimports

Fix unit tests
  api/turing/testdata/cluster/servicebuilder/router_configmap_exp_engine.yml
  api/turing/testdata/cluster/servicebuilder/router_version_success_experiment_engine.json
Due: none

Add livenessPeriodSeconds to helm chart values
  infra/e2e/turing.values.yaml
Due: none

Remove redundant debugging line
  engines/router/missionctl/experiment/experiment.go
Due: golangci-lint, goimports

Fix Db configs in chart
  .github/actions/setup-test-cluster/action.yaml
  .github/workflows/turing.yaml
  infra/charts/turing/README.md
  infra/charts/turing/charts/merlin-0.7.1.tgz
  infra/charts/turing/charts/mlp-1.0.1.tgz
  infra/charts/turing/subcharts/merlin/README.md
  infra/charts/turing/subcharts/merlin/templates/_helpers.tpl
  infra/charts/turing/subcharts/merlin/templates/deployment.yaml
  infra/charts/turing/subcharts/merlin/templates/initialization-mlflow-db.yaml
  infra/charts/turing/subcharts/merlin/values.yaml
  infra/charts/turing/subcharts/mlp/README.md
  infra/charts/turing/subcharts/mlp/templates/deployment.yaml
  infra/charts/turing/subcharts/mlp/values.yaml
  infra/charts/turing/templates/_helpers.tpl
  infra/charts/turing/values.minimal.yaml
  infra/charts/turing/values.yaml
Due: none

Clean up Github Workflow
  .github/actions/setup-test-cluster/action.yaml
  .github/workflows/turing.yaml
Due: none

Fix comments in chart values files
  infra/charts/turing/README.md
  infra/charts/turing/charts/merlin-0.7.1.tgz
  infra/charts/turing/charts/mlp-1.0.1.tgz
  infra/charts/turing/values.yaml
Due: none

Path conditions:
  golangci-lint: ((any of: ^api/ and \.go$) or (any of: ^engines/router/ and \.go$)) or (any of: ^engines/experiment/ and \.go$)
  goimports: any of: ^[api/|engines/router/|engines/experiment/] and \.go$ and not (pb.go)
  prettier: any of: ^ui/ and \.(js|mjs|cjs)$, \.css$
  openapi-bundle: any of: ^api/api/specs/
  openapi-gen: any of: ^api/api/specs/
  black: ((any of: ^sdk/ and \.py$) or (any of: ^engines/pyfunc-ensembler-job/ and \.py$)) or (any of: ^engines/pyfunc-ensembler-service/ and \.py$)
