Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

golangci-lint:
  name: Linter for the Experiment Engine
  alias: golangci-lint-experiment
  language: system
  entry: bash -c 'cd engines/experiment make lint'

goimports:
  name: Run goimports
  alias: goimports
  language: system
  entry: goimports -w -local github.com/caraml-dev/turing

prettier:
  name: Prettier for UI
  language: system
  entry: bash -c 'cd ui && yarn lint'

openapi-bundle:
  name: OpenAPI Swagger Dist
  language: system
  entry: bash -c 'cd api/api && make all'

openapi-gen:
  name: OpenAPI Python client
  language: system
  entry: bash -c 'cd sdk && make gen-client'

black:
  name: Black formatter for Pyfunc Ensembler Service Engine
  alias: black-ensembler-service
  language: system
  entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Fix unit tests
  sdk/tests/router/config/router_version_test.py
Due: black

Pin pytest versions
  engines/pyfunc-ensembler-service/requirements.dev.txt
  sdk/requirements.dev.txt
Due: none

Add additional existence check before removing passkeys
  sdk/tests/router/config/router_version_test.py
  sdk/turing/router/config/router_config.py
Due: black

Add comment to describe rationale behind setting experiment engine passkey value to none
  sdk/turing/router/config/router_config.py
Due: black

fix(sdk): Remove exp engine passkey when retrieving routers from the API server (#377)
  engines/pyfunc-ensembler-service/requirements.dev.txt
  sdk/requirements.dev.txt
  sdk/tests/router/config/router_version_test.py
  sdk/turing/router/config/router_config.py
Due: black

Revert turing/version.py
  sdk/turing/version.py
Due: black

Update api test
  api/turing/api/ensembler_images_api.go
  api/turing/api/ensembler_images_api_test.go
  api/turing/imagebuilder/imagebuilder.go
  api/turing/service/ensembler_image_service.go
  api/turing/service/ensembler_image_service_test.go
  api/turing/service/mocks/alert_service.go
  api/turing/service/mocks/crypto_service.go
  api/turing/service/mocks/ensembler_images_service.go
  api/turing/service/mocks/ensemblers_service.go
  api/turing/service/mocks/ensembling_job_service.go
  api/turing/service/mocks/event_service.go
  api/turing/service/mocks/experiments_service.go
  api/turing/service/mocks/mlp_service.go
  api/turing/service/mocks/pod_log_service.go
  api/turing/service/mocks/router_monitoring_service.go
  api/turing/service/mocks/router_versions_service.go
  api/turing/service/mocks/routers_service.go
  api/turing/service/mocks/u_func.go
Due: golangci-lint, goimports

Fix lint api
  api/turing/api/ensembler_images_api_test.go
Due: golangci-lint, goimports

Refactor JobState to string
  api/turing/api/ensembler_images_api.go
  api/turing/imagebuilder/imagebuilder.go
Due: golangci-lint, goimports

Refactor JobState to string (#379)
  api/turing/api/ensembler_images_api.go
  api/turing/imagebuilder/imagebuilder.go
Due: golangci-lint, goimports

Allow setting of autoscaling targets on the ui without constraints on number of decimal places
  ui/src/router/components/form/components/autoscaling_policy/AutoscalingPolicyPanel.js
  ui/src/router/components/form/validation/schema.js
  ui/src/services/version/RouterVersion.js
Due: prettier

Add parsing of autoscaling targets to int for cpu and rps
  api/turing/cluster/knative_service.go
  api/turing/cluster/knative_service_test.go
Due: golangci-lint, goimports

Update min and step size for autoscaling target field
  ui/src/router/components/form/components/autoscaling_policy/AutoscalingPolicyPanel.js
Due: prettier

Update unit tests and error messages
  api/turing/cluster/knative_service.go
  api/turing/cluster/knative_service_test.go
Due: golangci-lint, goimports

fix(api,ui): Fix autoscaling target parsing (#380)
  api/turing/cluster/knative_service.go
  api/turing/cluster/knative_service_test.go
  ui/src/router/components/form/components/autoscaling_policy/AutoscalingPolicyPanel.js
  ui/src/router/components/form/validation/schema.js
  ui/src/services/version/RouterVersion.js
Due: golangci-lint, goimports, prettier

Update swagger docs
  api/api/openapi.bundle.yaml
  api/api/specs/routers.yaml
Due: openapi-bundle, openapi-gen

Update sdk autogenerated openapi classes
  sdk/turing/generated/model/resource_request.py
Due: black

Refactor knativeServiceConfig and make it an attribute of the service builder
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/cluster/servicebuilder/service_builder_test.go
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint, goimports

Add cpu limit to resource requests and refactor knative service struct
  api/turing/cluster/knative_service.go
  api/turing/cluster/knative_service_test.go
  api/turing/cluster/kubernetes_service.go
  api/turing/cluster/models.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/cluster/servicebuilder/service_builder_test.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/testdata/config-1.yaml
  api/turing/models/resource_request.go
  api/turing/models/resource_request_test.go
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint, goimports

Simplify diff reporting steps in unit test helper function
  api/turing/internal/testutils/validation.go
Due: golangci-lint, goimports

Fix k8s service unit test
  api/turing/cluster/kubernetes_service_test.go
Due: golangci-lint, goimports

Refactor how cpu and memory limits are set for fluentd stateful set
  api/turing/cluster/kubernetes_service.go
  api/turing/cluster/servicebuilder/fluentd.go
  api/turing/cluster/servicebuilder/fluentd_test.go
Due: golangci-lint, goimports

Simplify if else-block in cpu limit helper function
  api/turing/cluster/servicebuilder/service_builder.go
Due: golangci-lint, goimports

Update openapi specs
  api/api/openapi.bundle.yaml
  api/api/specs/routers.yaml
Due: openapi-bundle, openapi-gen

Update python unit tests
  sdk/tests/conftest.py
  sdk/tests/router/config/router_ensembler_config_test.py
  sdk/turing/generated/model/resource_request.py
  sdk/turing/router/config/resource_request.py
Due: black

Add cpu limit form group component
  ui/src/router/components/configuration/components/ResourcesConfigTable.js
  ui/src/router/components/form/components/CPULimitsFormGroup.js
  ui/src/router/components/form/components/ResourcesPanel.js
  ui/src/router/components/form/validation/schema.js
  ui/src/services/ensembler/DockerEnsembler.js
  ui/src/services/ensembler/PyFuncEnsembler.js
  ui/src/services/router/TuringRouter.js
Due: prettier

Refactor cpu limit as nullable field
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/models/resource_request.go
  api/turing/models/resource_request_test.go
Due: golangci-lint, goimports

Add default values for cpu limit in all router components
  ui/src/router/components/configuration/components/ResourcesConfigTable.js
  ui/src/router/components/form/components/CPULimitsFormGroup.js
  ui/src/services/ensembler/DockerEnsembler.js
  ui/src/services/ensembler/PyFuncEnsembler.js
  ui/src/services/router/TuringRouter.js
Due: prettier

Fix tooltip description
  ui/src/router/components/form/components/CPULimitsFormGroup.js
Due: prettier

Rename cpu limit section
  ui/src/router/components/form/components/CPULimitsFormGroup.js
Due: prettier

Update docs
  docs/.gitbook/assets/pyfunc_ensembler_config.png
  docs/.gitbook/assets/resources_panel.png
  docs/how-to/create-a-router/configure-enricher.md
  docs/how-to/create-a-router/configure-ensembler.md
Due: none

Replace env var append function with merge with replace function
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/service_builder.go
Due: golangci-lint, goimports

Add codecov config file that adds a threshold to allow random code coverage decreases
  .github/workflows/codecov-config/codecov.yml
  .github/workflows/sdk.yaml
  .github/workflows/turing.yaml
Due: none

Replace outdated comment with more detailed on describing the flow of setting resource requirement values
  api/turing/cluster/models.go
Due: golangci-lint, goimports

Simplify if/else conditions in getCPULimit
  api/turing/cluster/servicebuilder/service_builder.go
Due: golangci-lint, goimports

feat(api,ui,sdk): Make CPU limits configurable (#381)
  .github/workflows/codecov-config/codecov.yml
  .github/workflows/sdk.yaml
  .github/workflows/turing.yaml
  api/api/openapi.bundle.yaml
  api/api/specs/routers.yaml
  api/turing/cluster/knative_service.go
  api/turing/cluster/knative_service_test.go
  api/turing/cluster/kubernetes_service.go
  api/turing/cluster/kubernetes_service_test.go
  api/turing/cluster/models.go
  api/turing/cluster/servicebuilder/fluentd.go
  api/turing/cluster/servicebuilder/fluentd_test.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/cluster/servicebuilder/service_builder_test.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/testdata/config-1.yaml
  api/turing/internal/testutils/validation.go
  api/turing/models/resource_request.go
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
  docs/.gitbook/assets/pyfunc_ensembler_config.png
  docs/.gitbook/assets/resources_panel.png
  docs/how-to/create-a-router/configure-enricher.md
  docs/how-to/create-a-router/configure-ensembler.md
  sdk/tests/conftest.py
  sdk/tests/router/config/router_ensembler_config_test.py
  sdk/turing/generated/model/resource_request.py
  sdk/turing/router/config/resource_request.py
  ui/src/router/components/configuration/components/ResourcesConfigTable.js
  ui/src/router/components/form/components/CPULimitsFormGroup.js
  ui/src/router/components/form/components/ResourcesPanel.js
  ui/src/router/components/form/validation/schema.js
  ui/src/services/ensembler/DockerEnsembler.js
  ui/src/services/ensembler/PyFuncEnsembler.js
  ui/src/services/router/TuringRouter.js
Due: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

Move ensembler deletion logic to ensembler tojson method
  ui/src/services/ensembler/Ensembler.js
  ui/src/services/router/TuringRouter.js
Due: prettier

Move ensembler deletion logic to ensembler tojson method (#382)
  ui/src/services/ensembler/Ensembler.js
  ui/src/services/router/TuringRouter.js
Due: prettier

Path conditions:
  golangci-lint: ((any of: ^api/ and \.go$) or (any of: ^engines/router/ and \.go$)) or (any of: ^engines/experiment/ and \.go$)
  goimports: any of: ^[api/|engines/router/|engines/experiment/] and \.go$ and not (pb.go)
  prettier: any of: ^ui/ and \.(js|mjs|cjs)$, \.css$
  openapi-bundle: any of: ^api/api/specs/
  openapi-gen: any of: ^api/api/specs/
  black: ((any of: ^sdk/ and \.py$) or (any of: ^engines/pyfunc-ensembler-job/ and \.py$)) or (any of: ^engines/pyfunc-ensembler-service/ and \.py$)
