Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: golangci-lint
        name: 'Linter for API'
        alias: golangci-lint-api
        files: '^api/'
        types: [go]
        language: system
        entry: bash -c 'cd api make lint'
      - id: golangci-lint
        name: 'Linter for the Router Engine'
        alias: golangci-lint-router
        files: '^engines/router/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/router make lint'
      - id: golangci-lint
        name: 'Linter for the Experiment Engine'
        alias: golangci-lint-experiment
        files: '^engines/experiment/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/experiment make lint'
  - repo: local
    hooks:
      - id: goimports
        name: 'Run goimports'
        alias: goimports
        files: '^[api/|engines/router/|engines/experiment/]'
        exclude: "pb.go"
        types: [go]
        language: system
        entry: goimports -w -local github.com/caraml-dev/turing
  - repo: local
    hooks:
      - id: prettier
        name: 'Prettier for UI'
        files: '^ui/'
        types_or: [javascript, css]
        language: system
        entry: bash -c 'cd ui && yarn lint'
  - repo: local
    hooks:
      - id: openapi-bundle
        name: 'OpenAPI Swagger Dist'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd api/api && make all'
  - repo: local
    hooks:
      - id: openapi-gen
        name: 'OpenAPI Python client'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd sdk && make gen-client'
  - repo: local
    hooks:
      - id: black
        name: 'Black formatter for the SDK'
        alias: black-sdk
        files: '^sdk/'
        types: [python]
        language: system
        entry: bash -c 'cd sdk && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Job Engine'
        alias: black-ensembler-job
        files: '^engines/pyfunc-ensembler-job/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-job && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Service Engine'
        alias: black-ensembler-service
        files: '^engines/pyfunc-ensembler-service/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

feat: deletion API
  api/turing/api/ensemblers_api.go
Due: golangci-lint, goimports

refactor: update ensembler
  api/turing/api/ensemblers_api.go
Due: golangci-lint, goimports

refactor: remove unused line
  api/turing/service/ensembler_service.go
Due: golangci-lint, goimports

feat: router version endpoint for ensembler
  api/api/openapi.bundle.yaml
  api/api/openapi.yaml
  api/api/specs/routers.yaml
  api/turing/api/routers_api.go
  api/turing/service/mocks/router_versions_service.go
  api/turing/service/router_version_service.go
Due: golangci-lint, goimports, openapi-bundle, openapi-gen

refactor: ui action alignment
  ui/src/ensembler/list/ListEnsemblersTable.js
  ui/src/jobs/list/ListEnsemblingJobsTable.js
Due: prettier

refactor: delete ensembler handler for router and job
  api/turing/api/ensemblers_api.go
  api/turing/api/ensembling_job_api.go
  api/turing/service/router_version_service.go
Due: golangci-lint, goimports

refactor: update mock file
  api/turing/service/mocks/router_versions_service.go
Due: golangci-lint, goimports

fix: depedencies
  ui/src/ensembler/components/modal/DeleteEnsemblerModal.js
  ui/src/jobs/components/modal/DeleteJobModal.js
Due: prettier

refactor: delete ensembler handler for router and job
  api/turing/api/ensemblers_api.go
Due: golangci-lint, goimports

feat: router version endpoint for ensembler
  api/turing/service/mocks/router_versions_service.go
Due: golangci-lint, goimports

refactor: go depedencies
  api/go.mod
Due: none

refactor: mlp depedencies
  ui/src/ensembler/components/modal/DeleteEnsemblerModal.js
  ui/src/jobs/components/modal/DeleteJobModal.js
Due: prettier

refactor: move func to router version from router
  api/turing/api/router_versions_api.go
  api/turing/api/routers_api.go
  api/turing/service/router_version_service.go
Due: golangci-lint, goimports

feat: add router version for ensembler API
  api/api/openapi-sdk.yaml
  api/api/openapi.bundle.yaml
  api/api/specs/routers.yaml
  sdk/turing/generated/api/router_api.py
Due: openapi-bundle, openapi-gen, black

feat: unit test for delete and update ensembler
  api/go.mod
  api/go.sum
  api/turing/api/appcontext.go
  api/turing/api/appcontext_test.go
  api/turing/api/ensemblers_api.go
  api/turing/api/ensemblers_api_test.go
Due: golangci-lint, goimports

refactor: change usage of mlflow delete package
  api/go.mod
  api/turing/api/ensemblers_api.go
Due: golangci-lint, goimports

refactor: fix linter issue
  api/turing/api/ensemblers_api.go
Due: golangci-lint, goimports

refactor: handling ensembler failed to delete popup
  ui/src/components/confirmation_modal/ConfirmationModal.js
  ui/src/ensembler/components/modal/DeleteEnsemblerModal.js
  ui/src/ensembler/components/table/ListEnsemblingJobsForEnsemblerTable.js
  ui/src/ensembler/components/table/ListRouterVersionsForEnsemblerTable.js
Due: prettier

refactor: variable name and data convertion
  api/turing/api/ensemblers_api.go
Due: golangci-lint, goimports

feat: sdk unit test
  sdk/tests/ensembler_test.py
  sdk/turing/ensembler.py
Due: black

refactor: unit-test
  api/turing/api/ensemblers_api_test.go
Due: golangci-lint, goimports

feat: popup changes
  ui/src/components/confirmation_modal/ConfirmationModal.js
  ui/src/components/confirmation_modal/ConfirmationModal.scss
  ui/src/ensembler/components/modal/DeleteEnsemblerModal.js
  ui/src/ensembler/components/table/ListEnsemblingJobsForEnsemblerTable.js
  ui/src/ensembler/components/table/ListRouterVersionsForEnsemblerTable.js
Due: prettier

feat: update constraint sdk
  sdk/turing/batch/job.py
  sdk/turing/ensembler.py
  sdk/turing/router/router.py
  sdk/turing/session.py
Due: black

Fix missing dependency
  ui/src/jobs/list/ListEnsemblingJobsTable.js
Due: prettier

refactor: styling alignment, add column
  ui/src/ensembler/components/table/ListRouterVersionsForEnsemblerTable.js
  ui/src/ensembler/list/ListEnsemblersTable.js
  ui/src/jobs/list/ListEnsemblingJobsTable.js
Due: prettier

refactor: linter issue
  api/turing/api/ensemblers_api_test.go
Due: golangci-lint, goimports

feat: clickable row, open related entity on new tab
  ui/src/ensembler/components/table/ListEnsemblingJobsForEnsemblerTable.js
  ui/src/ensembler/components/table/ListRouterVersionsForEnsemblerTable.js
Due: prettier

feat: additional message and textbox confirmation page
  ui/src/ensembler/components/modal/DeleteEnsemblerModal.js
Due: prettier

refactor: resolve comment
  api/turing/api/ensemblers_api.go
  api/turing/api/ensemblers_api_test.go
  api/turing/api/router_versions_api.go
Due: golangci-lint, goimports

refactor: change unit test expected
  sdk/tests/ensembler_test.py
Due: black

refactor: edit button to delete
  ui/src/jobs/components/modal/DeleteJobModal.js
  ui/src/jobs/list/ListEnsemblingJobsTable.js
Due: prettier

refactor: better error handling
  api/turing/api/ensemblers_api.go
  api/turing/api/ensemblers_api_test.go
  sdk/turing/ensembler.py
Due: golangci-lint, goimports, black

refactor: change route from path to query
  api/api/openapi-sdk.yaml
  api/api/openapi.bundle.yaml
  api/api/openapi.yaml
  api/api/specs/ensemblers.yaml
  api/api/specs/routers.yaml
  api/turing/api/ensemblers_api.go
  api/turing/api/ensemblers_api_test.go
  api/turing/api/router_versions_api.go
  api/turing/service/mocks/router_versions_service.go
  api/turing/service/router_version_service.go
  sdk/turing/generated/api/router_api.py
  ui/src/ensembler/components/table/ListRouterVersionsForEnsemblerTable.js
Due: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

feat: update name only and update depedencies
  api/go.mod
  api/go.sum
  api/turing/api/ensemblers_api.go
Due: golangci-lint, goimports

feat: confirmation textbox in delete ensembling job
  ui/src/jobs/components/modal/DeleteJobModal.js
Due: prettier

refactor: change function name
  api/api/openapi.bundle.yaml
  api/api/specs/routers.yaml
  api/turing/api/ensemblers_api.go
  api/turing/api/ensemblers_api_test.go
  api/turing/api/router_versions_api.go
  api/turing/service/mocks/router_versions_service.go
  api/turing/service/router_version_service.go
  sdk/turing/ensembler.py
  sdk/turing/generated/api/router_api.py
  sdk/turing/router/router.py
  sdk/turing/session.py
Due: golangci-lint, goimports, openapi-bundle, openapi-gen, black

refactor: explanation comment
  api/turing/api/ensemblers_api.go
  api/turing/api/ensemblers_api_test.go
Due: golangci-lint, goimports

refactor: sdk changes
  api/api/openapi.bundle.yaml
  api/api/specs/routers.yaml
  sdk/tests/ensembler_test.py
  sdk/turing/generated/api/router_api.py
  sdk/turing/session.py
Due: openapi-bundle, openapi-gen, black

refactor: ui
  ui/src/ensembler/components/modal/DeleteEnsemblerModal.js
  ui/src/ensembler/components/table/ListEnsemblingJobsForEnsemblerTable.js
  ui/src/ensembler/components/table/ListRouterVersionsForEnsemblerTable.js
Due: prettier
