Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, prettier, openapi-bundle, openapi-gen, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.11.0
    hooks:
      - id: helm-docs-built
        name: 'Helm Docs for Turing Chart'
        files: '^infra/charts/turing/'
        args:
          - --chart-search-root=infra/charts/turing
          - --template-files=./README.md.gotmpl
      - id: helm-docs-built
        name: 'Helm Docs for Turing Init Chart'
        files: '^infra/charts/turing-init/'
        args:
          - --chart-search-root=infra/charts/turing-init
          - --template-files=./README.md.gotmpl
  - repo: local
    hooks:
      - id: golangci-lint
        name: 'Linter for API'
        alias: golangci-lint-api
        files: '^api/'
        types: [go]
        language: system
        entry: bash -c 'cd api make lint'
      - id: golangci-lint
        name: 'Linter for the Router Engine'
        alias: golangci-lint-router
        files: '^engines/router/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/router make lint'
      - id: golangci-lint
        name: 'Linter for the Experiment Engine'
        alias: golangci-lint-experiment
        files: '^engines/experiment/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/experiment make lint'
  - repo: local
    hooks:
      - id: prettier
        name: 'Prettier for UI'
        files: '^ui/'
        types_or: [javascript, css]
        language: system
        entry: bash -c 'cd ui && yarn lint'
  - repo: local
    hooks:
      - id: openapi-bundle
        name: 'OpenAPI Swagger Dist'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd api/api && make all'
  - repo: local
    hooks:
      - id: openapi-gen
        name: 'OpenAPI Python client'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd sdk && make gen-client'
  - repo: local
    hooks:
      - id: black
        name: 'Black formatter for the SDK'
        alias: black-sdk
        files: '^sdk/'
        types: [python]
        language: system
        entry: bash -c 'cd sdk && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Job Engine'
        alias: black-ensembler-job
        files: '^engines/pyfunc-ensembler-job/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-job && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Service Engine'
        alias: black-ensembler-service
        files: '^engines/pyfunc-ensembler-service/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

shifting logic between grpc and mission control grpc. added mc grpc test
  engines/router/go.mod
  engines/router/missionctl/internal/mocks/FiberComponent.go
  engines/router/missionctl/mission_control_grpc.go
  engines/router/missionctl/mission_control_grpc_test.go
  engines/router/missionctl/server/application.go
  engines/router/missionctl/server/grpc/server.go
  engines/router/missionctl/server/grpc/server_test.go
Due: golangci-lint

add test for metrics and grpc server
  engines/router/missionctl/instrumentation/metrics/metrics_test.go
  engines/router/missionctl/server/grpc/server.go
  engines/router/missionctl/server/grpc/server_test.go
Due: golangci-lint

add mock and fix metrics test
  engines/router/missionctl/instrumentation/metrics/metrics_test.go
  engines/router/missionctl/internal/mocks/MissionControlUPI.go
Due: golangci-lint

add log test
  engines/router/missionctl/server/grpc/logutils.go
  engines/router/missionctl/server/grpc/logutils_test.go
  engines/router/missionctl/server/http/handlers/logutils_test.go
Due: golangci-lint

add benchmarking to upi
  engines/router/missionctl/internal/testutils/grpc_server.go
  engines/router/missionctl/mission_control_grpc_test.go
  engines/router/missionctl/mission_control_test.go
  engines/router/missionctl/testdata/grpc/grpc_router_minimal_two_route.yaml
  engines/router/missionctl/testdata/upi_large_payload.json
  engines/router/missionctl/testdata/upi_small_payload.json
Due: golangci-lint

update interceptor as error response are not proto message
  engines/router/missionctl/fiberapi/interceptors.go
  engines/router/missionctl/mission_control_grpc_test.go
Due: golangci-lint

fix typo in benchmark payload
  engines/router/missionctl/testdata/upi_large_payload.json
Due: none

remove upi payload in http
  engines/router/missionctl/mission_control_test.go
Due: golangci-lint

refactor bencharmk, remove stopping of server
  engines/router/missionctl/mission_control_grpc_test.go
  engines/router/missionctl/mission_control_test.go
Due: golangci-lint

add upi large payload for http
  engines/router/missionctl/mission_control_test.go
Due: golangci-lint

removing upi payload for http missioncontrol as its similar to the existing payload test result
  engines/router/missionctl/mission_control_test.go
Due: golangci-lint

Update DB scripts
  api/db-migrations/000013_add_default_traffic_rule.down.sql
  api/db-migrations/000013_add_default_traffic_rule.up.sql
Due: none

reverting workflow as not pointing to fork anymore
  .github/workflows/turing.yaml
Due: none

fix yaml indent
  .github/workflows/turing.yaml
Due: none

fix wrong yaml revert
  .github/workflows/turing.yaml
Due: none

renaming of grpc to upi and addition of protocol in config
  engines/router/missionctl/config/config.go
  engines/router/missionctl/mission_control_upi.go
  engines/router/missionctl/mission_control_upi_test.go
  engines/router/missionctl/server/application.go
Due: golangci-lint

Add grpc metadata transmission from fiber endpoint back to client
  engines/router/missionctl/mission_control_upi.go
  engines/router/missionctl/mission_control_upi_test.go
  engines/router/missionctl/server/application.go
  engines/router/missionctl/server/grpc/server.go
Due: golangci-lint

update upi proto and benchmark plain grpc gen client
  engines/router/go.mod
  engines/router/go.sum
  engines/router/missionctl/internal/testutils/grpc_server.go
  engines/router/missionctl/mission_control_upi_test.go
  engines/router/missionctl/testdata/upi_large_payload.json
  engines/router/missionctl/testdata/upi_small_payload.json
Due: golangci-lint

add mock for transport stream for grpc unit test to work with sending header
  engines/router/missionctl/internal/mocks/ServerTransportStream.go
  engines/router/missionctl/mission_control_upi.go
  engines/router/missionctl/mission_control_upi_test.go
Due: golangci-lint

update readme
  engines/router/README.md
Due: none

Use original routes table
  api/db-migrations/000013_add_default_traffic_rule.down.sql
  api/db-migrations/000013_add_default_traffic_rule.up.sql
Due: none

Minor fixes with null default traffic rule storage
  sdk/samples/router/general.py
  ui/src/router/components/form/validation/schema.js
  ui/src/services/router/TuringRouter.js
Due: prettier, black

Compare length instead of except in down query
  api/db-migrations/000013_add_default_traffic_rule.down.sql
Due: none

Address PR comments
  sdk/tests/router/config/autoscaling_policy_test.py
  sdk/turing/router/config/autoscaling_policy.py
  sdk/turing/router/config/router_ensembler_config.py
Due: black

Rename migration file sequence
  api/db-migrations/000014_autoscaling_policy.down.sql
  api/db-migrations/000014_autoscaling_policy.up.sql
Due: none

Fix incorrect merge from main
  api/turing/validation/validator_test.go
Due: golangci-lint

refactoring base on PR comments
  engines/router/missionctl/config/config.go
  engines/router/missionctl/config/config_test.go
  engines/router/missionctl/errors/errors.go
  engines/router/missionctl/errors/errors_test.go
  engines/router/missionctl/fiberapi/fan_in.go
  engines/router/missionctl/fiberapi/utils.go
  engines/router/missionctl/instrumentation/metrics/metrics.go
  engines/router/missionctl/instrumentation/metrics/metrics_test.go
  engines/router/missionctl/log/resultlog/fluentd.go
  engines/router/missionctl/log/resultlog/kafka.go
  engines/router/missionctl/mission_control.go
  engines/router/missionctl/mission_control_upi.go
  engines/router/missionctl/server/application.go
  engines/router/missionctl/server/http/handlers/batch_http_handler.go
  engines/router/missionctl/server/http/handlers/http_handler.go
  engines/router/missionctl/server/http/handlers/http_handler_test.go
  engines/router/missionctl/server/http/handlers/logutils_test.go
  engines/router/missionctl/server/upi/logutils.go
  engines/router/missionctl/server/upi/logutils_test.go
  engines/router/missionctl/server/upi/server.go
  engines/router/missionctl/server/upi/server_test.go
Due: golangci-lint

refactoring base on PR comments
  engines/router/missionctl/server/constant/constant.go
Due: golangci-lint

Update the documentation for the autoscaling metrics
  ui/src/router/components/form/components/autoscaling_policy/AutoscalingPolicyPanelFlyout.js
  ui/src/router/components/form/components/autoscaling_policy/typeOptions.js
Due: prettier

[UI] Expose user-configurable autoscaling parameters (#236)
  docs/.gitbook/assets/autoscaling_policy_panel.png
  docs/.gitbook/assets/view_router_with_traffic_rules.png
  docs/how-to/create-a-router/configure-autoscaling.md
  docs/how-to/create-a-router/configure-enricher.md
  docs/how-to/create-a-router/configure-ensembler.md
  ui/src/components/form/docker_image_combo_box/DockerRegistryPopover.js
  ui/src/components/page_navigation/PageNavigation.js
  ui/src/router/components/configuration/components/ResourcesConfigTable.js
  ui/src/router/components/configuration/components/RouterConfigSection.js
  ui/src/router/components/configuration/components/docker_config_section/DockerConfigViewGroup.js
  ui/src/router/components/configuration/components/pyfunc_config_section/PyFuncConfigViewGroup.js
  ui/src/router/components/form/components/autoscaling_policy/AutoscalingPolicyPanel.js
  ui/src/router/components/form/components/autoscaling_policy/AutoscalingPolicyPanelFlyout.js
  ui/src/router/components/form/components/autoscaling_policy/typeOptions.js
  ui/src/router/components/form/components/docker_config/DockerConfigFormGroup.js
  ui/src/router/components/form/components/pyfunc_config/PyFuncConfigFormGroup.js
  ui/src/router/components/form/components/router_config/RulesPanel.js
  ui/src/router/components/form/steps/EnricherStep.js
  ui/src/router/components/form/steps/RouterStep.js
  ui/src/router/components/form/validation/schema.js
  ui/src/services/ensembler/DockerEnsembler.js
  ui/src/services/ensembler/PyFuncEnsembler.js
  ui/src/services/router/TuringRouter.js
  ui/src/services/version/RouterVersion.js
Due: prettier

create utilty to generate proto for benchmark. remove logger sync
  engines/router/go.mod
  engines/router/go.sum
  engines/router/missionctl/internal/testutils/grpc_server.go
  engines/router/missionctl/internal/testutils/upi_server.go
  engines/router/missionctl/mission_control_upi_test.go
  engines/router/missionctl/server/http/handlers/batch_http_handler.go
  engines/router/missionctl/server/http/handlers/http_handler.go
  engines/router/missionctl/server/upi/server.go
  engines/router/missionctl/server/upi/server_test.go
  engines/router/missionctl/testdata/upi_large_payload.json
  engines/router/missionctl/testdata/upi_small_payload.json
Due: golangci-lint

minor refactoring to comment. change router protocol to be set as default for now
  engines/router/missionctl/config/config.go
  engines/router/missionctl/config/config_test.go
  engines/router/missionctl/server/http/handlers/http_handler.go
  engines/router/missionctl/server/upi/logutils.go
  engines/router/missionctl/server/upi/server.go
Due: golangci-lint

Use CPU as autoscaling metric in e2e test
  api/e2e/test/testdata/create_router_version.json.tmpl
  sdk/e2e/03_create_router_version_test.py
Due: black

Install autoscaler hpa
  api/e2e/test/testdata/create_router_version.json.tmpl
  infra/cluster-init/init.sh
  infra/docker-compose/dev/docker-compose.yml
  sdk/e2e/03_create_router_version_test.py
  ui/src/router/components/form/components/autoscaling_policy/AutoscalingPolicyPanelFlyout.js
  ui/src/router/components/form/components/autoscaling_policy/typeOptions.js
Due: prettier, black

Remove default target concurrency
  .github/workflows/cluster-init.yaml
  api/turing/config/config.go
  api/turing/config/example.yaml
  api/turing/config/testdata/config-1.yaml
Due: golangci-lint

Show autoscaling unit in the UI
  ui/src/router/components/form/components/autoscaling_policy/AutoscalingPolicyPanel.js
  ui/src/router/components/form/components/autoscaling_policy/typeOptions.js
Due: prettier

Update comments
  api/turing/models/autoscaling_policy.go
  ui/src/router/components/form/components/autoscaling_policy/typeOptions.js
Due: golangci-lint, prettier
