Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: golangci-lint
        name: 'Linter for API'
        alias: golangci-lint-api
        files: '^api/'
        types: [go]
        language: system
        entry: bash -c 'cd api make lint'
      - id: golangci-lint
        name: 'Linter for the Router Engine'
        alias: golangci-lint-router
        files: '^engines/router/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/router make lint'
      - id: golangci-lint
        name: 'Linter for the Experiment Engine'
        alias: golangci-lint-experiment
        files: '^engines/experiment/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/experiment make lint'
  - repo: local
    hooks:
      - id: goimports
        name: 'Run goimports'
        alias: goimports
        files: '^[api/|engines/router/|engines/experiment/]'
        exclude: "pb.go"
        types: [go]
        language: system
        entry: goimports -w -local github.com/caraml-dev/turing
  - repo: local
    hooks:
      - id: prettier
        name: 'Prettier for UI'
        files: '^ui/'
        types_or: [javascript, css]
        language: system
        entry: bash -c 'cd ui && yarn lint'
  - repo: local
    hooks:
      - id: openapi-bundle
        name: 'OpenAPI Swagger Dist'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd api/api && make all'
  - repo: local
    hooks:
      - id: openapi-gen
        name: 'OpenAPI Python client'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd sdk && make gen-client'
  - repo: local
    hooks:
      - id: black
        name: 'Black formatter for the SDK'
        alias: black-sdk
        files: '^sdk/'
        types: [python]
        language: system
        entry: bash -c 'cd sdk && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Job Engine'
        alias: black-ensembler-job
        files: '^engines/pyfunc-ensembler-job/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-job && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Service Engine'
        alias: black-ensembler-service
        files: '^engines/pyfunc-ensembler-service/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Remove unsupported conda cache type from ensembler job and service workflows
  .github/workflows/pyfunc-ensembler-job.yaml
  .github/workflows/pyfunc-ensembler-service.yaml
Due: none

Fix all tables
  ui/src/components/config_section/index.scss
  ui/src/jobs/details/config/components/bq_options_table/BigQueryOptionsTable.js
  ui/src/jobs/details/config/configuration_section/misc_table/MiscConfigSection.js
  ui/src/jobs/details/config/configuration_section/resource_request_table/ResourceRequestConfigTable.js
  ui/src/jobs/details/config/sink_config_section/bq_config_section/BigQuerySinkConfigTable.js
  ui/src/jobs/details/config/sink_config_section/sink_config_table/SinkConfigTable.js
  ui/src/jobs/details/config/source_config_section/bq_config_section/BigQueryDatasetSection.js
  ui/src/jobs/details/config/source_config_section/bq_config_section/BigQueryDatasetSection.scss
  ui/src/router/components/configuration/components/LoggingConfigSection.js
  ui/src/router/components/configuration/components/ResourcesConfigTable.js
  ui/src/router/components/configuration/components/docker_config_section/ContainerConfigTable.js
  ui/src/router/components/configuration/components/docker_config_section/EnvVariablesConfigTable.js
  ui/src/router/components/configuration/components/experiment_config_section/credentials/CredentialsConfigSection.scss
  ui/src/router/components/configuration/components/experiment_config_section/variables/VariablesConfigTable.js
  ui/src/router/components/configuration/components/experiment_config_section/variables/VariablesConfigTable.scss
  ui/src/router/components/configuration/components/pyfunc_config_section/PyFuncConfigTable.js
  ui/src/router/components/configuration/components/route_config_section/RouteConfigSection.js
  ui/src/router/components/configuration/components/standard_config_section/RoutingStrategyConfigSection.js
Due: prettier

Deprecate ReactDOM.render
  ui/src/bootstrap.js
Due: prettier

Update node version
  .github/workflows/turing.yaml
Due: none

Remove deprecated table props
  ui/src/jobs/list/ListEnsemblingJobsTable.js
  ui/src/router/components/configuration/components/router_config_section/RoutesConfigTable.js
  ui/src/router/components/configuration/components/router_config_section/RulesConfigTable.js
  ui/src/router/components/configuration/components/standard_config_section/TreatmentMappingConfigSection.js
  ui/src/router/components/form/components/docker_config/EnvVariablesPanel.js
  ui/src/router/versions/list/ListRouterVersionsTable.js
Due: prettier

Update docker login actions
  .github/workflows/cluster-init.yaml
  .github/workflows/fluentd-plugin.yaml
  .github/workflows/pyfunc-ensembler-job.yaml
  .github/workflows/pyfunc-ensembler-service.yaml
  .github/workflows/turing-publish.yaml
Due: none

Update js packages
  ui/package.json
  ui/yarn.lock
Due: none

Update MLP version
  ui/package.json
  ui/yarn.lock
Due: none

Upgrade caraml-dev/ui-lib and add comments
  ui/package.json
  ui/yarn.lock
Due: none

Revert react-lazylog to gojekfarm fork
  ui/package.json
  ui/yarn.lock
Due: none

Remove custom styles in favour of prop-defined styles
  ui/src/components/pod_logs_viewer/PodLogsViewer.js
  ui/src/components/pod_logs_viewer/PodLogsViewer.scss
Due: prettier

Add node options to github action
  .github/workflows/turing.yaml
Due: none

fix(ui): Revert upgrade to react-lazylog (#386)
  .github/workflows/turing.yaml
  ui/package.json
  ui/src/components/pod_logs_viewer/PodLogsViewer.js
  ui/src/components/pod_logs_viewer/PodLogsViewer.scss
  ui/yarn.lock
Due: prettier

Update yup validation schemas
  ui/src/components/validation.js
  ui/src/router/components/form/components/experiment_config/validation/schema.js
  ui/src/router/components/form/validation/schema.js
Due: prettier

Fix incorrect client id error being displayed
  ui/src/router/components/form/components/experiment_config/components/client_config/ClientConfigPanel.js
Due: prettier

Update mlp
  ui/package.json
  ui/yarn.lock
Due: none

Undo unnecessary line changes
  ui/src/router/components/form/validation/schema.js
Due: prettier

Temporarily remove codecov checks for api server
  .github/workflows/turing.yaml
Due: none

fix(ui): Fix yup validation bugs (#387)
  .github/workflows/turing.yaml
  ui/package.json
  ui/src/components/validation.js
  ui/src/router/components/form/components/experiment_config/components/client_config/ClientConfigPanel.js
  ui/src/router/components/form/components/experiment_config/validation/schema.js
  ui/src/router/components/form/validation/schema.js
  ui/yarn.lock
Due: prettier

Fix incorrect yup schema
  ui/src/router/components/form/validation/schema.js
Due: prettier

Fix incorrect yup schema (#388)
  ui/src/router/components/form/validation/schema.js
Due: prettier

upgrade kafka and add pprof
  engines/router/go.mod
  engines/router/go.sum
  engines/router/missionctl/log/resultlog/kafka.go
  engines/router/missionctl/log/resultlog/kafka_test.go
  engines/router/missionctl/server/application.go
Due: golangci-lint, goimports

Replace deprecated overgear/yup-ast with demvsystems/yup-ast
  ui/package.json
  ui/src/providers/experiments/ExperimentEngineContextProvider.js
  ui/yarn.lock
Due: prettier

Replace deprecated overgear/yup-ast with demvsystems/yup-ast (#390)
  ui/package.json
  ui/src/providers/experiments/ExperimentEngineContextProvider.js
  ui/yarn.lock
Due: prettier

Make when callback function receive an array instead of a singular value
  ui/src/router/components/form/validation/schema.js
Due: prettier

Make when callback function receive an array instead of a singular value (#391)
  ui/src/router/components/form/validation/schema.js
Due: prettier

chore: add managed by label to namespace
  api/turing/api/appcontext.go
  api/turing/cluster/controller.go
  api/turing/cluster/controller_test.go
  api/turing/cluster/labeller/labeller.go
  api/turing/cluster/labeller/labeller_test.go
  api/turing/config/config.go
  api/turing/service/ensembling_job_service_test.go
Due: golangci-lint, goimports

chore: add managed by label to namespace (#392)
  api/turing/api/appcontext.go
  api/turing/cluster/controller.go
  api/turing/cluster/controller_test.go
  api/turing/cluster/labeller/labeller.go
  api/turing/cluster/labeller/labeller_test.go
  api/turing/config/config.go
  api/turing/service/ensembling_job_service_test.go
Due: golangci-lint, goimports

chore: add new label to reserved key list
  api/turing/cluster/labeller/labeller.go
Due: golangci-lint, goimports

Update config files and image builder to configure kaniko push registry and artifact service type
  api/go.mod
  api/go.sum
  api/turing/api/appcontext.go
  api/turing/api/appcontext_test.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/imagebuilder/ensembler.go
  api/turing/imagebuilder/imagebuilder.go
Due: golangci-lint, goimports

Update docker files for ensembler job
  engines/pyfunc-ensembler-job/Dockerfile
  engines/pyfunc-ensembler-job/app.Dockerfile
Due: none

Update docker files for ensembler service
  engines/pyfunc-ensembler-service/Dockerfile
  engines/pyfunc-ensembler-service/app.Dockerfile
Due: none

Add increased permissions to dockerfile to install deps
  engines/pyfunc-ensembler-job/Dockerfile
Due: none

Fix s3 copy command destination
  engines/pyfunc-ensembler-job/app.Dockerfile
  engines/pyfunc-ensembler-service/app.Dockerfile
Due: none

Fix broken unit tests
  api/turing/imagebuilder/imagebuilder_test.go
Due: golangci-lint, goimports

Fix broken e2e test config
  api/config-dev.yaml
Due: none

Add new fields to example.yaml file
  api/turing/config/example.yaml
Due: none

Fix config validator tags and remove redundant config values
  api/config-dev.yaml
  api/turing/config/config.go
  api/turing/config/example.yaml
  infra/charts/turing/values.yaml
Due: golangci-lint, goimports

Pin max version of setuptools
  engines/pyfunc-ensembler-job/requirements.txt
  engines/pyfunc-ensembler-service/requirements.txt
  sdk/requirements.dev.txt
Due: none
