Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.11.0
    hooks:
      - id: helm-docs-built
        name: 'Helm Docs for Turing Chart'
        files: '^infra/charts/turing/'
        args:
          - --chart-search-root=infra/charts/turing
          - --template-files=./README.md.gotmpl
      - id: helm-docs-built
        name: 'Helm Docs for Turing Init Chart'
        files: '^infra/charts/turing-init/'
        args:
          - --chart-search-root=infra/charts/turing-init
          - --template-files=./README.md.gotmpl
  - repo: local
    hooks:
      - id: golangci-lint
        name: 'Linter for API'
        alias: golangci-lint-api
        files: '^api/'
        types: [go]
        language: system
        entry: bash -c 'cd api make lint'
      - id: golangci-lint
        name: 'Linter for the Router Engine'
        alias: golangci-lint-router
        files: '^engines/router/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/router make lint'
      - id: golangci-lint
        name: 'Linter for the Experiment Engine'
        alias: golangci-lint-experiment
        files: '^engines/experiment/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/experiment make lint'
  - repo: local
    hooks:
      - id: goimports
        name: 'Run goimports'
        alias: goimports
        files: '^[api/|engines/router/|engines/experiment/]'
        exclude: "pb.go"
        types: [go]
        language: system
        entry: goimports -w -local github.com/caraml-dev/turing
  - repo: local
    hooks:
      - id: prettier
        name: 'Prettier for UI'
        files: '^ui/'
        types_or: [javascript, css]
        language: system
        entry: bash -c 'cd ui && yarn lint'
  - repo: local
    hooks:
      - id: openapi-bundle
        name: 'OpenAPI Swagger Dist'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd api/api && make all'
  - repo: local
    hooks:
      - id: openapi-gen
        name: 'OpenAPI Python client'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd sdk && make gen-client'
  - repo: local
    hooks:
      - id: black
        name: 'Black formatter for the SDK'
        alias: black-sdk
        files: '^sdk/'
        types: [python]
        language: system
        entry: bash -c 'cd sdk && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Job Engine'
        alias: black-ensembler-job
        files: '^engines/pyfunc-ensembler-job/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-job && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Service Engine'
        alias: black-ensembler-service
        files: '^engines/pyfunc-ensembler-service/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Revert accidental line change
  scripts/fluentd-bigquery/fluent.conf
Due: none

Update routing order panel layout
  docs/.gitbook/assets/standard_ensembler_lazy_routing.png
  ui/src/components/form/described_form_group/DescribedFormGroup.js
  ui/src/router/components/form/components/ensembler_config/standard_ensembler/StandardEnsemblerRoutingOrderPanel.js
Due: prettier

Support Lazy routing with Standard Ensembler (#284)
  api/api/specs/routers.yaml
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/models/ensembler.go
  api/turing/testdata/cluster/servicebuilder/router_configmap_std_ensembler_lazy_routing.yml
  api/turing/testdata/cluster/servicebuilder/router_version_success_std_ensembler_lazy_routing.json
  api/turing/testdata/cluster/servicebuilder/router_version_success_std_ensembler_with_route_name_path.json
  docs/.gitbook/assets/standard_ensembler_lazy_routing.png
  docs/how-to/create-a-router/configure-ensembler.md
  engines/experiment/examples/plugins/hardcoded/go.sum
  sdk/e2e/10_deploy_router_upi_test.py
  sdk/e2e/11_deploy_router_upi_traffic_split_test.py
  sdk/e2e/12_deploy_router_upi_std_ensembler_test.py
  sdk/tests/conftest.py
  sdk/tests/router/config/route_test.py
  sdk/tests/router/config/router_ensembler_config_test.py
  sdk/turing/generated/model/ensembler_standard_config.py
  sdk/turing/router/config/route.py
  sdk/turing/router/config/router_config.py
  sdk/turing/router/config/router_ensembler_config.py
  sdk/turing/router/config/router_version.py
  ui/craco.config.js
  ui/package.json
  ui/src/components/form/described_form_group/DescribedFormGroup.js
  ui/src/providers/experiments/ExperimentEngineContextProvider.js
  ui/src/router/components/configuration/components/standard_config_section/RoutingOrderConfigSection.js
  ui/src/router/components/configuration/components/standard_config_section/StandardConfigViewGroup.js
  ui/src/router/components/form/components/ensembler_config/standard_ensembler/StandardEnsemblerFormGroup.js
  ui/src/router/components/form/components/ensembler_config/standard_ensembler/StandardEnsemblerRoutingOrderPanel.js
  ui/src/router/components/form/validation/schema.js
  ui/src/services/ensembler/StandardEnsembler.js
Due: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

Make fluentd worker count configurable
  api/turing/cluster/servicebuilder/fluentd.go
  api/turing/cluster/servicebuilder/fluentd_test.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/testdata/config-1.yaml
  engines/router/compose/fluentd.yaml
Due: golangci-lint, goimports

Support configurable worker count for Fluentd (#288)
  api/turing/cluster/servicebuilder/fluentd.go
  api/turing/cluster/servicebuilder/fluentd_test.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/testdata/config-1.yaml
  engines/router/compose/fluentd.yaml
  scripts/fluentd-bigquery/.env.template
  scripts/fluentd-bigquery/fluent.conf
Due: golangci-lint, goimports

Update traffic rule names in fiber config
  api/turing/cluster/servicebuilder/router.go
  api/turing/testdata/cluster/servicebuilder/router_configmap_traffic_splitting.yml
Due: golangci-lint, goimports

Update traffic rule names in fiber config (#290)
  api/turing/cluster/servicebuilder/router.go
  api/turing/testdata/cluster/servicebuilder/router_configmap_traffic_splitting.yml
Due: golangci-lint, goimports

convert turing error to grpc error compatibile at upi handler
  engines/router/missionctl/internal/benchmark/upipayload.json
  engines/router/missionctl/server/upi/server.go
  engines/router/missionctl/server/upi/server_test.go
Due: golangci-lint, goimports

remove extra payload file
  engines/router/missionctl/internal/benchmark/upipayload.json
Due: none

convert turing error to grpc error compatibile at upi handler (#289)
  engines/router/missionctl/server/upi/server.go
  engines/router/missionctl/server/upi/server_test.go
Due: golangci-lint, goimports

Print boto contents debug
  engines/pyfunc-ensembler-job/app.Dockerfile
Due: none

Add boto creds
  engines/pyfunc-ensembler-job/app.Dockerfile
Due: none

Print boto config
  engines/pyfunc-ensembler-job/app.Dockerfile
Due: none

Activate svc acct
  engines/pyfunc-ensembler-job/app.Dockerfile
Due: none

Add arg GOOGLE_APPLICATION_CREDENTIALS
  engines/pyfunc-ensembler-job/app.Dockerfile
Due: none

Update image builder
  api/turing/imagebuilder/imagebuilder.go
  engines/pyfunc-ensembler-service/app.Dockerfile
Due: golangci-lint, goimports

Update image builder gcloud auth (#291)
  api/turing/imagebuilder/imagebuilder.go
  engines/pyfunc-ensembler-job/app.Dockerfile
  engines/pyfunc-ensembler-service/app.Dockerfile
Due: golangci-lint, goimports

Apply the image builder env config to the batch job runner
  api/turing/api/appcontext.go
Due: golangci-lint, goimports

Allow adding additional clusters
  api/config-dev.yaml
  api/turing/api/appcontext.go
  api/turing/api/appcontext_test.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/example.yaml
Due: golangci-lint, goimports

Update infra values
  infra/charts/turing/Chart.yaml
  infra/charts/turing/values.yaml
Due: none

Regen helm doc
  infra/charts/turing/README.md
Due: none

Update default clusterName
  infra/charts/turing/values.yaml
Due: none

Update Batch Ensembler job Runner's Image builder environment (#292)
  api/config-dev.yaml
  api/turing/api/appcontext.go
  api/turing/api/appcontext_test.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/example.yaml
  infra/charts/turing/Chart.yaml
  infra/charts/turing/README.md
  infra/charts/turing/values.yaml
Due: golangci-lint, goimports

Change routing strategy UI
  ui/src/router/components/configuration/components/standard_config_section/RoutingStrategyConfigSection.js
  ui/src/router/components/configuration/components/standard_config_section/StandardConfigViewGroup.js
  ui/src/router/components/form/components/ensembler_config/standard_ensembler/StandardEnsemblerFormGroup.js
  ui/src/router/components/form/components/ensembler_config/standard_ensembler/StandardEnsemblerRoutingOrderPanel.js
  ui/src/router/components/form/components/ensembler_config/standard_ensembler/StandardEnsemblerRoutingStrategyPanel.js
  ui/src/router/components/form/components/ensembler_config/standard_ensembler/typeOptions.js
  ui/src/services/version/RouterVersion.js
Due: prettier

Update docs
  docs/.gitbook/assets/standard_ensembler_lazy_routing.png
  docs/how-to/create-a-router/configure-ensembler.md
Due: none

Lazy router UI changes (#293)
  docs/.gitbook/assets/standard_ensembler_lazy_routing.png
  docs/how-to/create-a-router/configure-ensembler.md
  ui/src/router/components/configuration/components/standard_config_section/RoutingStrategyConfigSection.js
  ui/src/router/components/configuration/components/standard_config_section/StandardConfigViewGroup.js
  ui/src/router/components/form/components/ensembler_config/standard_ensembler/StandardEnsemblerFormGroup.js
  ui/src/router/components/form/components/ensembler_config/standard_ensembler/StandardEnsemblerRoutingOrderPanel.js
  ui/src/router/components/form/components/ensembler_config/standard_ensembler/StandardEnsemblerRoutingStrategyPanel.js
  ui/src/router/components/form/components/ensembler_config/standard_ensembler/typeOptions.js
  ui/src/services/version/RouterVersion.js
Due: prettier

Add env var to manually release SDK as v0.7.1
  .github/workflows/sdk.yaml
Due: none

Add env var to manually release SDK as v0.7.1 (#294)
  .github/workflows/sdk.yaml
Due: none

Remove env var to release SDK with a version specified manually
  .github/workflows/sdk.yaml
Due: none

Remove env var to release SDK with a version specified manually (#295)
  .github/workflows/sdk.yaml
Due: none

Remove SDK checks for min/max replicas
  sdk/tests/router/config/resource_request_test.py
  sdk/turing/router/config/resource_request.py
Due: black

Add max replica limits to the Turing API
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/cluster/servicebuilder/service_builder_test.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/service/router_deployment_service.go
Due: golangci-lint, goimports

Add default value for MaxAllowedReplica to configs
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/testdata/config-2.yaml
Due: golangci-lint, goimports

Make error messages more descriptive
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/cluster/servicebuilder/service_builder_test.go
Due: golangci-lint, goimports

Fix lint comments
  api/turing/cluster/servicebuilder/service_builder.go
Due: golangci-lint, goimports

Add max replica limits to Turing API server (#297)
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/cluster/servicebuilder/service_builder_test.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/testdata/config-2.yaml
  api/turing/service/router_deployment_service.go
  sdk/tests/router/config/resource_request_test.py
  sdk/turing/router/config/resource_request.py
Due: golangci-lint, goimports, black

pass protocol to standard experiment
  ui/src/router/components/form/components/experiment_config/ExperimentConfigPanel.js
  ui/src/router/components/form/components/experiment_config/StandardExperimentConfigGroup.js
  ui/src/router/components/form/components/experiment_config/components/variables_config/VariableConfigRow.js
  ui/src/router/components/form/components/experiment_config/components/variables_config/VariablesConfigPanel.js
Due: prettier

test fork fiber bugfixes
  api/go.mod
  api/go.sum
  engines/router/go.mod
  engines/router/go.sum
Due: none

update fiber to fiber-rc1
  api/go.mod
  api/go.sum
  engines/router/go.mod
  engines/router/go.sum
Due: none

UI remote component and fiber lazy routing bugfix (#298)
  api/go.mod
  api/go.sum
  engines/router/go.mod
  engines/router/go.sum
  ui/src/router/components/form/components/experiment_config/ExperimentConfigPanel.js
  ui/src/router/components/form/components/experiment_config/StandardExperimentConfigGroup.js
  ui/src/router/components/form/components/experiment_config/components/variables_config/VariableConfigRow.js
  ui/src/router/components/form/components/experiment_config/components/variables_config/VariablesConfigPanel.js
Due: prettier
