Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.11.0
    hooks:
      - id: helm-docs-built
        name: 'Helm Docs for Turing Chart'
        files: '^infra/charts/turing/'
        args:
          - --chart-search-root=infra/charts/turing
          - --template-files=./README.md.gotmpl
      - id: helm-docs-built
        name: 'Helm Docs for Turing Init Chart'
        files: '^infra/charts/turing-init/'
        args:
          - --chart-search-root=infra/charts/turing-init
          - --template-files=./README.md.gotmpl
  - repo: local
    hooks:
      - id: golangci-lint
        name: 'Linter for API'
        alias: golangci-lint-api
        files: '^api/'
        types: [go]
        language: system
        entry: bash -c 'cd api make lint'
      - id: golangci-lint
        name: 'Linter for the Router Engine'
        alias: golangci-lint-router
        files: '^engines/router/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/router make lint'
      - id: golangci-lint
        name: 'Linter for the Experiment Engine'
        alias: golangci-lint-experiment
        files: '^engines/experiment/'
        types: [go]
        language: system
        entry: bash -c 'cd engines/experiment make lint'
  - repo: local
    hooks:
      - id: goimports
        name: 'Run goimports'
        alias: goimports
        files: '^[api/|engines/router/|engines/experiment/]'
        exclude: "pb.go"
        types: [go]
        language: system
        entry: goimports -w -local github.com/caraml-dev/turing
  - repo: local
    hooks:
      - id: prettier
        name: 'Prettier for UI'
        files: '^ui/'
        types_or: [javascript, css]
        language: system
        entry: bash -c 'cd ui && yarn lint'
  - repo: local
    hooks:
      - id: openapi-bundle
        name: 'OpenAPI Swagger Dist'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd api/api && make all'
  - repo: local
    hooks:
      - id: openapi-gen
        name: 'OpenAPI Python client'
        files: '^api/api/specs/'
        language: system
        entry: bash -c 'cd sdk && make gen-client'
  - repo: local
    hooks:
      - id: black
        name: 'Black formatter for the SDK'
        alias: black-sdk
        files: '^sdk/'
        types: [python]
        language: system
        entry: bash -c 'cd sdk && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Job Engine'
        alias: black-ensembler-job
        files: '^engines/pyfunc-ensembler-job/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-job && make lint'
      - id: black
        name: 'Black formatter for Pyfunc Ensembler Service Engine'
        alias: black-ensembler-service
        files: '^engines/pyfunc-ensembler-service/'
        types: [python]
        language: system
        entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

remove creating proj doc
  docs/.gitbook/assets/create_project_button.png
  docs/.gitbook/assets/name_project.png
  docs/.gitbook/assets/project_labels.png
  docs/.gitbook/assets/project_members.png
  docs/.gitbook/assets/project_stream.png
  docs/.gitbook/assets/project_team.png
  docs/how-to/create-project.md
Due: none

Update CONTRIBUTING.md and add ISSUE templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  CONTRIBUTING.md
Due: none

Address PR comments
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  CONTRIBUTING.md
Due: none

update create proj ref
  docs/SUMMARY.md
  docs/how-to/create-a-router/README.md
Due: none

remove creating proj doc (#330)
  docs/.gitbook/assets/create_project_button.png
  docs/.gitbook/assets/name_project.png
  docs/.gitbook/assets/project_labels.png
  docs/.gitbook/assets/project_members.png
  docs/.gitbook/assets/project_stream.png
  docs/.gitbook/assets/project_team.png
  docs/SUMMARY.md
  docs/how-to/create-a-router/README.md
  docs/how-to/create-project.md
Due: none

Update CONTRIBUTING.md and add Issue, PR templates (#326)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  CONTRIBUTING.md
Due: none

Add topology spread constraints
  api/turing/cluster/knative_service.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/config/config.go
  api/turing/service/router_deployment_service.go
Due: golangci-lint, goimports

Add unit tests
  api/turing/cluster/knative_service_test.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/cluster/servicebuilder/service_builder_test.go
Due: golangci-lint, goimports

Add config unit tests
  api/turing/config/config_test.go
  api/turing/config/testdata/config-1.yaml
Due: golangci-lint, goimports

Change match expressions to match labels in label selector to be added to topology pod constraints
  api/turing/cluster/knative_service.go
  api/turing/cluster/knative_service_test.go
Due: golangci-lint, goimports

Simplify test topology spread constraints
  api/turing/cluster/servicebuilder/service_builder_test.go
Due: golangci-lint, goimports

Add topology spread constraints feature flag
  infra/cluster-init/knative-configmaps/config-features.yaml
Due: none

Add topology spread constraints to deployments (#332)
  api/turing/cluster/knative_service.go
  api/turing/cluster/knative_service_test.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/cluster/servicebuilder/service_builder_test.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/testdata/config-1.yaml
  api/turing/service/router_deployment_service.go
  infra/cluster-init/knative-configmaps/config-features.yaml
Due: golangci-lint, goimports

Rename unused arguments in router deployment service test file
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint, goimports

Remove unsused secretName argument in buildRouterEnvs
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
Due: golangci-lint, goimports

Remove unused envType argument from NewRouterEndpoint
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint, goimports

Remove redundant fields
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint, goimports

Rename unused request argument in experiments api methods
  api/turing/api/experiments_api.go
Due: golangci-lint, goimports

Remove unused envType argument from NewEnsemblerService
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/cluster/servicebuilder/service_builder_test.go
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint, goimports

Remove redundant error handling
  api/e2e/test/config/config.go
Due: golangci-lint, goimports

Rename unused arguments in all remaining api files
  api/turing/api/alerts_api.go
  api/turing/api/ensemblers_api.go
  api/turing/api/ensembling_job_api.go
  api/turing/api/router_versions_api.go
Due: golangci-lint, goimports

Remove unused envType argument from NewEnricherService
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/cluster/servicebuilder/service_builder_test.go
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint, goimports

Remove obsolete labels from mocked and expected responses
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint, goimports

Rename unused arguments in routers api
  api/turing/api/routers_api.go
Due: golangci-lint, goimports

Update MLP library version
  .pre-commit-config.yaml
  api/go.mod
  api/go.sum
  engines/experiment/examples/plugins/hardcoded/go.mod
  engines/experiment/examples/plugins/hardcoded/go.sum
  engines/experiment/go.mod
  engines/experiment/go.sum
  engines/router/go.mod
  engines/router/go.sum
  infra/docker-compose/dev/docker-compose.yml
  ui/package.json
  ui/yarn.lock
Due: none

Align sdk e2e test configs with those in api tests
  sdk/e2e/01_create_router_test.py
Due: black

Add additional steps to update enricher and ensemblers separately
  api/turing/service/router_version_service.go
Due: golangci-lint, goimports

Remove obsolete todo comment
  api/e2e/test/router_e2e_test.go
Due: golangci-lint, goimports

Add an additional step to sdk e2e test to ensure that the router status is pending
  sdk/e2e/06_deploy_valid_config_test.py
Due: black

Add additional checks before saving enrichers and ensemblers to db
  api/turing/service/router_version_service.go
Due: golangci-lint, goimports

Bugfix: Fix pyfunc ensembler undeployment bug (#331)
  api/e2e/test/config/config.go
  api/e2e/test/router_e2e_test.go
  api/turing/api/alerts_api.go
  api/turing/api/ensemblers_api.go
  api/turing/api/ensembling_job_api.go
  api/turing/api/experiments_api.go
  api/turing/api/router_versions_api.go
  api/turing/api/routers_api.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/cluster/servicebuilder/service_builder_test.go
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
  api/turing/service/router_version_service.go
  sdk/e2e/01_create_router_test.py
  sdk/e2e/06_deploy_valid_config_test.py
Due: golangci-lint, goimports, black

Add safe-to-evict annotation to image builder job
  api/config-dev.yaml
  api/turing/cluster/job.go
  api/turing/config/config.go
  api/turing/config/example.yaml
  api/turing/imagebuilder/imagebuilder.go
  infra/charts/turing/values.yaml
Due: golangci-lint, goimports

Add safe-to-evict annotation to image builder job
  api/turing/cluster/job.go
  api/turing/cluster/job_test.go
  api/turing/imagebuilder/imagebuilder.go
Due: golangci-lint, goimports

Add safe-to-evict annotation to image builder job (#334)
  api/config-dev.yaml
  api/turing/cluster/job.go
  api/turing/cluster/job_test.go
  api/turing/config/config.go
  api/turing/config/example.yaml
  api/turing/imagebuilder/imagebuilder.go
  infra/charts/turing/values.yaml
Due: golangci-lint, goimports

Update navbar project URL
  ui/src/PrivateLayout.js
Due: prettier

Update navbar project URL (#335)
  ui/src/PrivateLayout.js
Due: prettier

Remove vault and propagate k8s_config to merlin
  .github/actions/setup-test-cluster/action.yaml
  infra/e2e/turing.values.in-cluster.yaml
  infra/e2e/turing.values.remote.yaml
  infra/e2e/vault.helm-values.yaml
  infra/e2e/vault.ingress.yaml
Due: none
