Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, prettier, openapi-bundle, openapi-gen, black

golangci-lint:
  name: Linter for the Experiment Engine
  alias: golangci-lint-experiment
  language: system
  entry: bash -c 'cd engines/experiment make lint'

prettier:
  name: Prettier for UI
  language: system
  entry: bash -c 'cd ui && yarn lint'

openapi-bundle:
  name: OpenAPI Swagger Dist
  language: system
  entry: bash -c 'cd api/api && make all'

openapi-gen:
  name: OpenAPI Python client
  language: system
  entry: bash -c 'cd sdk && make gen-client'

black:
  name: Black formatter for Pyfunc Ensembler Service Engine
  alias: black-ensembler-service
  language: system
  entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Move traffic rules validation to validation package
  api/turing/api/request/request.go
  api/turing/api/request/request_test.go
  api/turing/validation/validator.go
  api/turing/validation/validator_test.go
Due: golangci-lint

Fix request_test.go
  engines/experiment/pkg/request/request_test.go
Due: golangci-lint

Rename GetValueFromRequest to GetValueFromHTTPRequest
  engines/experiment/examples/plugins/hardcoded/runner.go
  engines/experiment/pkg/request/request.go
Due: golangci-lint

Fix lint
  engines/router/traffic_rule_condition_test.go
Due: golangci-lint

UPI Traffic Splitting (#259)
  .github/workflows/turing.yaml
  api/api/openapi.bundle.yaml
  api/api/specs/common.yaml
  api/api/specs/routers.yaml
  api/turing/api/request/request.go
  api/turing/validation/validator.go
  api/turing/validation/validator_test.go
  engines/experiment/examples/plugins/hardcoded/Dockerfile
  engines/experiment/examples/plugins/hardcoded/runner.go
  engines/experiment/go.mod
  engines/experiment/go.sum
  engines/experiment/pkg/request/request.go
  engines/experiment/pkg/request/request_test.go
  engines/router/missionctl/fiberapi/internal/testutils/helpers.go
  engines/router/missionctl/fiberapi/routing_strategy_test.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy_test.go
  engines/router/missionctl/instrumentation/tracing/tracing.go
  engines/router/missionctl/utils/utils_test.go
  engines/router/traffic_rule_condition.go
  engines/router/traffic_rule_condition_test.go
Due: golangci-lint, openapi-bundle, openapi-gen

Deploy 3 upi echo server in end to end test
  .github/workflows/turing.yaml
  api/README.md
  api/e2e/test/00_all_e2e_test.go
  api/e2e/test/10_deploy_upi_router_test.go
  api/e2e/test/testdata/create_router_upi_simple.json.tmpl
  infra/e2e/turing.mockserver.yaml
  sdk/e2e/10_deploy_router_upi_test.py
Due: golangci-lint, black

Update incorrect test setup
  .github/workflows/turing.yaml
  api/e2e/test/10_deploy_upi_router_test.go
Due: golangci-lint

Update python sdk
  sdk/turing/generated/model/traffic_rule_condition.py
  sdk/turing/router/config/traffic_rule.py
Due: black

Add test helper
  api/e2e/test/helpers_test.go
Due: golangci-lint

Update sdk
  sdk/turing/generated/model/field_source.py
Due: black

Simplify model name
  api/e2e/test/10_deploy_upi_router_test.go
  infra/e2e/turing.mockserver.yaml
Due: golangci-lint

Add test for traffic splitting
  api/e2e/test/11_deploy_upi_router_with_traffic_rules_test.go
  api/e2e/test/testdata/create_router_upi_with_traffic_rules.json.tmpl
Due: golangci-lint

add parsing of proto to http for experiment engine
  engines/experiment/pkg/request/request.go
  engines/router/missionctl/fiberapi/routing_strategy.go
Due: golangci-lint

Include in test suite
  api/e2e/test/00_all_e2e_test.go
Due: golangci-lint

add new upi request type to persist payload to prevent multiple marshalling. refactor server.go and mc_upi for consistency
  engines/router/missionctl/fiberapi/internal/testutils/helpers.go
  engines/router/missionctl/fiberapi/routing_strategy.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy.go
  engines/router/missionctl/fiberapi/upi/upi_request.go
  engines/router/missionctl/fiberapi/upi/upi_response.go
  engines/router/missionctl/internal/mocks/MissionControlUPI.go
  engines/router/missionctl/internal/testutils/utils.go
  engines/router/missionctl/mission_control_upi.go
  engines/router/missionctl/mission_control_upi_test.go
  engines/router/missionctl/server/upi/server.go
  engines/router/missionctl/server/upi/server_test.go
Due: golangci-lint

remove upi_response in fiberapi which is not required for now. rename upi_request to request.go
  engines/router/missionctl/fiberapi/upi/request.go
  engines/router/missionctl/fiberapi/upi/upi_response.go
Due: golangci-lint

update test to use upi request
  engines/router/missionctl/fiberapi/routing_strategy.go
  engines/router/missionctl/mission_control_upi_test.go
Due: golangci-lint

Reduce mock server cpu request
  infra/e2e/turing.mockserver.yaml
Due: none

Temporary comment passing tests
  api/e2e/test/00_all_e2e_test.go
Due: golangci-lint

add upi test for routing strategy
  engines/router/missionctl/fiberapi/routing_strategy_test.go
Due: golangci-lint

add docs
  engines/experiment/pkg/request/request.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy.go
  engines/router/missionctl/fiberapi/upi/request.go
  engines/router/missionctl/server/upi/server.go
Due: golangci-lint

Add logging
  api/e2e/test/helpers_api_test.go
Due: golangci-lint

Add debugging logs
  .github/workflows/turing.yaml
Due: none

Rename router for upi traffic splitting e2e test
  api/e2e/test/testdata/create_router_upi_with_traffic_rules.json.tmpl
Due: none

Print properly
  api/e2e/test/helpers_api_test.go
Due: golangci-lint

Improve assertion in the withDeployedRouter
  api/e2e/test/helpers_api_test.go
Due: golangci-lint

Reduce cpu request for all e2e test
  api/e2e/test/testdata/create_router_nop_logger_proprietary_exp.json.tmpl
  api/e2e/test/testdata/create_router_upi_simple.json.tmpl
  api/e2e/test/testdata/create_router_version.json.tmpl
  api/e2e/test/testdata/create_router_with_std_ensembler.json.tmpl
  api/e2e/test/testdata/create_router_with_traffic_rules.json.tmpl
  api/e2e/test/testdata/update_router_high_cpu.json.tmpl
Due: none

Upi exp engine (#263)
  engines/experiment/pkg/request/request.go
  engines/router/missionctl/fiberapi/internal/testutils/helpers.go
  engines/router/missionctl/fiberapi/routing_strategy.go
  engines/router/missionctl/fiberapi/routing_strategy_test.go
  engines/router/missionctl/fiberapi/traffic_splitting_strategy.go
  engines/router/missionctl/fiberapi/upi/request.go
  engines/router/missionctl/internal/mocks/MissionControlUPI.go
  engines/router/missionctl/internal/testutils/utils.go
  engines/router/missionctl/mission_control_upi.go
  engines/router/missionctl/mission_control_upi_test.go
  engines/router/missionctl/server/upi/server.go
  engines/router/missionctl/server/upi/server_test.go
Due: golangci-lint

Add default_route_id
  api/e2e/test/testdata/create_router_upi_with_traffic_rules.json.tmpl
Due: none

Move response logging before status code assertion
  api/e2e/test/helpers_api_test.go
Due: golangci-lint

Add e2e test for standard ensembler
  api/e2e/test/00_all_e2e_test.go
  api/e2e/test/11_deploy_upi_router_with_traffic_rules_test.go
  api/e2e/test/12_deploy_upi_router_with_std_ensembler_test.go
  api/e2e/test/testdata/create_router_upi_with_std_ensembler.json.tmpl
Due: golangci-lint

Rename router name
  api/e2e/test/testdata/create_router_upi_with_std_ensembler.json.tmpl
Due: none

Associate control with all traffic rule
  api/e2e/test/testdata/create_router_upi_with_traffic_rules.json.tmpl
Due: none

Fix incorrect router file name
  api/e2e/test/12_deploy_upi_router_with_std_ensembler_test.go
Due: golangci-lint

Temporary disable sdk e2e test
  .github/workflows/turing.yaml
Due: none

Temporary exclude sdk test
  .github/workflows/turing.yaml
Due: none

Use require instead of assert
  api/e2e/test/helpers_test.go
Due: golangci-lint

Path conditions:
  golangci-lint: ((any of: ^api/ and \.go$) or (any of: ^engines/router/ and \.go$)) or (any of: ^engines/experiment/ and \.go$)
  prettier: any of: ^ui/ and \.(js|mjs|cjs)$, \.css$
  openapi-bundle: any of: ^api/api/specs/
  openapi-gen: any of: ^api/api/specs/
  black: ((any of: ^sdk/ and \.py$) or (any of: ^engines/pyfunc-ensembler-job/ and \.py$)) or (any of: ^engines/pyfunc-ensembler-service/ and \.py$)
