Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

golangci-lint:
  name: Linter for the Experiment Engine
  alias: golangci-lint-experiment
  language: system
  entry: bash -c 'cd engines/experiment make lint'

goimports:
  name: Run goimports
  alias: goimports
  language: system
  entry: goimports -w -local github.com/caraml-dev/turing

prettier:
  name: Prettier for UI
  language: system
  entry: bash -c 'cd ui && yarn lint'

openapi-bundle:
  name: OpenAPI Swagger Dist
  language: system
  entry: bash -c 'cd api/api && make all'

openapi-gen:
  name: OpenAPI Python client
  language: system
  entry: bash -c 'cd sdk && make gen-client'

black:
  name: Black formatter for Pyfunc Ensembler Service Engine
  alias: black-ensembler-service
  language: system
  entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Add check to ensure batch ensembling jobs table is not shown when inactive
  ui/src/ensembler/components/modal/DeleteEnsemblerModal.js
Due: prettier

Add additional checks to prevent calls to the ensembling job svc if inactive
  api/turing/api/ensemblers_api.go
  api/turing/api/ensemblers_api_test.go
Due: golangci-lint, goimports

Fix unit tests
  api/turing/api/ensemblers_api_test.go
Due: golangci-lint, goimports

fix: Prevent calls to ensembling job service/controllers if batch ensembling is deactivated (#356)
  api/turing/api/ensemblers_api.go
  api/turing/api/ensemblers_api_test.go
  ui/src/ensembler/components/modal/DeleteEnsemblerModal.js
Due: golangci-lint, goimports, prettier

Add kaniko service account to image builder configs
  api/turing/cluster/job.go
  api/turing/cluster/job_test.go
  api/turing/config/config.go
  api/turing/imagebuilder/imagebuilder.go
Due: golangci-lint, goimports

Remove default google applications credentials flag for kaniko job
  api/turing/imagebuilder/imagebuilder.go
Due: golangci-lint, goimports

Add kaniko service account to image builder configs (#357)
  api/turing/cluster/job.go
  api/turing/cluster/job_test.go
  api/turing/config/config.go
  api/turing/imagebuilder/imagebuilder.go
Due: golangci-lint, goimports

Update summary doc
  docs/SUMMARY.md
Due: none

Edit certain paragraphs of the deletion docs
  docs/how-to/delete-an-ensembler/README.md
  docs/how-to/delete-an-ensembler/delete-an-ensembler-active.md
  docs/how-to/delete-an-ensembler/delete-an-ensembler-inactive.md
  docs/how-to/delete-an-ensembler/delete-an-ensembler.md
Due: none

docs: Reword certain parts of the ensembler deletion docs (#355)
  docs/SUMMARY.md
  docs/how-to/delete-an-ensembler/README.md
  docs/how-to/delete-an-ensembler/delete-an-ensembler-active.md
  docs/how-to/delete-an-ensembler/delete-an-ensembler-inactive.md
  docs/how-to/delete-an-ensembler/delete-an-ensembler.md
Due: none

Add logic check to check for presence of env var before activating service account
  engines/pyfunc-ensembler-job/app.Dockerfile
  engines/pyfunc-ensembler-service/app.Dockerfile
Due: none

Add logic check to check for presence of env var before activating service account (#358)
  engines/pyfunc-ensembler-job/app.Dockerfile
  engines/pyfunc-ensembler-service/app.Dockerfile
Due: none

Bump up caraml auth google
  sdk/requirements.txt
Due: none

Use miniforge conda as Pyfunc ensembler service base image
  engines/pyfunc-ensembler-service/Dockerfile
Due: none

Upgrade miniforge version for batch ensembling image
  engines/pyfunc-ensembler-job/Dockerfile
Due: none

Bump up caraml auth google (#359)
  sdk/requirements.txt
Due: none

Use miniforge conda as Pyfunc ensembler service base image (#360)
  engines/pyfunc-ensembler-job/Dockerfile
  engines/pyfunc-ensembler-service/Dockerfile
Due: none

Skip conda pack and unpack
  engines/pyfunc-ensembler-service/Dockerfile
  engines/pyfunc-ensembler-service/app.Dockerfile
Due: none

Activate conda env before running pyfunc server
  engines/pyfunc-ensembler-service/app.Dockerfile
Due: none

Update Pyfunc base image
  engines/pyfunc-ensembler-service/app.Dockerfile
Due: none

Set FOLDER_NAME env
  engines/pyfunc-ensembler-service/app.Dockerfile
Due: none

Upgrade Kaniko version to latest
  README.md
  infra/charts/turing/values.yaml
Due: none

Remove multi-stage build from Pyfunc ensembler service (#361)
  README.md
  engines/pyfunc-ensembler-service/Dockerfile
  engines/pyfunc-ensembler-service/app.Dockerfile
  infra/charts/turing/values.yaml
Due: none

Remove Python3.7 support in turing-sdk
  .github/workflows/pyfunc-ensembler-job.yaml
  .github/workflows/pyfunc-ensembler-service.yaml
  .github/workflows/sdk.yaml
  .github/workflows/turing.yaml
  CONTRIBUTING.md
  README.md
  api/config-dev.yaml
  api/turing/config/example.yaml
  api/turing/imagebuilder/imagebuilder.go
  api/turing/imagebuilder/imagebuilder_test.go
  engines/pyfunc-ensembler-job/Makefile
  engines/pyfunc-ensembler-service/Makefile
  infra/charts/turing/values.yaml
  sdk/README.md
  sdk/samples/router/create_router_with_pyfunc_ensembler.py
  sdk/setup.py
Due: golangci-lint, goimports, black

Update turing-sdk dependency on the ensembler service and job images
  .github/workflows/sdk.yaml
  api/turing/imagebuilder/imagebuilder.go
  api/turing/imagebuilder/imagebuilder_test.go
  engines/pyfunc-ensembler-job/requirements.txt
  engines/pyfunc-ensembler-service/requirements.txt
  sdk/setup.py
Due: golangci-lint, goimports, black

Remove Python 3.7 support in turing-sdk (#362)
  .github/workflows/pyfunc-ensembler-job.yaml
  .github/workflows/pyfunc-ensembler-service.yaml
  .github/workflows/sdk.yaml
  .github/workflows/turing.yaml
  CONTRIBUTING.md
  README.md
  api/config-dev.yaml
  api/turing/config/example.yaml
  engines/pyfunc-ensembler-job/Makefile
  engines/pyfunc-ensembler-job/requirements.txt
  engines/pyfunc-ensembler-service/Makefile
  engines/pyfunc-ensembler-service/requirements.txt
  infra/charts/turing/values.yaml
  sdk/README.md
  sdk/samples/router/create_router_with_pyfunc_ensembler.py
  sdk/setup.py
Due: black

WIP: Introducing router runner to deploy router
  api/db-migrations/000016_add_deployment_time.down.sql
  api/db-migrations/000016_add_deployment_time.up.sql
  api/turing/api/appcontext.go
  api/turing/api/appcontext_test.go
  api/turing/api/deployment_controller.go
  api/turing/api/ensembling_job_api_test.go
  api/turing/api/pod_log_api_test.go
  api/turing/batch/runner/base.go
  api/turing/cluster/controller_test.go
  api/turing/cluster/spark_test.go
  api/turing/models/router_version.go
  api/turing/server/application.go
  api/turing/service/ensembling_job_service.go
  api/turing/service/ensembling_job_service_test.go
  api/turing/worker/base.go
  api/turing/worker/const.go
  api/turing/worker/ensembling/controller.go
  api/turing/worker/ensembling/controller_test.go
  api/turing/worker/ensembling/mock_ensembling_controller.go
  api/turing/worker/ensembling/runner.go
  api/turing/worker/ensembling/runner_test.go
  api/turing/worker/router/controller.go
  api/turing/worker/router/runner.go
Due: golangci-lint, goimports

Migrate deployment controller from api to worker
  api/turing/api/appcontext.go
  api/turing/api/deployment_controller.go
  api/turing/api/router_versions_api.go
  api/turing/api/router_versions_api_test.go
  api/turing/api/routers_api.go
  api/turing/api/routers_api_test.go
  api/turing/server/api.go
  api/turing/service/router_deployment_service.go
  api/turing/worker/router/controller.go
  api/turing/worker/router/controller_test.go
  api/turing/worker/router/runner.go
Due: golangci-lint, goimports

Change delete ensembler api response from int to struct
  api/turing/api/ensemblers_api.go
  api/turing/api/ensemblers_api_test.go
Due: golangci-lint, goimports

Change delete ensembler api response from int to struct (#364)
  api/turing/api/ensemblers_api.go
  api/turing/api/ensemblers_api_test.go
Due: golangci-lint, goimports

Remove support for Python 3.7
  .github/workflows/pyfunc-ensembler-job.yaml
  .github/workflows/pyfunc-ensembler-service.yaml
  engines/pyfunc-ensembler-job/Dockerfile
  engines/pyfunc-ensembler-job/env-3.7.yaml
  engines/pyfunc-ensembler-job/requirements.txt
  engines/pyfunc-ensembler-job/setup.py
  engines/pyfunc-ensembler-service/env-3.7.yaml
  engines/pyfunc-ensembler-service/requirements.txt
  engines/pyfunc-ensembler-service/setup.py
  sdk/samples/quickstart/quick_start.py
  sdk/tests/ensembler_test.py
Due: black

Remove support for Python 3.7 (#365)
  .github/workflows/pyfunc-ensembler-job.yaml
  .github/workflows/pyfunc-ensembler-service.yaml
  engines/pyfunc-ensembler-job/Dockerfile
  engines/pyfunc-ensembler-job/env-3.7.yaml
  engines/pyfunc-ensembler-job/requirements.txt
  engines/pyfunc-ensembler-job/setup.py
  engines/pyfunc-ensembler-service/env-3.7.yaml
  engines/pyfunc-ensembler-service/requirements.txt
  engines/pyfunc-ensembler-service/setup.py
  sdk/samples/quickstart/quick_start.py
  sdk/tests/ensembler_test.py
Due: black

Update mlflow and protobuf dependency
  engines/pyfunc-ensembler-job/requirements.txt
  sdk/requirements.txt
Due: none

Update user docs
  docs/how-to/create-a-router/configure-ensembler.md
  sdk/requirements.dev.txt
Due: none

Upgrade MLflow client (#366)
  docs/how-to/create-a-router/configure-ensembler.md
  engines/pyfunc-ensembler-job/requirements.txt
  sdk/requirements.dev.txt
  sdk/requirements.txt
Due: none

Split UserContainerLimitRequestFactor into two separate config values
  api/turing/cluster/knative_service.go
  api/turing/cluster/knative_service_test.go
  api/turing/cluster/kubernetes_service.go
  api/turing/cluster/models.go
  api/turing/cluster/servicebuilder/router.go
  api/turing/cluster/servicebuilder/router_test.go
  api/turing/cluster/servicebuilder/service_builder.go
  api/turing/cluster/servicebuilder/service_builder_test.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/example.yaml
  api/turing/config/testdata/config-1.yaml
  api/turing/service/router_deployment_service.go
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint, goimports

Set UserContainerCPULimitRequestFactor as 0 in unit tests
  api/turing/cluster/knative_service_test.go
  api/turing/service/router_deployment_service_test.go
Due: golangci-lint, goimports

Fix lint comment to shorten line length
  api/turing/cluster/knative_service.go
Due: golangci-lint, goimports

Remove outdated golangci linters
  .golangci.yml
Due: none

Make setting of resource limits conditional
  api/turing/cluster/models.go
Due: golangci-lint, goimports

Path conditions:
  golangci-lint: ((any of: ^api/ and \.go$) or (any of: ^engines/router/ and \.go$)) or (any of: ^engines/experiment/ and \.go$)
  goimports: any of: ^[api/|engines/router/|engines/experiment/] and \.go$ and not (pb.go)
  prettier: any of: ^ui/ and \.(js|mjs|cjs)$, \.css$
  openapi-bundle: any of: ^api/api/specs/
  openapi-gen: any of: ^api/api/specs/
  black: ((any of: ^sdk/ and \.py$) or (any of: ^engines/pyfunc-ensembler-job/ and \.py$)) or (any of: ^engines/pyfunc-ensembler-service/ and \.py$)
