Repository caraml-dev/turing: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, goimports, prettier, openapi-bundle, openapi-gen, black

golangci-lint:
  name: Linter for the Experiment Engine
  alias: golangci-lint-experiment
  language: system
  entry: bash -c 'cd engines/experiment make lint'

goimports:
  name: Run goimports
  alias: goimports
  language: system
  entry: goimports -w -local github.com/caraml-dev/turing

prettier:
  name: Prettier for UI
  language: system
  entry: bash -c 'cd ui && yarn lint'

openapi-bundle:
  name: OpenAPI Swagger Dist
  language: system
  entry: bash -c 'cd api/api && make all'

openapi-gen:
  name: OpenAPI Python client
  language: system
  entry: bash -c 'cd sdk && make gen-client'

black:
  name: Black formatter for Pyfunc Ensembler Service Engine
  alias: black-ensembler-service
  language: system
  entry: bash -c 'cd engines/pyfunc-ensembler-service && make lint'

Add default value for livenessPeriodSeconds in helm templates
  infra/charts/turing/templates/_helpers.tpl
  infra/e2e/turing.values.yaml
Due: none

Add plugin monitoring by pinging it async (#311)
  api/turing/cluster/servicebuilder/router.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/testdata/config-2.yaml
  api/turing/testdata/cluster/servicebuilder/router_configmap_exp_engine.yml
  api/turing/testdata/cluster/servicebuilder/router_version_success_experiment_engine.json
  engines/router/missionctl/experiment/experiment.go
  engines/router/missionctl/experiment/experiment_test.go
  engines/router/missionctl/fiberapi/fan_in_test.go
  engines/router/missionctl/fiberapi/routing_policies.go
  engines/router/missionctl/fiberapi/routing_strategy_test.go
  infra/charts/turing/templates/_helpers.tpl
  infra/e2e/turing.values.yaml
Due: golangci-lint, goimports

Merge from main
  infra/charts/turing/charts/merlin-0.7.1.tgz
  infra/charts/turing/charts/mlp-1.0.1.tgz
Due: none

Update Postgres Dependency in Helm charts (#306)
  .github/actions/setup-test-cluster/action.yaml
  .github/workflows/turing.yaml
  infra/charts/turing/README.md
  infra/charts/turing/charts/merlin-0.7.1.tgz
  infra/charts/turing/charts/mlp-1.0.1.tgz
  infra/charts/turing/charts/postgresql-10.16.2.tgz
  infra/charts/turing/charts/postgresql-12.1.9.tgz
  infra/charts/turing/requirements.lock
  infra/charts/turing/requirements.yaml
  infra/charts/turing/subcharts/merlin/README.md
  infra/charts/turing/subcharts/merlin/charts/postgresql-10.16.2.tgz
  infra/charts/turing/subcharts/merlin/charts/postgresql-12.1.9.tgz
  infra/charts/turing/subcharts/merlin/requirements.lock
  infra/charts/turing/subcharts/merlin/requirements.yaml
  infra/charts/turing/subcharts/merlin/templates/_helpers.tpl
  infra/charts/turing/subcharts/merlin/templates/deployment.yaml
  infra/charts/turing/subcharts/merlin/templates/initialization-mlflow-db.yaml
  infra/charts/turing/subcharts/merlin/values.yaml
  infra/charts/turing/subcharts/mlp/README.md
  infra/charts/turing/subcharts/mlp/charts/postgresql-10.16.2.tgz
  infra/charts/turing/subcharts/mlp/charts/postgresql-12.1.9.tgz
  infra/charts/turing/subcharts/mlp/requirements.lock
  infra/charts/turing/subcharts/mlp/requirements.yaml
  infra/charts/turing/subcharts/mlp/templates/deployment.yaml
  infra/charts/turing/subcharts/mlp/values.yaml
  infra/charts/turing/templates/_helpers.tpl
  infra/charts/turing/values.minimal.yaml
  infra/charts/turing/values.yaml
Due: none

Add test suite
  .golangci.yml
  api/README.md
  api/turing/api/router_versions_api.go
  api/turing/api/routers_api.go
  api/turing/api/routers_api_test.go
  api/turing/service/mocks/router_versions_service.go
  api/turing/service/router_deployment_service.go
  api/turing/service/router_versions_service.go
  api/turing/service/router_versions_service_test.go
  api/turing/service/routers_service_test.go
Due: golangci-lint, goimports

Fix typo in comments
  api/turing/api/router_versions_api.go
Due: golangci-lint, goimports

Add DB connection config
  api/go.mod
  api/go.sum
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/testdata/config-1.yaml
Due: golangci-lint, goimports

Apply SQL connection defaults
  api/turing/database/database.go
Due: golangci-lint, goimports

Update chart
  infra/charts/turing/Chart.yaml
  infra/charts/turing/README.md
  infra/charts/turing/templates/_helpers.tpl
  infra/charts/turing/values.yaml
Due: none

Remove default config
  api/turing/config/config.go
Due: golangci-lint, goimports

Add router version service Deploy test case
  api/turing/service/mock_service/router_deployment_service.go
  api/turing/service/router_versions_service.go
  api/turing/service/router_versions_service_test.go
Due: golangci-lint, goimports

Modify setup docs to use without vault [WIP]
  README.md
  api/config-dev.yaml
  api/environments-dev.yaml
  infra/docker-compose/dev/extract_creds.sh
Due: none

Add DB connection configs (#312)
  api/go.mod
  api/go.sum
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/testdata/config-1.yaml
  api/turing/database/database.go
  infra/charts/turing/Chart.yaml
  infra/charts/turing/README.md
  infra/charts/turing/templates/_helpers.tpl
  infra/charts/turing/values.yaml
Due: golangci-lint, goimports

Modify readme, docker-compose in infra
  README.md
  infra/docker-compose/dev/docker-compose.yml
  infra/docker-compose/dev/extract_creds.sh
Due: none

WIP: Add Router Deployment Service Test
  api/turing/service/mock_service/event_service.go
  api/turing/service/mock_service/mlp_service.go
  api/turing/service/mock_service/router_versions_service.go
  api/turing/service/mock_service/routers_service.go
  api/turing/service/router_deployment_service_test.go
  api/turing/service/router_versions_service_test.go
Due: golangci-lint, goimports

Fix go dependencies
  api/go.mod
  api/go.sum
Due: none

Add gke-gcloud-auth-plugin to dockerfile (#310)
  api/Dockerfile
Due: none

Fix Postgres persistence values in the chart
  infra/charts/turing/Chart.yaml
  infra/charts/turing/README.md
  infra/charts/turing/charts/merlin-0.7.1.tgz
  infra/charts/turing/charts/mlp-1.0.1.tgz
  infra/charts/turing/subcharts/merlin/README.md
  infra/charts/turing/subcharts/merlin/values.yaml
  infra/charts/turing/subcharts/mlp/README.md
  infra/charts/turing/subcharts/mlp/values.yaml
  infra/charts/turing/values.yaml
  infra/e2e/turing.values.yaml
Due: none

fix json formatting of logs proto (#304)
  engines/router/missionctl/server/upi/logutils.go
  engines/router/missionctl/server/upi/logutils_test.go
Due: golangci-lint, goimports

Upgrade Knative Serving component to 1.7.4 (#305)
  .github/actions/run-cluster-init/action.yaml
  .github/workflows/cluster-init.yaml
  .github/workflows/turing.yaml
  infra/charts/turing-init/Chart.yaml
  infra/charts/turing-init/README.md
  infra/charts/turing-init/values.yaml
  infra/charts/turing/Chart.yaml
  infra/charts/turing/README.md
  infra/charts/turing/README.md.gotmpl
  infra/charts/turing/subcharts/merlin/README.md
  infra/charts/turing/subcharts/mlp/README.md
  infra/cluster-init/Dockerfile
  infra/cluster-init/cleanup.sh
  infra/cluster-init/init.sh
Due: none

Bugfix: Throw error when a router is created with an nop exp engine and a standard ensembler (#309)
  api/e2e/test/config/config.go
  api/go.mod
  api/turing/validation/validator.go
  api/turing/validation/validator_test.go
Due: golangci-lint, goimports

Update SDK authentication (#307)
  sdk/tests/fixtures/mlflow.py
  sdk/turing/session.py
Due: black

Remove vault dependency, use local mlpcluster lib
  api/turing/api/appcontext.go
  api/turing/cluster/controller.go
  api/turing/config/config.go
  api/turing/mlpcluster/cluster.go
  api/turing/server/application.go
Due: golangci-lint, goimports

Update mlp to use commit hash e6a444b970d0
  api/go.mod
  api/go.sum
Due: none

Modify test cases to handle refactor
  api/turing/api/appcontext_test.go
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/testdata/env-config-1.yaml
  api/turing/config/testdata/env-err.yaml
  api/turing/server/application.go
Due: golangci-lint, goimports

Update go.mod, go.sum, remove temp mlpcluster
  api/go.mod
  api/go.sum
  api/turing/api/appcontext.go
  api/turing/cluster/controller.go
  api/turing/config/config.go
  api/turing/mlpcluster/cluster.go
Due: golangci-lint, goimports

Fix go.mod
  api/go.mod
Due: none

Use latest mlp kube-config-generator commit
  api/go.mod
  api/turing/cluster/controller.go
Due: golangci-lint, goimports

Update go.sum
  api/go.sum
Due: none

Remove vault package and fields
  api/go.sum
  api/turing/config/config.go
  api/turing/config/config_test.go
  api/turing/config/testdata/config-1.yaml
  api/turing/vault/vault.go
Due: golangci-lint, goimports

Update mlp to use 05ede1, fix pr comments
  api/go.mod
  api/go.sum
  api/turing/api/appcontext.go
  api/turing/cluster/controller.go
Due: golangci-lint, goimports

Add helm resources for new changes
  infra/charts/turing/README.md
  infra/charts/turing/templates/_helpers.tpl
  infra/charts/turing/templates/deployment.yaml
  infra/charts/turing/templates/envs-secret.yaml
  infra/charts/turing/values.yaml
Due: none

Fix linter error
  api/turing/config/config_test.go
Due: golangci-lint, goimports

Move Ensemblingservicek8sconfig to ClusterConfig
  api/turing/api/appcontext.go
  api/turing/api/appcontext_test.go
  api/turing/config/config.go
  api/turing/config/config_test.go
Due: golangci-lint, goimports

Update test e2e action to use k8sConfig
  .github/actions/setup-test-cluster/action.yaml
  infra/e2e/turing.values.remote.yaml
Due: none

Fix setupcluster yq error
  .github/actions/setup-test-cluster/action.yaml
Due: none

Fix incorrect filepath
  .github/actions/setup-test-cluster/action.yaml
Due: none

Add step to print k8s logs
  .github/actions/setup-test-cluster/action.yaml
Due: none

Path conditions:
  golangci-lint: ((any of: ^api/ and \.go$) or (any of: ^engines/router/ and \.go$)) or (any of: ^engines/experiment/ and \.go$)
  goimports: any of: ^[api/|engines/router/|engines/experiment/] and \.go$ and not (pb.go)
  prettier: any of: ^ui/ and \.(js|mjs|cjs)$, \.css$
  openapi-bundle: any of: ^api/api/specs/
  openapi-gen: any of: ^api/api/specs/
  black: ((any of: ^sdk/ and \.py$) or (any of: ^engines/pyfunc-ensembler-job/ and \.py$)) or (any of: ^engines/pyfunc-ensembler-service/ and \.py$)
